<template>
  <div class="">
    <div
      class="flex flex-col h-screen justify-between bg-fuchsia-200 bg-blend-multiply overflow-y-scroll bg-[url('./assets/sd_lake_pyramids.webp')] bg-center bg-cover">
      <router-view class="overflow-y-scroll" /> <!-- pass products property to all views -->
    </div>
  </div>
</template>

<script setup>
import { useRoute } from 'vue-router'

const route = useRoute()


const vh = window.innerHeight * 0.01

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
