---
import { cn } from "@/lib/utils";
const { class: className, transparant } = Astro.props;
let optionalStyling = className ? className : "";
if (transparant) optionalStyling += " backdrop-blur-md transparent";
let cardStyling: string = cn(
  "bg-alternate-background/90 overflow-auto w-full md:h-full lg:h-full flex  h-screen sm:rounded-none lg:rounded-2xl md:rounded-2xl p-1 flex flex-col shadow-xl inner-shadow border border-solid ",
  optionalStyling,
);
---

<div class={cardStyling}>
  <slot />
</div>

