<div class="logo text-center text-4xl mb-8">Atitlan IO</div>

<style>

  .logo {
    font-family: "native";
    font-weight: bold;
    color: var(--textColor);
    text-decoration: none;
    text-shadow: var(--textColorAlternate) 1px 1px 3px;
  }

  @font-face {
    font-family: "native";
    src: url("/fonts/native.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>