<template>
  <div class="flex h-full">

    <!-- MODAL -->
    <Modal :filterList="filterList" :addonList="addonList" />

    <SlotModal></SlotModal>

    <div class="flex w-full">
      <!-- MODAL -->

      <span class="bg-blue-300 bg-blue-400 bg-blue-500 bg-blue-600 bg-blue-700 bg-blue-800 bg-blue-900 "></span>
      <!-- Levels SIDEBAR -->
      <!-- SIDEBAR -->
      <section class="w-[20rem]">
        <SidebarNav class="h-full" @logout="logout" :userTreeInfo="userTreeInfo" :items="pointer"
          :username="username" />
      </section>

      <!-- {{breadcrumbs}} -->
      <div v-for="crumb, index of breadcrumbs" :key="crumb">
        <div class="w-[2.5rem] px-1 h-screen " :class="`bg-blue-${9 - index}00`"
          style="writing-mode:vertical-lr; transform: rotate(180deg)">
          <h1 class="text-3xl text-white">{{ pluralize(levelNames[index + 1]) }}</h1>
        </div>
      </div>

      <!-- ======= -->


      <section class="w-full h-full mb-10">


        <!-- BREADCRUMBS -->
        <Breadcrumbs class="shadow-xl h-[3rem]" :breadcrumbs="breadcrumbs" />
        <!-- =========== -->



        <!-- ITEM TREE -->
        <div style="height: calc(100vh - 3rem)">
          <ItemTree :items="pointer" style="height: calc(100vh - 6rem); width: calc(100vw - 25rem)"
            class="flex flex-col px-8 py-12 mx-auto mt-6 overflow-y-scroll rounded-lg shadow-xl text-brown-500 bg-slate-300 shadow-brown-500" />
        </div>
        <!-- ======== -->


      </section>
    </div>
  </div>
</template>

<script setup>
import { onBeforeMount, ref } from 'vue'
import axios from 'axios'

import SidebarNav from '../components/SidebarNav.vue'
import Breadcrumbs from '../components/Breadcrumbs.vue'
import Modal from '../components/Modal.vue'
import SlotModal from '../components/SlotModal.vue'
import ItemTree from '../components/ItemTree.vue'
import { PlusIcon } from '@heroicons/vue/24/outline'

import { useRouter } from 'vue-router'
import { useUser } from '../composables/useUser'
import { useNav } from '../composables/useNav'

const router = useRouter()
// TODO maybe split useUser into another file called useRestaurant
const { username, getRestaurants, getUsername, getUserTree, userTree, userTreeInfo, getAddons, addonList, getFilters, filterList, setAuthToken, logout } = useUser()
const { pointer, breadcrumbs, levelNames, pluralize } = useNav()


onBeforeMount(async () => {

  // check to see if local storage has an authotken and verify it with the server against the logged in username
  if (localStorage.authToken) {
    const localToken = localStorage.authToken
    console.log('we got a token! ', localToken)
    await axios.post('users/checkToken', { username: username.value }, { headers: { "Authorization": `Bearer ${localToken}` }, })
      .then((res) => {
        setAuthToken(localToken)
      })
      .catch(() => {
        console.log('auth token mismatch, sending back to login and removing local token')
        localStorage.removeItem("authToken")
        router.push('/login')
      })
  } else {
    console.log('go log in!')
    router.push('/login')
  }

  try {
    await getUserTree()
    await getUsername()
  } catch (e) {
    console.log(e)
    router.push('/login')
  }
  await getFilters()
  // await getStores()
  await getAddons()

  pointer.value = userTree.value
})

</script>
