<template>
  <div class="flex flex-col justify-center mx-16 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-2xl">
      <!-- <img class="w-auto mx-auto" src="../assets/logo.svg" alt="AtitlanIO" /> -->
      <h2 class="mb-2 font-normal text-center text-blue-100 sm:text-lg md:text-xl lg:text-3xl"><span
          class="font-extrabold text-emerald-300">Sign in </span> to your account</h2>
      <!-- <p class="mt-2 text-sm text-center text-gray-600">
        Or
        {{ ' ' }}
        <a href="#" class="font-medium text-indigo-100 hover:text-indigo-500"> start your 14-day free trial </a>
      </p> -->
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <div class="px-4 py-8 bg-blue-200 shadow rounded-xl sm:rounded-lg sm:px-10">
        <form @submit.prevent="onSubmit" class="space-y-6" action="#" method="POST">
          <div>
            <label for="username" class="block text-sm font-bold text-gray-700"> Username </label>
            <div class="mt-1">
              <input id="username" v-model="username" name="username" type="username" autocomplete="username" required=""
                class="block w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-md shadow-sm appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
            </div>
          </div>

          <div>
            <label for="password" class="block text-sm font-bold text-gray-700"> Password </label>
            <div class="mt-1">
              <input id="password" v-model="password" name="password" type="password" autocomplete="current-password"
                required=""
                class="block w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-md shadow-sm appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
            </div>
          </div>

          <!-- <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox" class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" />
              <label for="remember-me" class="block ml-2 text-sm text-gray-900"> Remember me </label>
            </div>

            <div class="text-sm">
              <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> Forgot your password? </a>
            </div>
          </div> -->

          <div class="mt-4">
            <button type="submit"
              class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Sign
              in</button>
          </div>
        </form>
        <p class="mt-3">Don't have an account? <a href="/register">Register</a></p>

      </div>
    </div>
  </div>
</template>


<script setup>
import { ref, onMounted, onBeforeMount } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { useUser } from '../composables/useUser'

const { clearEverything, getAndStoreUser } = useUser()


const username = ref("")
const password = ref("")

const router = useRouter()

onMounted(() => {
  document.getElementById('username').focus()
})

const onSubmit = async () => {

  // remove any locally stored authToken after login
  clearEverything();
  localStorage.removeItem("authToken");

  if (!username || !password) {
    alert('username and password required')
    return
  }
  const loginForm = {
    username: username.value, // this can be e-mail or username (emailOrUsername is the variable name in the server)
    password: password.value
  }

  await getAndStoreUser(loginForm)
  console.log('retrieved')

  router.push('/cms')
}
</script>
