<template>
  <div class="flex flex-col mx-16 justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-2xl">
      <!-- <img class="mx-auto w-auto hidden sm:visible" src="../assets/logo.svg" alt="AtitlanIO" /> -->
      <!-- <p class="mt-2 text-blue-100 text-md">Menu App</p> -->
      <h2 class="mb-2 font-normal text-center text-blue-100 sm:text-lg md:text-xl lg:text-3xl"><span
          class="font-extrabold text-emerald-300">Register </span>an account</h2>
      <!-- <p class="mt-2 text-center text-sm text-gray-600">
        Or
        {{ ' ' }}
        <a href="#" class="font-medium text-indigo-100 hover:text-indigo-500"> start your 14-day free trial </a>
      </p> -->
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-blue-200 rounded-lg py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form @submit.prevent="onSubmit" class="space-y-6" action="#" method="POST">
          <div>
            <label for="username" class="block text-sm font-bold text-gray-700"> Username </label>
            <div class="mt-1">
              <input id="username" v-model="username" name="username" type="username" autocomplete="username" required=""
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
            </div>
          </div>

          <div>
            <label for="email" class="block text-sm font-bold text-gray-700"> E-mail </label>
            <div class="mt-1">
              <input id="email" v-model="email" name="email" type="email" autocomplete="current-email" required=""
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
            </div>
          </div>

          <div>
            <label for="password" class="block text-sm font-bold text-gray-700"> Password </label>
            <div class="mt-1">
              <input id="password" v-model="password" name="password" type="password" autocomplete="current-password"
                required=""
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
            </div>
          </div>

          <!-- <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" />
              <label for="remember-me" class="ml-2 block text-sm text-gray-900"> Remember me </label>
            </div>

            <div class="text-sm">
              <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> Forgot your password? </a>
            </div>
          </div> -->

          <div class="mt-4">
            <button type="submit"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Register</button>
          </div>
        </form>
        <p class="mt-3">Already have an account? <a href="/login">login</a></p>

      </div>
    </div>
  </div>
</template>


<script setup>
import { ref, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import axios from 'axios'

const router = useRouter()

const username = ref("")
const password = ref("")
const email = ref("")

onMounted(() => {
  document.getElementById('username').focus()
})

const onSubmit = (e) => {
  if (!username || !password) {
    alert('username and password required')
    return
  }
  const payload = {
    username: username.value,
    email: email.value,
    password: password.value
  }
  axios.post('users', payload)
    .then((res) => {
      router.push('/login')
    })
}
</script>
