<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<template>
  <router-link to="/cms">
    <div
      class="fixed flex justify-center items-center border-2 border-yellow-400 bottom-4 left-4 sm:bottom-8 sm:left-8 h-12 w-12 lg:h-16 lg:w-16 rounded-full bg-yellow-300 z-10">
      <ArrowUturnLeftIcon class="h-6 w-6 lg:h-8 lg:w-8 text-yellow-700" />
    </div>
  </router-link>
  <div
    class="absolute overflow-y-scroll inset-0 h-max px-32 py-16 2xl:px-96 2xl:py-32 w-screen rounded-lg bg-slate-100 space-y-10 divide-y divide-gray-900/10">
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-3">
      <div class="px-4 sm:px-0">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Profile</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">This information will be displayed publicly so be careful what you
          share.</p>
      </div>

      <form class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
        <div class="px-4 py-6 sm:p-8">
          <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

            <div class="sm:col-span-4">
              <label for="website" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
              <div class="mt-2">
                <div
                  class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input type="text" name="website" id="website"
                    class="block flex-1 border-0 bg-transparent pl-2 py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                    placeholder="Name" />
                </div>
              </div>
            </div>

            <div class="sm:col-span-4">
              <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Town</label>
              <div class="mt-2">
                <select id="country" name="country" autocomplete="country-name"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                  <option>San Marcos La Laguna</option>
                  <option>San Pedro La Laguna</option>
                </select>
              </div>
            </div>

            <div class="col-span-full">
              <label for="about" class="block text-sm font-medium leading-6 text-gray-900">Description</label>
              <div class="mt-2">
                <textarea id="about" name="about" rows="3"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
              </div>
              <p class="mt-3 text-sm leading-6 text-gray-600">Write a few sentences about your place.</p>
            </div>


            <div class="col-span-full">
              <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Banner Logo</label>
              <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                <div class="text-center">
                  <PhotoIcon class="mx-auto h-12 w-12 text-gray-300" aria-hidden="true" />
                  <div class="mt-4 flex text-sm leading-6 text-gray-600">
                    <label for="banner-logo-upload"
                      class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                      <span>Upload a file</span>
                      <input id="banner-logo-upload" name="banner-logo-upload" type="file" class="sr-only" />
                    </label>
                    <p class="pl-1">or drag and drop</p>
                  </div>
                  <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                </div>
              </div>
            </div>
            <div class="col-span-full">
              <label for="photo" class="block text-sm font-medium leading-6 text-gray-900">Small Logo</label>
              <div class="mt-2 flex items-center gap-x-3">
                <UserCircleIcon class="h-12 w-12 text-gray-300" aria-hidden="true" />
                <button type="button"
                  class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Change</button>
              </div>
            </div>
            <div class="col-span-full">
              <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Background
                Image</label>
              <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                <div class="text-center">
                  <PhotoIcon class="mx-auto h-12 w-12 text-gray-300" aria-hidden="true" />
                  <div class="mt-4 flex text-sm leading-6 text-gray-600">
                    <label for="background-image-upload"
                      class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                      <span>Upload a file</span>
                      <input id="background-image-upload" name="background-image-upload" type="file" class="sr-only" />
                    </label>
                    <p class="pl-1">or drag and drop</p>
                  </div>
                  <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
          <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
          <button type="submit"
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
        </div>
      </form>
    </div>

    <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-3">
      <div class="px-4 sm:px-0">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Design</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Customize the design of your restaurant</p>
      </div>

      <form class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
        <div
          class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

          <div class="sm:grid sm:grid-cols-3 sm:items-center sm:gap-4 sm:py-6">

            <label for="backgroundColor" class="block text-sm font-medium leading-6 text-gray-900">Background</label>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <div class="flex items-center gap-x-3">
                <color-picker v-model:pureColor="backgroundColor" shape="circle" format="rgb" />
                <p>Selected color: {{ backgroundColor }}</p>
              </div>
            </div>

            <label for="topbarColor" class="block text-sm font-medium leading-6 text-gray-900">Topbar</label>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <div class="flex items-center gap-x-3">
                <color-picker v-model:pureColor="topbarColor" shape="circle" format="rgb" />
                <p>Selected color: {{ topbarColor }}</p>
              </div>
            </div>

            <label for="sidebarColor" class="block text-sm font-medium leading-6 text-gray-900">Sidebar</label>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <div class="flex items-center gap-x-3">
                <color-picker v-model:pureColor="sidebarColor" shape="circle" format="rgb" />
                <p>Selected color: {{ sidebarColor }}</p>
              </div>
            </div>

            <label for="bottombarColor" class="block text-sm font-medium leading-6 text-gray-900">Bottombar</label>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <div class="flex items-center gap-x-3">
                <color-picker v-model:pureColor="bottombarColor" shape="circle" format="rgb" />
                <p>Selected color: {{ bottombarColor }}</p>
              </div>
            </div>

            <label for="iconColor" class="block text-sm font-medium leading-6 text-gray-900">Icons (shopping cart,
              etc)</label>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <div class="flex items-center gap-x-3">
                <color-picker v-model:pureColor="iconsColor" shape="circle" format="rgb" />
                <p>Selected color: {{ iconsColor }}</p>
              </div>
            </div>

          </div>
          <div class="sm:grid sm:grid-cols-3 sm:items-center sm:gap-4 sm:py-6">

            <label for="categoryColor" class="block text-sm font-medium leading-6 text-gray-900">Category</label>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <div class="flex items-center gap-x-3">
                <color-picker v-model:pureColor="categoryColor" shape="circle" format="rgb" />
                <p>Selected color: {{ categoryColor }}</p>
              </div>
            </div>

            <label for="subcategoryColor" class="block text-sm font-medium leading-6 text-gray-900">Subcategory</label>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <div class="flex items-center gap-x-3">
                <color-picker v-model:pureColor="subcategoryColor" shape="circle" format="rgb" />
                <p>Selected color: {{ subcategoryColor }}</p>
              </div>
            </div>

            <label for="menuTextColor" class="block text-sm font-medium leading-6 text-gray-900">Menu Text</label>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <div class="flex items-center gap-x-3">
                <color-picker v-model:pureColor="menuTextColor" shape="circle" format="rgb" />
                <p>Selected color: {{ menuTextColor }}</p>
              </div>
            </div>

          </div>

        </div>
      </form>
    </div>

    <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-3">
      <div class="px-4 sm:px-0">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Payment Information</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Input the keys for your payment methods here</p>
      </div>

      <form class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
        <div class="px-4 py-6 sm:p-8">
          <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-5 bg-orange-100 rounded-lg p-4 space-y-4">

              <div class="sm:col-span-4">
                <label for="website" class="block text-sm font-medium leading-6 text-gray-900">BTCPay URL</label>
                <div class="mt-2">
                  <div
                    class="flex bg-white rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">https://</span>
                    <input type="text" name="website" id="website"
                      class="block flex-1 border-0 bg-transparent rounded-md py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                      placeholder="btcpay.atitlan.io" />
                  </div>
                </div>
              </div>

              <div>
                <label for="recPubKey" class="block text-sm font-medium leading-6 text-gray-900">BTCPay storeId</label>
                <div class="mt-2">
                  <input id="recPubKey" name="recPubKey" type="text"
                    placeholder="61RbUYngikcSH8qFfT1zs5XkMt1SmSGwej2Kx6SYV9n8"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                </div>
              </div>

            </div>
            <div class="sm:col-span-5 bg-fuchsia-100 rounded-lg p-4 space-y-4">
              <div>
                <label for="recPubKey" class="block text-sm font-medium leading-6 text-gray-900">Recurrente
                  Pubkey</label>
                <div class="mt-2">
                  <input id="recPubKey" name="recPubKey" type="text"
                    placeholder="pk_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                </div>
              </div>
              <div>
                <label for="recSecKey" class="block text-sm font-medium leading-6 text-gray-900">Recurrente Secret
                  Key</label>
                <div class="mt-2">
                  <input id="recSecKey" name="recSecKey" type="text"
                    placeholder="sk_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
          <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
          <button type="submit"
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
        </div>
      </form>
    </div>

    <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-3">
      <div class="px-4 sm:px-0">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Notifications</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Receive order confirmations</p>
      </div>

      <form class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
        <div class="px-4 py-6 sm:p-8">
          <div class="max-w-2xl space-y-10">
            <fieldset>
              <legend class="text-sm font-semibold leading-6 text-gray-900">By Email</legend>
              <div class="mt-6 space-y-6">
                <div class="relative flex gap-x-3">
                  <div class="flex h-6 items-center">
                    <input id="comments" name="comments" type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
                  </div>
                  <div class="text-sm leading-6">
                    <label for="comments" class="font-medium text-gray-900">Comments</label>
                    <p class="text-gray-500">Get notified when someones posts a comment on a posting.</p>
                  </div>
                </div>
                <div class="relative flex gap-x-3">
                  <div class="flex h-6 items-center">
                    <input id="candidates" name="candidates" type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
                  </div>
                  <div class="text-sm leading-6">
                    <label for="candidates" class="font-medium text-gray-900">Candidates</label>
                    <p class="text-gray-500">Get notified when a candidate applies for a job.</p>
                  </div>
                </div>
                <div class="relative flex gap-x-3">
                  <div class="flex h-6 items-center">
                    <input id="offers" name="offers" type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
                  </div>
                  <div class="text-sm leading-6">
                    <label for="offers" class="font-medium text-gray-900">Offers</label>
                    <p class="text-gray-500">Get notified when a candidate accepts or rejects an offer.</p>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend class="text-sm font-semibold leading-6 text-gray-900">Push Notifications</legend>
              <p class="mt-1 text-sm leading-6 text-gray-600">These are delivered via SMS to your mobile phone.</p>
              <div class="mt-6 space-y-6">
                <div class="flex items-center gap-x-3">
                  <input id="push-everything" name="push-notifications" type="radio"
                    class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" />
                  <label for="push-everything"
                    class="block text-sm font-medium leading-6 text-gray-900">Everything</label>
                </div>
                <div class="flex items-center gap-x-3">
                  <input id="push-email" name="push-notifications" type="radio"
                    class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" />
                  <label for="push-email" class="block text-sm font-medium leading-6 text-gray-900">Same as email</label>
                </div>
                <div class="flex items-center gap-x-3">
                  <input id="push-nothing" name="push-notifications" type="radio"
                    class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" />
                  <label for="push-nothing" class="block text-sm font-medium leading-6 text-gray-900">No push
                    notifications</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
          <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
          <button type="submit"
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { PhotoIcon, UserCircleIcon } from '@heroicons/vue/24/solid'
import { ArrowUturnLeftIcon } from '@heroicons/vue/24/outline'
import { ColorPicker } from 'vue3-colorpicker';
import 'vue3-colorpicker/style.css'
const backgroundColor = ref('rgb(255, 255, 255)');
const topbarColor = ref('rgb(255, 255, 255)');
const sidebarColor = ref('rgb(255, 255, 255)');
const bottombarColor = ref('rgb(255, 255, 255)');
const iconsColor = ref('rgb(255, 255, 255)');
const categoryColor = ref('rgb(255, 255, 255)');
const subcategoryColor = ref('rgb(255, 255, 255)');
const menuTextColor = ref('rgb(255, 255, 255)');
</script>



<style>
.bg-homepage {
  background-color: rgb(0, 0, 0);
  background-image: url('https://emporium.atitlan.io/background-image.svg');
  background-size: 500px 221px;
}

.text-icons {
  color: white
}

.bg-side-bar,
.bg-top-bar {
  background-color: rgba(134, 99, 24, .75)
}

.bg-bottom-bar {
  background-color: rgba(134, 99, 24, .95)
}

.bg-category {
  background-color: rgba(0, 0, 0, .5)
}

.bg-ulist {
  background-color: rgba(0, 0, 0, 1);
}

.text-menu-items {
  color: white;
}

.text-cat-color {
  color: white;
}

.text-subcat-color {
  color: white;
}

.text-item-color {
  color: white;
}

.text-price-color {
  color: white;
}

.text-drop-shadow {
  text-shadow: 0px 0px 1px yellow;
}
</style>
