@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .aio-card {
    @apply rounded-3xl border
    bg-card/5 ring-[1px] ring-ring/10 drop-shadow-md backdrop-blur-sm;;
  }

  .mask-image-gradient-to-bottom {
    -webkit-mask-image: radial-gradient(
      ellipse at bottom center,
      white 0%,
      white 25%,
      transparent 65%
    );
    mask-image: radial-gradient(
      ellipse at bottom center,
      white 0%,
      white 25%,
      transparent 65%
    );
  }

  .mask-image-gradient-to-top {
    -webkit-mask-image: radial-gradient(
      ellipse at top center,
      white 0%,
      white 25%,
      transparent 65%
    );
    mask-image: radial-gradient(
      ellipse at top center,
      white 0%,
      white 25%,
      transparent 65%
    );
  }

  .mask-image-linear-gradient-to-bottom {
    -webkit-mask-image: linear-gradient(
      circle at bottom,
      transparent 25%,
      rgba(0, 0, 0, 1) 100%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent 25%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .mask-image-linear-gradient-to-top {
    -webkit-mask-image: linear-gradient(
      to top,
      transparent 25%,
      rgba(0, 0, 0, 1) 100%
    );
    mask-image: linear-gradient(to top, transparent 25%, rgba(0, 0, 0, 1) 100%);
  }
}

@layer base {
  @font-face {
    font-family: 'urbanist';
    font-display: 100 900;
    src:
      url('/fonts/urbanist-variable.woff2') format('woff2 supports variations'),
      url('/fonts/urbanist-variable.woff2') format('woff2-variations');
  }

  @font-face {
    font-family: 'josefin';
    font-weight: 100 900;
    font-stretch: 75% 125%;
    src:
      url('/fonts/josefin-variable.woff2') format('woff2 supports variations'),
      url('/fonts/josefin-variable.woff2') format('woff2-variations');
  }

  @font-face {
    font-family: 'inter';
    font-weight: 100 900;
    font-stretch: 75% 125%;
    src:
      url('/fonts/inter-variable.woff2') format('woff2 supports variations'),
      url('/fonts/inter-variable.woff2') format('woff2-variations');
  }

  @font-face {
    font-family: 'robotmono';
    font-weight: 100 900;
    font-stretch: 75% 125%;
    src:
      url('/fonts/robot-mono-variable.woff2')
        format('woff2 supports variations'),
      url('/fonts/robot-mono-variable.woff2') format('woff2-variations');
  }
}

@layer base {
  :root {
    --background: 130 25% 89%;
    --foreground: hsl(210, 80%, 5%);

    --alternate-background: hsl(210, 25%, 82%);
    --alternate-foreground: hsl(210, 40%, 20%);

    /* Used for the subtle background illustrations */
    --muted-illustration: hsl(210, 20%, 97%);

    --muted: hsl(210, 40%, 95%);
    --muted-foreground: hsl(211, 40%, 20%);

    /* Used in header, footer and popups */
    --popover: hsl(130, 25%, 89%);
    --popover-foreground: hsl(210, 25%, 10%);

    --card: 130 20% 99%;
    --card-foreground: hsl(210, 84%, 5%);

    --ring: 210 84% 5%;
    --border: 210 27% 85%;
    --input: 210 30% 85%;

    --primary: 290 70% 67%;
    --primary-foreground: hsl(210, 84%, 98%);

    --secondary: 232 99% 77%;
    --secondary-foreground: hsl(210, 40%, 98%);

    --accent: hsl(130, 25%, 87%);
    --accent-foreground: hsl(210, 11%, 15%);

    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(210, 40%, 96%);

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 59% 12%;
    --foreground: hsl(210, 40%, 98%);

    --alternate-background: hsl(210, 59%, 9%);
    --alternate-foreground: hsl(210, 40%, 93%);

    --muted-illustration: hsl(74, 34%, 88%);

    --muted: hsl(210, 30%, 17.5%);
    --muted-foreground: hsl(210, 20.2%, 65.1%);

    --popover: hsl(210, 59%, 12%);
    --popover-foreground: hsl(210, 40%, 98%);

    --card: 210 84% 25.9%;
    --card-foreground: hsl(210, 40%, 98%);

    --ring: 210 26.8% 83.9%;
    --border: 210 30% 17.5%;
    --input: hsl(210, 30%, 17.5%);

    --primary: 290 70% 48%;
    --primary-foreground: hsl(210, 40%, 98%);

    --secondary: 232 99% 72%;
    --secondary-foreground: hsl(210, 40%, 98%);

    --accent: hsl(210, 30%, 17.5%);
    --accent-foreground: hsl(210, 40%, 98%);

    --destructive: hsl(0, 62.8%, 30%);
    --destructive-foreground: hsl(210, 40%, 98%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
