<script setup lang="ts">
import { type HTMLAttributes, computed } from 'vue';
import {
  ProgressIndicator,
  ProgressRoot,
  type ProgressRootProps,
} from 'radix-vue';
import { cn } from '@/lib/utils';

const props = withDefaults(
  defineProps<
    ProgressRootProps & {
      class?: HTMLAttributes['class'];
      id?: HTMLAttributes['id'];
    }
  >(),
  {
    modelValue: 0,
  }
);

const delegatedProps = computed(() => {
  const { class: _, ...delegated } = props;

  return delegated;
});
</script>

<template>
  <ProgressRoot
    v-bind="delegatedProps"
    :id="props.id"
    :class="
      cn(
        'relative h-4 w-full overflow-hidden rounded-full bg-gradient-to-tr from-primary/45 to-secondary/45 transition-all',
        props.class
      )
    ">
    <ProgressIndicator
      class="h-full w-full flex-1 bg-gradient-to-tr from-primary/85 to-secondary/85 transition-all"
      :style="`transform: translateX(-${100 - (props.modelValue ?? 0)}%);`" />
  </ProgressRoot>
</template>
