<template>
    <div class="button-container mt-2 p-2">
        <h1 class="ml-3 font-semibold text-xl mb-1">Apps</h1>
        <div class="grid grid-cols-3 gap-3">
            <cardButton
                class="bg-alternate-background w-full cursor-pointer border border-background rounded-3xl p-2 outline-none h-32 overflow-hidden transition-shadow duration-300 ease-in-out flex flex-col items-center justify-center"
                v-for="(item, index) in allLabels" :key="index" :img="item.img" :enabledText="item.label" />
        </div>
    </div>
</template>

<script setup lang="ts">
import cardButton from '@/components/elements/buttons/card-button.vue';
import { Label } from 'radix-vue';

const labels = [
    { label: 'POS', img: '../../../../pos.svg' },
    { label: '', img: '' },
    { label: '', img: '' }
];

const labelsSecondRow = [
    { label: '', img: '' },
    { label: '', img: '' },
    { label: '', img: '' }
];

const allLabels = [...labels, ...labelsSecondRow];
</script>