<template>
  <div class="flex mt-2 justify-evenly flex-wrap">
    <div v-for="(item, index) in buttons" :key="index" class="flex flex-col items-center m-2">
      <circleButton :img="item.img" class="hover:bg-purple-light p-3 align-center button flex justify-evenly items-center w-16 h-16 text-[#0dc5c1] bg-[#8386c9] rounded-full border-none overflow-hidden">
      </circleButton>
      <div class="text-center text-1xl mt-1 font-semibold text-[#8386c9]">
        {{ item.label }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import circleButton from '../buttons/circle-button.vue';

const buttons = [
  { label: 'Send', img: 'money-send.svg' },
  
  { label: 'Scan', img: 'qr.svg' },
  { label: 'Receive', img: 'money-recive.svg' },
];
</script>
