<template>
  <Carousel class="overflow-hidden">
    <CarouselContent class="" >
      <CarouselItem v-for="(item, index) in wallets" :key="index" class="rounded-2xl w-full h-[25vh] md:h-[40vh] max-h-60 basis-[85%] bg-background"
        :style="{ backgroundImage: getGradient(item.walletIndex) }">

        <h1 class="text-white mt-10 fixed text-2xl font-display  z-10 ml-8">{{ item.name }}</h1>

        <p class="text-center mt-24 mr-8  font-display text-white text-6xl">
          {{ item.displayBalance.amount }} {{ item.displayBalance.currency }}
        </p>
      </CarouselItem>
    </CarouselContent>
  </Carousel>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';
import { Carousel, CarouselContent, CarouselItem, CarouselNext, CarouselPrevious } from '@/components/ui/carousel';

type WalletGeneralInfo = {
  walletIndex: number;
  name: string;
  displayBalance: {
    amount: number;
    currency: string;
  };
};

const props = defineProps<{ wallets: WalletGeneralInfo[] }>();

function getGradient(index: number) {
  const gradients = [
    'linear-gradient(90deg, #9e8be7, #5b7dc1)',
    ];

  return gradients[index % gradients.length];
}
</script>


