<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <nav class="flex" aria-label="Breadcrumb">
    <ol role="list" class="flex px-6 space-x-4 bg-transparent rounded-r-lg">
      <li class="flex">
        <div class="flex items-center my-auto">
          <a @click="$emit('goBack', breadcrumbs.length)" class="text-gray-400 hover:text-gray-400"
            style="cursor : pointer;">
            <HomeIcon class="flex-shrink-0 w-5 h-5" aria-hidden="true" />
            <span class="sr-only">Home</span>
          </a>
        </div>
      </li>
      <li v-for="(crumb, index) in breadcrumbs" :key="crumb.split('-')[0]" class="flex">
        <div class="flex items-center">
          <svg class="flex-shrink-0 w-6 h-full text-gray-500" viewBox="0 0 24 44" preserveAspectRatio="none"
            fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
          </svg>
          <!-- <span class="text-white">{{index}}</span> -->
          <!-- <span class="text-white">{{breadcrumbs.length}}</span> -->
          <a :href="crumb.href" @click="$emit('goBack', breadcrumbs.length - index - 1)"
            :style="index === (breadcrumbs.length - 1) ? '' : 'cursor : pointer;'"
            :class="index === (breadcrumbs.length - 1) ? 'text-green-400' : 'text-gray-200 hover:text-gray-300'"
            class="ml-4 text-sm font-medium" :aria-current="crumb.current ? 'crumb' : undefined">{{ crumb.split('-')[1]
            }}</a>
        </div>
      </li>
    </ol>
  </nav>
</template>

<script setup>
import { HomeIcon } from '@heroicons/vue/20/solid'

const props = defineProps({
  breadcrumbs: Object,
});

</script>
