<template>
    <div class="mx-auto bg-blue-300 rounded-xl">
        <div class="px-4 py-12 mx-auto max-w-7xl sm:py-16 sm:px-6 lg:px-8">
            <div class="max-w-3xl mx-auto divide-y-2 divide-blue-100">
                <h2 class="text-3xl font-bold tracking-tight text-center text-blue-900 sm:text-4xl">{{ title }}</h2>
                <dl class="mt-6 space-y-6 divide-y divide-blue-200">
                    <Disclosure as="div" v-for="faq in faqs" :key="faq.question" class="pt-6" v-slot="{ open }">
                        <dt class="text-lg">
                            <DisclosureButton class="flex items-start justify-between w-full text-center text-blue-400">

                                <span class="flex text-2xl font-bold text-blue-800">
                                    <p>{{ faq.question }}</p>
                                    <img v-if="faq.icon" class="ml-3 h-6 w-6 flex items-center drop-shadow-md"
                                        :src="faq.icon" />
                                </span>


                                <span class="flex items-center ml-6 h-7">
                                    <ChevronDownIcon
                                        :class="[open ? '-rotate-180' : 'rotate-0', 'h-6 w-6 transform text-blue-700']"
                                        aria-hidden="true" />
                                </span>
                            </DisclosureButton>
                        </dt>
                        <DisclosurePanel as="dd" class="pr-12 mt-2">
                            <p class="text-base text-blue-800">{{ faq.answer }}</p>
                            <br>
                            <div class="flex justify-center drop-shadow">
                                <LinkIcon class="w-4 text-blue-50 mr-1" />
                                <a if="faq.source" :href="faq.source" target="_blank" class="text-sm text-blue-50">{{
                                    faq.question
                                }}
                                </a>
                            </div>
                        </DisclosurePanel>
                    </Disclosure>
                </dl>
            </div>
        </div>
    </div>
</template>
  
<script setup>
import { Disclosure, DisclosureButton, DisclosurePanel } from '@headlessui/vue'
import { ChevronDownIcon, LinkIcon } from '@heroicons/vue/24/outline'

const props = defineProps({
    title: String,
    faqs: Array
})

const title = props.title
const faqs = props.faqs

//   const faqs = [
//     {
//       question: "What's the best thing about Switzerland?",
//       answer:
//         "I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
//     },
//     // More questions...
//   ]
</script>
