<template>
    <header class="">
        <router-link to="/"><img
                class="max-h-12 w-4/5 lg:w-2/5 mt-2 md:mt-4 lg:mt-6 px-2 mx-auto drop-shadow-[0px_0px_3px_rgba(255,255,255,1)]"
                src="../assets/logo.svg" alt="AtitlanIO" /></router-link>
        <p class="mt-2 mb-2 text-xs text-gray-300 sm:text-sm md:mt-4 lg:mt-6">
            <span class="mr-2 text-sm lg:mr-3">🔧</span>Open-Source Platform in
            Development<!--<span class="mx-4 text-2xl sm:text-3xl">🔨</span>-->
            <!-- 🛠  &#9874; -->
        </p>
        <nav class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8" aria-label="Top">
            <!-- <div class="flex items-center justify-between w-full py-6 border-b border-blue-500 lg:border-none"> -->
            <div
                class="flex items-center justify-center w-full border-b border-blue-500 lg:justify-around md:py-2 lg:py-4 lg:border-none">
                <a class="hidden" href="/">
                    <!-- <volcano v-if=" route.path === '/' " class="w-auto h-12 fill-orange-300" /> -->
                    <img v-if="route.path === '/'" class="w-12" src="../assets/volcano.svg" />
                    <img v-else class="w-64" src="../assets/logo.svg" />
                    <span class="sr-only">Atitlan.IO</span>
                </a>
                <div class="flex items-center">

                    <!--=-=-=-=-=-=-=-=-=-=-=-=-=-= START nav links -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
                    <!-- <div class="hidden ml-24 space-x-32 lg:block"> -->
                    <div class="hidden space-x-32 text-lg lg:block">
                        <!-- <router-link to="/" v-if=" route.path != '/' " class="font-medium text-white hover:text-blue-50">Home</router-link> -->
                        <router-link v-for="link in navigation" :key="link.name" :to="link.href"
                            class="font-medium text-white hover:text-blue-100 hover:drop-shadow-[0px_0px_5px_rgba(0,255,255,.5)]">{{
                                link.name }}</router-link>
                    </div>
                    <!--=-=-=-=-=-=-=-=-=-=-=-=-=-= END nav links -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->

                </div>
                <!-- <div class="space-x-4"> -->
                <!-- class="flex" -->
                <!-- <router-link to="/login" class="inline-block px-4 py-2 text-base font-medium text-white bg-blue-600 border border-transparent rounded-md hover:bg-opacity-75">Sign in</router-link> -->
                <!-- <router-link to="/register" class="inline-block px-4 py-2 text-base font-medium text-blue-700 bg-white border border-transparent rounded-md hover:bg-blue-50">Sign up</router-link> -->
                <!-- <a to="#" class="inline-block px-4 py-2 text-base font-medium text-gray-600 bg-gray-400 border border-transparent rounded-md opacity-40">Sign up</a> -->
                <!-- </div> -->
            </div>
            <div class="flex flex-wrap justify-center py-4 space-x-6 text-sm lg:hidden">
                <!-- <router-link to="/" v-if=" route.path != '/' " class="font-medium text-white hover:text-blue-50">Home</router-link> -->
                <router-link v-for="link in navigation" :key="link.name" :to="link.href"
                    class="font-medium text-white hover:text-blue-50">{{ link.name }}</router-link>
            </div>
        </nav>
    </header>
</template>
  
<script setup>
import { useRoute } from 'vue-router'
import { defineComponent, h } from 'vue'

const route = useRoute()

const volcano = defineComponent({
    render: () =>
        h('svg', { fill: 'white', viewBox: '0 0 60 60' }, [
            h('path', {
                'fill-rule': 'evenodd',
                d: "m 40.445,46.168 c -0.220687,0.147173 -0.373858,0.375998 -0.425808,0.636121 -0.05195,0.260123 0.0016,0.530229 0.148808,0.750879 l 4,6 c 0.198282,0.297245 0.540081,0.466128 0.896644,0.443033 0.356563,-0.02309 0.67372,-0.23466 0.832,-0.555 0.158281,-0.32034 0.133638,-0.700788 -0.06464,-0.998033 l -4,-6 C 41.684827,46.224313 41.456002,46.071142 41.195879,46.019192 40.935756,45.967243 40.66565,46.020772 40.445,46.168 Z m -23.277,0.277 -4,6 c -0.306518,0.459501 -0.182501,1.080482 0.277,1.387 0.459501,0.306518 1.080482,0.182501 1.387,-0.277 l 4,-6 c 0.306518,-0.459501 0.182501,-1.080482 -0.277,-1.387 -0.459501,-0.306518 -1.080482,-0.182501 -1.387,0.277 z M 38,3 c 0,1.6568543 -1.343146,3 -3,3 -0.552285,0 -1,0.4477152 -1,1 0,0.5522847 0.447715,1 1,1 2.760053,-0.00331 4.996694,-2.2399469 5,-5 0,-0.5522847 -0.447715,-1 -1,-1 -0.552285,0 -1,0.4477153 -1,1 z m 8,13 C 49.63983,15.9957 52.670649,13.206002 52.976,9.579 55.154333,8.6436362 56.374374,6.305235 55.895427,3.9834581 55.41648,1.6616811 53.37066,-0.0030232 51,0 c -0.552285,0 -1,0.44771525 -1,1 0,0.5522848 0.447715,1 1,1 1.656854,0 3,1.3431458 3,3 C 53.9961,5.9361271 53.551453,6.8157277 52.8,7.374 52.045949,4.2275256 49.23556,2.0064921 46,2 c -0.552285,0 -1,0.4477153 -1,1 0,0.5522848 0.447715,1 1,1 2.164089,-0.00609 4.086464,1.3807237 4.76327,3.4362649 0.676806,2.0555412 -0.0456,4.3131781 -1.789976,5.5939831 -1.744378,1.280805 -4.11474,1.294023 -5.873294,0.03275 -0.234515,-0.166238 -0.528708,-0.224786 -0.809,-0.161 -0.280047,0.06478 -0.518674,0.246942 -0.655,0.5 -0.637646,1.223996 -2.030833,1.851775 -3.370146,1.51861 C 36.926541,14.587445 35.989859,13.380092 36,12 c 0,-0.552285 -0.447715,-1 -1,-1 -0.552285,0 -1,0.447715 -1,1 0.0033,2.760053 2.239947,4.996694 5,5 0.131174,-1.32e-4 0.261018,-0.0263 0.382,-0.077 0.399027,0.619613 0.613384,1.340032 0.618,2.077 0,2.209139 -1.790861,4 -4,4 -0.905224,-0.0035 -1.781664,-0.318438 -2.482,-0.892 -0.431334,-0.345178 -1.060822,-0.275334 -1.406,0.156 -0.345178,0.431334 -0.275334,1.060822 0.156,1.406 0.5203,0.417528 1.105345,0.747208 1.732,0.976 V 31 l -1.15,0.863 -4.478,-1.792 c -0.306584,-0.121573 -0.653397,-0.08416 -0.927,0.1 L 25.034,31.778 24,31 v -7.273 c 0.1,-0.027 0.2,-0.039 0.3,-0.069 0.704653,1.994044 2.585141,3.33119 4.7,3.342 0.552285,0 1,-0.447715 1,-1 0,-0.552285 -0.447715,-1 -1,-1 C 27.438281,24.9904 26.145143,23.784273 26.027,22.227 26.00198,21.898268 25.816545,21.602989 25.531302,21.43768 25.246059,21.27237 24.897666,21.258275 24.6,21.4 23.79011,21.794756 22.900974,21.999942 22,22 c -3.312338,-0.0033 -5.996693,-2.687662 -6,-6 0,-0.115 0.008,-0.238 0.017,-0.361 1.58024,-0.569952 2.847682,-1.778595 3.492,-3.33 0.754204,0.447534 1.614025,0.686047 2.491,0.691 0.552285,0 1,-0.447715 1,-1 0,-0.552285 -0.447715,-1 -1,-1 -1.656854,0 -3,-1.3431458 -3,-3 0,-0.5522848 -0.447715,-1 -1,-1 -0.552285,0 -1,0.4477152 -1,1 3.3e-5,1.0140479 0.310627,2.003762 0.89,2.836 -0.320769,1.5266 -1.50441,2.724709 -3.027,3.064 C 13.326028,14.252854 11.726874,13.653811 10.8,12.378 10.640858,12.164131 10.402909,12.022658 10.139,11.985 9.8753016,11.949532 9.6082047,12.018819 9.395,12.178 8.708322,12.707063 7.8668432,12.995871 7,13 5.114009,12.999883 3.4843284,11.6824 3.089076,9.8382912 2.6938236,7.9941823 3.6403965,6.1245246 5.3606712,5.3514678 7.080946,4.5784109 9.1074933,5.1120082 10.224,6.632 10.434096,6.9240937 10.784914,7.0808012 11.142659,7.0423576 11.500403,7.0039139 11.809916,6.7762465 11.953154,6.446183 12.096393,6.1161196 12.051272,5.734551 11.835,5.447 11.03457,4.3671968 9.8957391,3.5863851 8.6,3.229 9.1574428,2.45912 10.049499,2.0023129 11,2 11.552285,2 12,1.5522847 12,1 12,0.44771525 11.552285,0 11,0 9.0042338,0.00112047 7.2014932,1.1924558 6.418,3.028 3.2313151,3.3369411 0.84858937,6.0934884 1.0040478,9.2913373 1.1595062,12.489186 3.798375,15.001616 7,15 c 0.9842894,1.75e-4 1.9528806,-0.2467 2.817,-0.718 1.111879,1.103903 2.6162,1.721743 4.183,1.718 0.005,4.416222 3.583778,7.99504 8,8 v 5.5 L 21.6,29.2 C 21.349221,29.011663 21.02461,28.951888 20.723193,29.038541 20.421776,29.125193 20.178471,29.348235 20.066,29.641 L 15.117,42.511 3.2,58.4 C 2.9727368,58.703018 2.9361808,59.10843 3.1055728,59.447214 3.2749648,59.785998 3.6212279,60 4,60 h 50 c 0.371172,-1.5e-4 0.711725,-0.205872 0.884562,-0.534347 C 55.057399,59.137179 55.034083,58.739996 54.824,58.434 L 43.872,42.5 37.908,29.581 C 37.781461,29.30678 37.537772,29.104436 37.244966,29.030458 36.952159,28.95648 36.641604,29.018793 36.4,29.2 L 36,29.5 V 25 c 3.312338,-0.0033 5.996693,-2.687662 6,-6 10e-4,-0.907939 -0.209535,-1.803626 -0.615,-2.616 0.539009,-0.296751 1.018692,-0.690328 1.415,-1.161 0.988952,0.511792 2.086467,0.778283 3.2,0.777 z m 6.1,42 H 6 L 16.8,43.6 c 0.05504,-0.07411 0.10009,-0.15514 0.134,-0.241 l 0.023,-0.062 c 0.579834,0.46241 1.3014,0.710702 2.043,0.703 2.529,0 3.46,-1.7 4.282,-3.195 0.373016,-0.764031 0.852823,-1.471114 1.425,-2.1 0.3,-0.3 0.75,-0.633 1.163,-0.463 0.548,0.229 1.13,1.272 1.13,2.758 -0.04451,1.077636 0.33288,2.130167 1.052,2.934 0.631081,0.681952 1.518853,1.068539 2.448,1.066 1.739,0 3.5,-1.374 3.5,-4 0,-1.736 0.5,-2.562 0.974,-2.758 0.492692,-0.114851 1.007265,0.06656 1.319,0.465 0.182901,0.199863 0.35482,0.409504 0.515,0.628 0.83,1.073 2.446,3.156 4.647,2.7 l 0.637,1.379 c 0.02364,0.05137 0.05175,0.100556 0.084,0.147 z m -15.49,-26.458 3.922,8.5 c -0.65,-0.166 -1.3,-0.839 -2.143,-1.928 -0.211088,-0.285493 -0.438816,-0.558299 -0.682,-0.817 -0.872168,-0.988616 -2.259121,-1.345261 -3.5,-0.9 C 33.384,36.736 32,37.789 32,41 c 0,1.381 -0.753,2 -1.5,2 -0.747,0 -1.5,-0.619 -1.5,-2 0,-2.2 -0.928,-4.009 -2.365,-4.6 -1.192432,-0.432338 -2.527941,-0.07268 -3.342,0.9 -0.709268,0.759598 -1.303869,1.618653 -1.765,2.55 C 20.729,41.3 20.288,42 19,42 18.465169,42.0025 17.97942,41.68865 17.762,41.2 l 3.7,-9.611 2.938,2.211 c 0.33926,0.254515 0.802168,0.26734 1.155,0.032 l 2.562,-1.708 4.511,1.8 c 0.323619,0.12972 0.691313,0.08281 0.972,-0.124 z",
                'clip-rule': 'evenodd',
            }),


        ]),
})


const navigation = [


    { name: 'About', href: '/about' },
    { name: 'Projects', href: '/projects' },
    { name: 'Partners', href: '/partners' },
]

const doThing = function () {
    route.push('/partners')
}


</script>
      <!-- <path
         id="Shape"
         d=""
         style="fill:#e6e6e6" />
      <path
         id="path3"
         d=""
         style="fill:#e6e6e6" />
      <path
         id="path5"
         d=""
         style="fill:#e6e6e6" />
      <path
         id="path7"
         d=""
         style="fill:#e6e6e6" /> -->
