<template>
  <render />
</template>

<script setup>
import { h, ref, watch } from 'vue'
import axios from 'axios'
import draggable from 'vuedraggable'
import { ChevronDownIcon, ChevronUpIcon } from "@heroicons/vue/20/solid";
import { useModal } from '../composables/useModal.js'
import { useUser } from '../composables/useUser.js'
import { useNav } from '../composables/useNav'

const { breadcrumbs } = useNav()

const { headers, getUserTree } = useUser()

const { toggleModal } = useModal()

// fillBools creates an array the size of the number of nodes in props.items
// this is so that branches can collapse their children
let bools = ref([])
const fillBools = function (object) {
  for (var key in object) {
    bools.value.push(false)
    if (!object.hasOwnProperty(key)) {
      continue;
    }
    // if(typeof object[key] == 'object'){
    // ref: https://stackoverflow.com/questions/7803262/difference-between-array-and-object-in-javascript-or-array-vs-object
    if (object[key] instanceof Object && !(object[key] instanceof Array)) {
      fillBools(object[key]);
    }
  }
}
fillBools(props.items)
// https://vuejs.org/guide/components/events.html#declaring-emitted-events

const props = defineProps({
  items: Object,
});

// This reference holds any items whose orders have changed
const changedItems = ref([])
// this function calls the api to update the item order
const updateItemOrder = () => {
  for (let item of changedItems.value) {
    axios.patch(item.postPath, { position: item.position }, { headers: headers.value })
  }
  getUserTree()
  changedItems.value = []
}


// TODO handle empty objects and arrays
// TODO can i use the % operator somehow to get the level in the tree?
// inspiration from https://stackoverflow.com/questions/13523951/how-to-check-the-depth-of-an-object
const buildTree = function (obj) {
  let counter = 0
  // j is the depth of the recursion
  let j = 0
  const root = []
  let postPath = ''

  // item schema needs imgSrc, imgAlt, name and price fields
  // TODO need to add custom directive "v-image-fallback"
  const itemli = function (item) {
    const mostInner = [h("h3", { class: ["mt-1", "text-brown-500"] }, h("a", { class: ["text-xl", "font-bold"] }, [item.name])), h("p", { class: ["mt-1", "font-medium", "text-brown-500"] }, item.price ? item.price + " Q" : "")]
    // const img = h('img', {class : ['object-cover', 'object-center', 'w-full', 'h-full', 'group-hover:opacity-75'], src: item.imageSrc, alt: item.imageAlt})

    // TODO: use this method of separating the css for better readbility?
    const imgClass = ['object-cover', 'object-center', 'w-full', 'h-full', 'group-hover:opacity-75', item.active ? '' : 'opacity-30 grayscale blur-[1.5px]']
    const img = h('img', { class: imgClass, src: item.imgSrc ? import.meta.env.VITE_BASE_URL + '/' + item.imgSrc : "https://picsum.photos/200", alt: item.imageAlt })
    const inactiveBanner = h('div', { class: ['absolute', 'top-1/2', 'py-2', 'left-0', 'right-0', 'text-center', 'bg-gray-800', 'opacity-70'] }, h('p', { class: ['text-red-500', 'font-bold', 'text-md'] }, 'inactive'))
    // const img = h('img', {class : imgClass, src: item.imgSrc ? item.imgSrc : "https://picsum.photos/200", alt: item.imageAlt})

    const sndMostInnerChild1 = h("div", { class: ['relative', 'w-full', 'overflow-hidden', 'bg-gray-100', 'rounded-lg', 'shadow-md', 'aspect-w-1', 'aspect-h-1'] }, item.active ? img : [img, inactiveBanner])
    const sndMostInnerChild2 = h("div", { class: ["mt-5"] }, mostInner)
    const sndMostInnerChildren = h("div", { style: { cursor: 'grab' }, class: ['relative-group'] }, [sndMostInnerChild1, sndMostInnerChild2])
    const li = h('li', { onClick: () => toggleModal({ state: true, callType: item.postPath.endsWith('items') ? 'post' : 'patch', formType: 'item', item: item }), key: item._id, class: ["inline-flex", "flex-col", "text-center", "lg:w-auto"] }, sndMostInnerChildren)
    return li

  }

  const builder = function (obj) {
    j += 1

    // #################### START LEAF ARRAY #################### 
    // #################### START LEAF ARRAY #################### 
    // #################### START LEAF ARRAY #################### 
    if (obj instanceof Array) {
      let fullPostPath = ''
      if (breadcrumbs.value.length > 0) {
        let partialPostPath = ''
        for (let crumb of breadcrumbs.value) {
          partialPostPath += crumb.split('-')[0] + '/'
        }
        fullPostPath = 'restaurants/' + partialPostPath + postPath + 'items'
      } else {
        // no crumbs yet
        fullPostPath = 'restaurants/' + postPath + 'items'
        // quick fix for double front slash appearing
        fullPostPath = fullPostPath.replace('//', '/')
      }
      // TODO this is now returned from the API call on the backend (it's not part of the database).. Probably need a better solution
      // itemArray.push(itemli({name:"Add Item", price: "", imgSrc:"src/assets/plus.svg", formType:"item"}))
      // const ul = h('div', { role: "list", class: ['inline-flex', 'mx-4', 'space-x-8', 'sm:mx-6', 'lg:mx-10', 'lg:space-x-0', 'lg:grid', 'lg:grid-cols-4', 'lg:gap-x-8'] }, itemArray)
      const handleUpdate = () => {
        for (let index in obj) {
          obj[index].position = index
          const exists = changedItems.value.find(el => el._id === obj[index]._id)
          if (exists) {
            exists.position = obj[index].position
          } else {
            changedItems.value.push(obj[index])
          }
        }
      }

      // We want to get the request URL for adding an item
      // In order to accomplish this we can use the breadcrumbs to figure out where we are in item tree
      // the end result will be the string "/restauraunts/<menuId>/<categoryId>/<subcategoryId>/items"
      // which is the API POST endpoint for adding an item
      const ul = h(
        'div', { role: "list", },
        [
          h('div', { class: ['text-slate-400'] }, ["items are draggable"]),
          h('button', {
            onClick: () => toggleModal({
              state: true,
              callType: 'post',
              formType: 'item',
              item: {
                name: "",
                active: true,
                postPath: fullPostPath
              }
            }),
            class: ['bg-green-400', 'text-white', 'font-bold', 'px-4', 'py-2', 'my-5', 'rounded-full', 'w-fit', 'mx-auto'],
          },
            [" + add item "]
          ),
          // h('div', {}, JSON.stringify(obj)),
          h(
            draggable,
            {
              list: obj,
              // class: ['inline-flex', 'mx-4', 'space-x-8', 'sm:mx-6', 'lg:mx-10', 'lg:space-x-0', 'lg:grid', 'lg:grid-cols-8', 'lg:gap-x-8'],
              class: ['inline-flex', 'mx-4', 'space-x-8', 'sm:mx-6', 'lg:mx-10', 'lg:space-x-0', 'lg:grid', 'lg:grid-cols-6', 'lg:gap-x-6'],
              group: [`group_${j}`], // this is important so that items can't be dragged to other groups
              itemKey: '_id',
              // onUpdate: (newList) => console.log(newList.item.getAttribute('dataid'))
              onUpdate: handleUpdate
            },
            {
              item: ({ element }) => itemli(element)
            }
          )
        ]
      );
      const innerDiv = h('div', { class: ['relative', 'w-full', 'pb-6', '-mb-6', 'overflow-x-auto'] }, ul)
      const outerDiv = h('div', { class: ['relative', 'mt-2', 'bg-slate-200', 'py-4', 'rounded-md'] }, innerDiv)
      if (j === 1) {
        root.push(outerDiv)
        return
      }

      const parts = postPath.split('/');
      parts.pop()
      parts.pop()
      postPath = parts.join('/') + '/'
      return outerDiv
      // #################### END LEAF ARRAY #################### 
      // #################### END LEAF ARRAY #################### 
      // #################### END LEAF ARRAY #################### 
    } else if (obj instanceof Object && Object.keys(obj).length === 0) {
      return [h('div', {}, "No Items")]
    } else if (obj instanceof Object && Object.keys(obj).length > 0) {
      let temp = []
      // i is the "width" of the recursion
      let i = 1
      for (let key in obj) {
        postPath += key.split('-')[0] + '/'
        let temp2 = []
        const child = builder(obj[key])
        counter += 1
        j -= 1

        // ################################ LEVEL 1, i.e., categories ########################################
        if (j === 1 && i <= Object.keys(obj).length) {
          let index = counter
          const title = h('h' + j, { class: ['text-5xl', 'font-bold', 'rounded-t-full'] }, [key.split('-')[1],])
          const arrowClass = ['mx-5', 'py-auto']
          const arrowStyle = { width: '40px' }
          const collapseArrow = bools.value[index - 1] ? h(ChevronUpIcon, { style: arrowStyle, class: arrowClass }) : h(ChevronDownIcon, { style: arrowStyle, class: arrowClass })
          const titleDiv = h('div', { onClick: () => { bools.value[index - 1] = !bools.value[index - 1] }, class: ['flex', 'align-center', 'justify-center'], style: { cursor: 'pointer' } }, [title, collapseArrow])
          temp2.push(titleDiv)
          const div = h('div', { class: [bools.value[index - 1] ? 'hidden' : '', 'mb-10'] }, child)
          temp2.push(div)
          root.push(temp2)
          temp = []

          if (i === Object.keys(obj).length) {
            postPath = ''
            return temp
          }

          i += 1
          continue
          // ################################################################################

          // ##################### LEVEL 2 AND ABOVE subcategories and items ########################################
        } else if (i <= Object.keys(obj).length) {
          if (obj[key] instanceof Array) {
            temp2.push(h('h' + j, { class: ['text-4xl', 'font-bold', 'text-brown-200', 'py-2'] }, key.split('-')[1]))
            temp2.push(h('div', {}, child))
            temp.push(temp2)
          } else {
            let index = counter
            // temp.push(h('h'+ j, {class : ['text-4xl', 'font-bold', 'text-red-400']}, key))
            let lastItemBool = i === Object.keys(obj).length
            const title = h('h' + j, { class: ['text-4xl', 'font-bold', 'text-brown-500', 'py-2', lastItemBool ? 'rounded-b-full' : ''] }, key.split('-')[1])
            const arrowClass = ['mx-5', 'py-auto']
            const arrowStyle = { width: '30px' }
            const collapseArrow = bools.value[index - 1] ? h(ChevronUpIcon, { style: arrowStyle, class: arrowClass }) : h(ChevronDownIcon, { style: arrowStyle, class: arrowClass })
            const titleDiv = h('div', { onClick: () => { bools.value[index - 1] = !bools.value[index - 1] }, style: { cursor: 'pointer' }, class: ['flex', 'align-center', 'justify-center'] }, [title, collapseArrow])
            temp.push(titleDiv)
            // temp.push(h('div', {}, child)) 
            temp.push(h('div', { class: [bools.value[index - 1] ? 'hidden' : '', `i${i}j${j}`] }, child))
          }
          if (i === Object.keys(obj).length) {
            const parts = postPath.split('/');
            parts.pop()
            parts.pop()
            postPath = parts.join('/') + '/'
            return temp
          }
          i += 1
          continue
        }
      }
    }
  }

  builder(obj)
  return root
}

watch(() => props.items, () => {
  for (let bool in bools.value) {
    bools.value[bool] = false
  }
})

const render = () => {
  return h('div',
    {},
    [
      h('button',
        { onClick: updateItemOrder, class: ['absolute', 'bottom-10', 'right-20', 'mx-auto', 'text-2xl', 'shadow-md', 'shadow-yellow-300', 'bg-white', 'px-4', 'py-2', 'z-20', 'rounded-full', changedItems.value.length > 0 ? '' : 'hidden'] },
        'Update Positions'),
      buildTree(props.items)
    ]
  )
};

</script>
