<!-- This example requires Tailwind CSS v2.0+ -->
<template>
        <TransitionRoot as="template" :show="modalOpen">
                <Dialog as="div" class="relative z-10" @close="modalOpen = !modalOpen">
                        <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0"
                                enter-to="opacity-100" leave="ease-in duration-200" leave-from="opacity-100"
                                leave-to="opacity-0">
                                <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75" />
                        </TransitionChild>

                        <div class="fixed inset-0 z-10 overflow-y-auto">
                                <div class="flex items-end justify-center min-h-full p-4 text-center sm:items-center sm:p-0">
                                        <TransitionChild as="template" enter="ease-out duration-300"
                                                enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                                                enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200"
                                                leave-from="opacity-100 translate-y-0 sm:scale-100"
                                                leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">


                                                <DialogPanel :class="callTypeColor()"
                                                        class="relative w-full max-w-4xl px-4 pt-5 pb-4 my-8 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl lg:p-24 md:p-16 sm:p-6">

                                                        <p>formType: {{ formTypeGlobal }}</p>
                                                        <p>callType: {{ callTypeGlobal }}</p>
                                                        <br>


                                                        <Suspense>
                                                                <ItemForm v-if="formTypeGlobal === 'item'"
                                                                        :itemHolder="itemHolder" :filterList="filterList"
                                                                        :addonList="addonList" @callApi="callApi"
                                                                        @close="modalOpen.value = false"
                                                                        @clearProduct="$emit('clearProduct')" />
                                                                <LevelForm
                                                                        v-else-if="Object.values(levelNames).includes(formTypeGlobal)"
                                                                        :open="modalOpen" :itemHolder="itemHolder"
                                                                        :callTypeGlobal="callTypeGlobal"
                                                                        :formTypeGlobal="formTypeGlobal" @callApi="callApi"
                                                                        @close="modalOpen.value = false" />

                                                                <AddonForm v-else :open="modalOpen"
                                                                        @refreshAddons='refreshAddons' :addonList="addonList" />
                                                        </Suspense>



                                                </DialogPanel>


                                        </TransitionChild>
                                </div>
                        </div>
                </Dialog>
        </TransitionRoot>
</template>

<script setup>
import { ref } from 'vue'
import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from '@headlessui/vue'
import ItemForm from './modalForms/ItemForm.vue';
import LevelForm from './modalForms/LevelForm.vue';
import AddonForm from './modalForms/AddonForm.vue';

import { useNav } from '../composables/useNav.js'
const { levelNames, itemHolder } = useNav()

import { useModal } from '../composables/useModal'
const { formTypeGlobal, callTypeGlobal, modalOpen } = useModal()

import { useApi } from '../composables/useApi'
const { callApi } = useApi()

const props = defineProps({
        itemHolder: Object,
        filterList: Array,
        addonList: Array
});

const callTypeColor = function () {
        if (callTypeGlobal.value === 'patch') {
                return 'bg-yellow-50'
        } else if (callTypeGlobal.value === 'post') {
                return 'bg-green-50'
        }

        return 'bg-red-50'

}

const emit = defineEmits(['refreshAddons'])

const refreshAddons = function () {
        emit('refreshAddons')
}

</script>
