<!-- This example requires Tailwind CSS v2.0+ -->
<template>
        <div class="flex flex-col flex-1 min-h-0 bg-indigo-700">

                <!-- LOGO -->
                <div class="mt-2 flex items-center flex-shrink-0 px-4">
                        <a href="https://atitlan.io">
                                <img class="w-auto h-8" src="../assets/logo.svg"
                                        alt="Condensing Sine Wave Atitlan . Digital IO" />
                        </a>
                </div>
                <!-- LOGO -->

                <div class="flex flex-col flex-1 pb-4 overflow-y-auto">
                        <nav class="flex-1 px-2 mt-1" aria-label="Sidebar">

                                <h1 class="text-3xl text-white capitalize font-bold my-2"> {{
                                        pluralize(levelNames[breadcrumbs.length]) }} </h1>

                                <div class="bg-slate-500 rounded-md py-4 my-2">

                                        <div v-if="!(items instanceof Array)">

                                                <!-- Only show draggable items for categories ans subcategories  -->
                                                <div v-if="breadcrumbs.length > 1"
                                                        class="bg-slate-400 py-2 rounded-md w-11/12 mx-auto flex flex-col items-center">
                                                        <draggable v-model="pointerKeys" group="navitems" @start="drag = true"
                                                                @end="drag = false" @update="handleChange"
                                                                item-key="item.split('-')[0]" style="cursor : grab;"
                                                                class="w-11/12 space-y-1">
                                                                <template #item="{ element }">
                                                                        <div class="flex items-center">
                                                                                <span @click="getChildren(element)"
                                                                                        class="flex-1 ml-3 font-bold px-4 py-2 text-sm text-indigo-100 bg-indigo-600 border border-indigo-500 rounded-md hover:bg-indigo-600 hover:bg-opacity-75 ">
                                                                                        {{ element.split('-')[1] }}
                                                                                </span>
                                                                                <div @click.prevent="toggleModal({ state: true, formType: levelNames[breadcrumbs.length], callType: 'patch', item: userTreeInfo[element] })"
                                                                                        class="px-2 z-10">
                                                                                        <a
                                                                                                class="text-xs bg-yellow-400 p-2 text-yellow-800 text-center rounded-md border border-yellow-600">
                                                                                                edit
                                                                                        </a>
                                                                                </div>
                                                                        </div>
                                                                </template>
                                                        </draggable>
                                                        <div class="flex items-center mt-6">
                                                                <ArrowsUpDownIcon class="h-4" />
                                                                <p class="mx-2 text-sm">Draggable items</p>
                                                        </div>
                                                        <button v-if="orderChanged" @click="updateItemOrder"
                                                                class="bg-slate-200 py-1 px-2 rounded-md mt-2 text-sm">update</button>
                                                </div>
                                                <!-- Don't show draggable items for restaurants/menus  -->
                                                <div v-else v-for="item in pointerKeys" :key="item.split('-')[0]"
                                                        style="cursor : pointer;" class="flex items-center">

                                                        <!-- ############################## nav item ############################## -->
                                                        <span @click="getChildren(item)"
                                                                class="flex-1 ml-3 font-bold px-2 py-2 text-sm text-indigo-100 bg-indigo-600 border border-indigo-500 rounded-md hover:bg-indigo-600 hover:bg-opacity-75 ">
                                                                {{ item.split('-')[1] }}
                                                        </span>
                                                        <!-- ###################################################################### -->

                                                        <!-- ############################## EDIT ITEM ############################## -->
                                                        <div @click.prevent="toggleModal({ state: true, formType: levelNames[breadcrumbs.length], callType: 'patch', item: userTreeInfo[item] })"
                                                                class="px-3 z-10">
                                                                <a class="text-yellow-300"> edit </a>
                                                        </div>
                                                        <!-- ######################################################################### -->
                                                </div>

                                                <!-- ############################## ADD ITEM ############################## -->
                                                <div @click.prevent="toggleModal({ state: true, formType: levelNames[breadcrumbs.length], callType: 'post' })"
                                                        class="my-4 mx-3 font-bold px-2 py-2 text-sm text-emerald-100 bg-emerald-600 border border-emerald-500 rounded-md hover:bg-emerald-600 hover:bg-opacity-75 "
                                                        style="cursor: pointer">
                                                        <p class="capitalize">add {{ levelNames[breadcrumbs.length] }}</p>
                                                </div>
                                                <!-- ####################################################################### -->
                                        </div>


                                </div>
                                <button @click.prevent="goBack(1); orderChanged = false" v-if="breadcrumbs.length > 0"
                                        class="w-full mt-3 text-black bg-orange-400 hover:bg-orange-200 group flex items-center py-2 text-sm font-medium rounded-md">
                                        <!-- <component class="flex-shrink-0 w-6 h-6 mr-3 text-indigo-300" aria-hidden="true" /> -->
                                        <!-- TODO figure out a better way to signal being at the root node -->
                                        <span class="flex-1">
                                                ⬅ back to {{ pluralize(levelNames[breadcrumbs.length - 1]) }}
                                        </span>
                                </button>
                        </nav>
                        <!-- =-=-=-=-=-=-=-=-=-=-= ADDON LINK=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
                        <!-- TODO make this only available when you go into a restaurant (or you can have a drop down that lets you pick which restaurant to apply to)-->
                </div>
                <a v-if="breadcrumbs.length > 0" href=""
                        @click.prevent="toggleModal({ state: true, formType: 'addons', callType: 'patch' })"
                        class="text-blue-50 hover:text-blue-100">
                        Modify Addons
                </a>
                <div class="flex flex-shrink-0 p-4 border-t border-indigo-800">
                        <a href="#" class="flex-shrink-0 block w-full group">
                                <div class="flex items-center justify-between">
                                        <div>
                                                <img class="inline-block w-10 h-10 ml-1 drop-shadow-[0_0_1px_rgb(255,255,255)]"
                                                        :src="small_logo_url">
                                        </div>
                                        <div class="space-y-1">
                                                <p class="text-sm font-medium text-white" style="text-transform: capitalize;">
                                                        {{ username }}</p>
                                                <p @click="$emit('logout')"
                                                        class="text-xs font-medium text-indigo-200 group-hover:text-white">
                                                        logout</p>
                                        </div>
                                        <router-link to="/settings">
                                                <Cog8ToothIcon class="w-6 mr-1 text-slate-300" />
                                        </router-link>
                                </div>
                        </a>
                </div>
        </div>
</template>

<script setup>
import { ref } from 'vue'
import { useNav } from '../composables/useNav'
import { useModal } from '../composables/useModal'
import { useUser } from '../composables/useUser'
import { Cog8ToothIcon } from '@heroicons/vue/20/solid'
import axios from 'axios'
import draggable from 'vuedraggable'
import { ArrowsUpDownIcon } from '@heroicons/vue/24/outline'

const { headers, getUserTree, small_logo_url } = useUser()

const { pointer, pointerKeys, breadcrumbs, levelNames, getChildren, pluralize, goBack } = useNav()

const { toggleModal } = useModal()

const orderChanged = ref(false)
const handleChange = (res) => {
        console.log(res)
        orderChanged.value = true
}

const props = defineProps({
        userTreeInfo: Object,
        items: Object,
        username: String,
});

const updateItemOrder = () => {
        let postPath = "restaurants/"
        for (const crumb of breadcrumbs.value) {
                postPath += crumb.split('-')[0] + "/"
        }
        for (const ind in pointerKeys.value) {
                console.log(postPath + pointerKeys.value[ind].split('-')[0])
                axios.patch(postPath + pointerKeys.value[ind].split('-')[0], { position: ind }, { headers: headers.value })
        }
        getUserTree()
        orderChanged.value = false

}

// const temp = ref(props.items.value instanceof Array)

</script>
