<template>
        <TransitionRoot as="template" :show="alertModalOpen">
                <Dialog as="div" class="relative z-10" @close="alertModalOpen = false">
                        <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0"
                                enter-to="opacity-100" leave="ease-in duration-200" leave-from="opacity-100"
                                leave-to="opacity-0">
                                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
                        </TransitionChild>

                        <div class="fixed inset-0 z-10 overflow-y-auto">
                                <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                                        <TransitionChild as="template" enter="ease-out duration-300"
                                                enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                                                enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200"
                                                leave-from="opacity-100 translate-y-0 sm:scale-100"
                                                leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
                                                <DialogPanel
                                                        class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
                                                        <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
                                                                <button type="button"
                                                                        class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                                                                        @click="alertModalOpen = false">
                                                                        <span class="sr-only">Close</span>
                                                                        <XMarkIcon class="h-6 w-6" aria-hidden="true" />
                                                                </button>
                                                        </div>
                                                        <div class="sm:flex sm:items-start">
                                                                <div
                                                                        class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                                                                        <ExclamationTriangleIcon class="h-6 w-6 text-red-600"
                                                                                aria-hidden="true" />
                                                                </div>
                                                                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                                                                        <DialogTitle as="h3"
                                                                                class="text-base font-semibold leading-6 text-gray-900">
                                                                                Delete {{ getLevel() }}
                                                                        </DialogTitle>
                                                                        <div class="mt-2">
                                                                                <p class="text-sm text-gray-500">Are you
                                                                                        sure you want delete this? It
                                                                                        can't be undone!</p>
                                                                        </div>
                                                                        <div class="mt-2 p-4 bg-slate-200 rounded-md space-y-2">
                                                                                <h2>{{ getLevel() }} details</h2>
                                                                                <p class="text-sm text-gray-500">
                                                                                        <span class="font-bold pr-2">Name:
                                                                                        </span>
                                                                                        {{
                                                                                                itemHolder.name
                                                                                        }}
                                                                                </p>
                                                                                <p v-if="itemHolder.description"
                                                                                        class="text-sm text-gray-500">
                                                                                        <span class="font-bold pr-2">description:
                                                                                        </span>
                                                                                        {{
                                                                                                itemHolder.description
                                                                                        }}
                                                                                </p>
                                                                        </div>
                                                                        <div v-if="getLevel() != 'Product'"
                                                                                class="mt-4 rounded-md px-3 pb-1.5 pt-2.5 shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-indigo-600">
                                                                                <label for="name"
                                                                                        class="block text-xs font-medium text-gray-900">Type
                                                                                        "delete" to confirm:</label>
                                                                                <input type="text" name="name" id="name"
                                                                                        v-model="inputText"
                                                                                        class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                                                                                        placeholder="DELETE" />
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div
                                                                class="mt-8 sm:mt-4 space-y-8 sm:space-y-0 sm:flex sm:justify-around">
                                                                <button type="button"
                                                                        class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto"
                                                                        @click="deleteItem()">Delete</button>
                                                                <button type="button"
                                                                        class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
                                                                        @click="alertModalOpen = false">Cancel</button>
                                                        </div>
                                                </DialogPanel>
                                        </TransitionChild>
                                </div>
                        </div>
                </Dialog>
        </TransitionRoot>
</template>

<script setup>
import { ref } from 'vue'
import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from '@headlessui/vue'
import { ExclamationTriangleIcon, XMarkIcon } from '@heroicons/vue/24/outline'

import { useModal } from '../composables/useModal'
import { useNav } from '../composables/useNav'
import { useApi } from '../composables/useApi'

const { alertModalOpen, modalOpen } = useModal()
const { itemHolder } = useNav()
const { callApi } = useApi()

const inputText = ref('')

const getLevel = function () {
        const keys = Object.keys(itemHolder.value)

        if (keys.includes('subcategory')) {
                return "Product"
        } else if (keys.includes('category')) {
                return "Subcategory"
        } else if (keys.includes('menu')) {
                return "Category"
        } else if (keys.includes('restaurant')) {
                return "Menu"
        } else {
                return "Restaurant"
        }
}

const deleteItem = function () {
        if (inputText.value.toLowerCase() === 'delete' || getLevel() === 'Product') {
                callApi({ callType: 'delete' })
                // reset input text and close modals
                inputText.value = ''
                modalOpen.value = false
                alertModalOpen.value = false
        } else {
                return alert('you must type delete')
        }
}

</script>
