---
import ApiButton from "@/components/elements/buttons/api-button.vue";
import Utilities from "@/components/elements/dashboard/utility-belt.vue";
import AppMenu from "@/components/elements/dashboard/apps.vue";
import Layout from "@/layouts/app.astro";
import { getUserWallets } from "@/thor-api/finance";
import { auth } from "@/thor-api/auth";
import { DisplayWalletGeneralInfo } from "@/types/types";
import WalletSwiper from "@/components/elements/dashboard/wallet-swiper.vue";
const authResult = await auth(Astro);
if (!authResult.response.ok) {
  return authResult.response;
}
const wallets: DisplayWalletGeneralInfo[] = await getUserWallets(Astro);
const user = authResult.user;
if (!user) {
  return Astro.redirect("/login");
}
---
<Layout title="Atitlan.IO">
  <div>
    <div class="bg-alternate-background p-3 rounded-b-[56px]">
      <WalletSwiper wallets={wallets} client:load />
      <Utilities />
    </div>
    <AppMenu />
  </div>
</Layout>
