---
import Layout from "@/layouts/app.astro";
import Form from "@/components/pages/register.vue";
import { auth } from "@/thor-api/auth";

const authResult = await auth(Astro);
if (authResult.response.ok) {
  return Astro.redirect("/");
}
---

<Layout title="Register">
  <Form client:load />
</Layout>
@/thor-api/auth
