<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { ref } from 'vue';
import errorText from './error-text.vue';

type Props = {
    modelValue: string,
    icon?: string,
    errors?: string,
    inputType?: string,
    placeHolder?: string,
    autocomplete?: string,
};
const props = withDefaults(defineProps<Props>(), {
    modelValue: "",
    icon: "",
    errors: "",
    inputType: "text",
    placeHolder: ""
});
defineEmits(['update:modelValue']);
const showPassword = ref(false);
const isPassword = props.inputType === "password";

const togglePassword = () => {
    showPassword.value = !showPassword.value;
};

</script>

<template>
    <div class="input-wrapper">
        <Icon v-if="icon" :icon="icon" class="pre-icon" width="20px" />
        <input v-if="!isPassword" :type="inputType" :placeholder="placeHolder" :value="modelValue"
            @input="$emit('update:modelValue', $event.target?.value)" :autocomplete="autocomplete"/>
        <input v-if="isPassword" :type="showPassword ? 'text' : 'password'" :placeholder="placeHolder" :value="modelValue"
            @input="$emit('update:modelValue', $event.target?.value)" :autocomplete="autocomplete"/>
        <Icon v-if="isPassword" :icon="showPassword ? 'mdi:eye-off' : 'mdi:eye'" @click="togglePassword"
            class="post-icon interacteable" width="20px" />
    </div>
    <errorText :errors="errors"/>
</template>

<style lang="scss">
.input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    border: solid var(--secondary) 1px;
    border-radius: 40px;
    margin-top: 1rem;
    position: relative;

    input {
        width: calc(100% - 2rem);
        background: transparent;
        border: none;
        border-radius: 25px;
        padding: .75rem;
        padding-left: 3.25rem;
        outline: none;
        color: var(--textColor) !important;
    }

    input:-webkit-autofill {
        -webkit-background-clip: text;
    }
    input::placeholder{
        color: var(--textColor) !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-text-fill-color: var(--textColor) !important;
    }

    #password {
        padding-right: calc(1rem + 24px);
    }

    .icon {
        color: var(--color-primary);
    }

    .interacteable {
        cursor: pointer;
    }

    .post-icon {
        position: absolute;
        right: 20px;
    }

    .pre-icon {
        position: absolute;
        left: 20px;
        margin-right: 0.5rem;
    }
}
</style>