<template>
  <TransitionRoot as="template" :show="open">
    <Dialog as="div" class="relative z-10" @close="$emit('close')">
      <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100"
        leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full justify-center p-4 text-center items-center sm:p-0">
          <TransitionChild as="template" enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
            <DialogPanel
              class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
              <div class="mb-6">
                <div
                  class="w-3/4 mx-auto px-3 bg-slate-100 p-2 shadow-md rounded-md flex flex-col items-center justify-center mb-2">
                  <section class="flex w-full items-center mb-2">
                    <dl class="w-full space-y-2 text-sm font-medium text-gray-500">
                      <div class="flex justify-between">
                        <dt>Subtotal</dt>
                        <dd class="text-gray-900">{{ amount }} Q</dd>
                      </div>

                      <div class="flex justify-between">
                        <dt class="flex">
                          <CreditCardIcon class="h-5 w-5 text-fuchsia-600 mr-1" aria-hidden="true" /> fee ({{ percentFee
                          }}
                          %)
                        </dt>
                        <dd class="text-gray-900">{{ percentFeeAmount }} Q</dd>
                      </div>

                      <div class="flex items-center justify-between border-t border-gray-200 pt-6 text-gray-900">
                        <dt class="text-base">Total</dt>
                        <dd class="text-4xl font-bold text-emerald-500 mt-0.5 mb-1 drop-shadow">{{ totalAmount }} Q</dd>
                      </div>
                    </dl>
                    <!-- _______________________________________________________________________ -->
                  </section>
                </div>
                <div class="mt-3 text-center sm:mt-5">
                  <DialogTitle as="h3" class="text-base font-semibold leading-6 text-gray-900">Scan Here!
                  </DialogTitle>
                  <div class="flex justify-center items-center bg-white p-3 rounded-lg">
                    <QRCodeVue3 :width="350" :height="350"
                      :value="`https://app.recurrente.com/s/the-emporium/pagar/${totalAmount}/GTQ`"
                      :qrOptions="{ typeNumber: 0, mode: 'Byte', errorCorrectionLevel: 'H' }"
                      :imageOptions="{ hideBackgroundDots: true, imageSize: 0.4, margin: 0 }" :dotsOptions="{
                        type: 'extra-rounded',
                        color: '#7F1D1D',
                        gradient: {
                          type: 'linear',
                          rotation: 0,
                          colorStops: [
                            { offset: 0, color: '#7F1D1D' },
                            { offset: 1, color: '#26249a' },
                          ],
                        },
                      }" :backgroundOptions="{ color: '#ffffff' }"
                      :cornersSquareOptions="{ type: 'dot', color: '#000000' }"
                      :cornersDotOptions="{ type: undefined, color: '#000000' }" />
                  </div>
                </div>
              </div>
              <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
                <button type="button"
                  class="inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 sm:col-start-2"
                  @click="$emit('close')">Mark paid</button>
                <button type="button"
                  class="mt-3 inline-flex w-full justify-center rounded-md bg-red-300 px-3 py-2 text-sm font-semibold text-red-700 border border-red-400 shadow-sm ring-1 ring-inset ring-red-300 hover:bg-red-400 sm:col-start-1 sm:mt-0"
                  @click="$emit('close')" ref="cancelButtonRef">Cancel</button>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
  <!-- <div class="absolute bg-slate-900 inset-0 text-center w-full h-full flex flex-col justify-center items-center"> -->
  <!--   <div @click="$emit('close')" class="cursor-pointer flex text-white text-2xl items-center mb-4"> -->
  <!--     <ArrowLeftIcon class="h-6 mr-2" /> -->
  <!--     <img class="mr-6 h-12" src="https://atitlan.io/restaurants/636523d76f649cb57bb69269/small_logo" /> -->
  <!--     <h1 class="text-emerald-400">{{ restaurant.name }}</h1> -->
  <!--   </div> -->
  <!--   <h1 class="text-5xl my-8 text-slate-50">¡Escanéame!</h1> -->
  <!--   <div class="flex justify-center items-center bg-white p-12 rounded-lg"> -->
  <!--     <QR /> -->
  <!--   </div> -->
  <!--   <h1 class="text-5xl my-8 text-slate-50">Scan me!</h1> -->
  <!--   <div class="flex items-center font-medium text-orange-400"> -->
  <!--     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" -->
  <!--       stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 mr-2" style="margin-top: -2px;"> -->
  <!--       <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect> -->
  <!--       <path d="M7 11V7a5 5 0 0 1 10 0v4"></path> -->
  <!--     </svg> -->
  <!--     Transacción protegida por Recurrente -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- EXAMPLE SVG CODE from Recurrente -->
  <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 495 495" shape-rendering="crispEdges" -->
  <!--   xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" -->
  <!--   class="h-64 recurrente-qr-code"> -->
  <!--   <path -->
  <!--     d="M0 0h7v7h-7zM9 0h2v1h-1v1h-1zM12 0h1v1h1v1h-1v1h-1zM16 0h1v1h1v-1h1v1h-1v1h-1v1h-1v-1h-1v-1h1zM20 0h3v1h-1v1h-1v-1h-1zM24 0h1v1h-1zM26 0h1v1h-1zM28 0h1v1h1v-1h1v2h-3v2h-1v3h-1v-2h-1v3h2v-1h1v-1h1v1h-1v1h2v-3h1v-1h1v1h-1v2h1v-2h1v-2h-1v-2h1v-1h1v2h-1v1h1v1h1v-3h1v-1h1v1h-1v2h1v2h-3v1h-1v1h-1v3h-1v1h-1v-1h-1v-1h-6v1h-1v1h-2v-2h-1v1h-2v-1h1v-1h-1v-1h-1v-1h-1v2h1v1h-2v-1h-1v1h-1v1h-1v2h-1v-1h-1v2h-1v-1h-1v-1h-2v1h-1v-2h1v-1h1v-1h2v-2h1v2h1v-2h1v1h1v-2h-1v-2h-1v-1h1v1h1v1h2v-2h1v2h2v-1h1v-1h1v-1h1v1h-1v1h-1v1h1v-1h1v-1h1v1h-1v1h2v-2h1v2h1v-2h1v-1h1v1h-1v2h1v-1h1v-2h1zM38 0h7v7h-7zM1 1v5h5v-5zM39 1v5h5v-5zM2 2h3v3h-3zM40 2h3v3h-3zM29 3h1v1h-1zM8 4h1v1h-1zM13 5v2h1v-2zM16 5v1h1v1h1v-1h1v-1zM21 5v3h3v-3zM19 6v2h1v-2zM22 6h1v1h-1zM34 6h1v1h1v-1h1v1h-1v1h-2v2h-1v-3h1zM2 8h2v1h-1v1h-1zM36 8h3v1h-2v1h-1v2h-1v-1h-1v-1h1v-1h1zM40 8h1v1h-1zM6 9v1h1v-1zM39 9h1v1h-1zM42 9h3v2h-2v-1h-1zM7 10v1h1v-1zM12 10h1v1h-1zM15 10h2v1h1v1h2v1h-3v1h-1v-1h-1v-1h-2v-1h2zM23 10h3v1h-1v1h3v-2h1v1h1v1h-1v1h1v1h2v-1h-1v-2h1v-1h1v1h1v1h1v1h-1v2h-1v-1h-1v1h-1v1h-1v-1h-2v-1h-2v1h1v1h1v1h-2v1h-1v-3h-2v-1h1v-1h-1v-1h-1v-1h1zM37 10h1v2h-1zM40 10h2v1h-2zM2 11h1v1h-1zM5 12h2v1h-2zM11 12h2v2h1v-1h1v2h2v-1h3v-1h1v-1h1v1h-1v1h1v2h-1v-1h-1v2h-1v3h-1v-1h-2v-2h-1v-1h-1v-1h-1v2h1v3h-1v1h-1v1h-1v1h-1v1h1v1h-2v2h1v-1h1v-1h1v1h1v-3h1v1h2v1h-2v3h-1v-1h-1v1h-1v-1h-1v3h-1v-2h-2v-1h-1v1h-3v-2h-1v-1h-1v2h1v1h-1v1h1v-1h1v1h-1v1h1v-1h2v1h-1v1h-2v1h-1v-2h-1v-6h1v-1h-1v-2h1v-1h1v1h-1v2h1v2h1v1h1v-3h-1v-1h1v-1h-1v-1h1v-1h-3v-1h1v-1h-2v-2h1v-2h3v4h-1v1h1v-1h1v-2h1v-1h1v-1h1v3h-1v-1h-1v1h1v1h-2v1h3v-1h1v2h1v2h1v-3h-1v-2h-1v-3h1v1h1v1h1v-2h-1zM32 12v1h1v-1zM41 12h1v1h1v1h-3v1h-2v-1h-1v-1h4zM44 12h1v1h-1zM35 13h1v2h1v2h-1v1h3v-2h1v-1h3v-1h1v3h1v1h-1v1h-3v2h1v-1h2v1h-2v1h-1v1h1v-1h2v-1h1v2h-1v1h-1v-1h-1v2h-2v1h2v1h1v-2h1v2h-1v2h2v1h-1v1h-2v-2h-1v1h-1v5h-1v1h1v-1h1v-4h1v1h2v1h-1v1h-1v4h1v-2h1v-1h-1v-1h1v-1h1v4h-1v1h-1v2h1v-1h1v1h-1v3h-1v-2h-1v-1h-1v1h-3v1h2v3h-2v-2h-1v1h-2v-2h-2v-1h-2v1h-1v-1h-1v-1h2v-1h-1v-2h4v1h-3v1h3v1h-1v1h1v-1h1v2h1v-4h-1v-1h1v-1h-5v-1h-2v3h-1v-2h-2v-1h-1v3h1v-1h1v4h-1v-1h-1v2h-1v2h1v-2h2v1h-1v1h3v1h-7v-1h-1v-1h-2v-1h-1v-2h-2v2h-1v1h1v-1h2v1h-2v1h2v1h-5v-1h1v-3h1v-2h-1v-1h-2v-1h-1v-1h-1v-1h-2v-1h2v1h1v1h1v-3h-3v-1h-1v-1h-2v1h-2v-1h1v-1h2v-1h-1v-1h1v1h1v2h2v1h2v-2h-1v-1h3v-1h1v-2h1v2h2v-2h1v-1h-1v-1h-1v-1h-1v-1h-2v-1h2v-1h1v1h2v-1h1v-1h2v1h2v-1h1v2h1v2h-1v1h1v1h1v1h-1v2h-1v-1h-1v1h-1v-1h-1v1h-2v1h-1v-1h-1v1h-1v2h1v-1h1v1h2v-1h1v1h-1v1h-2v1h-2v1h-1v1h-1v-2h-2v-1h-1v1h1v1h1v1h-1v1h1v-1h1v2h-1v1h2v1h2v-1h-1v-1h-1v-2h1v-1h1v1h-1v2h1v-1h1v1h1v-2h-1v-2h1v1h2v-3h1v-2h1v-1h1v2h1v-1h1v2h-1v2h1v-2h1v1h1v1h-1v1h1v-1h1v-2h-1v-1h-1v-2h-1v-2h1v-1h1v-1h-2v-2h1v1h1v-1h1v-2h-2v1h-1v-2h-1v-1h1v1h1v-1h2v2h1v-4h1v-1h1v1h1v-1h1zM2 14v2h1v-2zM11 16v2h1v-2zM16 16v1h2v-1zM34 16v1h1v-1zM40 16v2h-1v1h1v-1h1v-1h1v-1zM21 17h1v1h-1zM42 17v1h1v-1zM12 18v1h1v-1zM5 19v1h2v-1zM32 19v1h-1v2h-1v1h-1v1h1v2h-1v3h1v-1h1v-2h1v1h1v-1h1v1h-1v1h1v-1h1v-1h2v2h1v-1h1v-1h-1v-1h-2v-2h-1v2h-2v-2h-1v-1h3v-1h-2v-2zM34 19v1h1v1h1v-1h1v-1zM5 21v3h3v-3zM21 21v3h3v-3zM37 21v3h3v-3zM6 22h1v1h-1zM18 22v2h1v1h1v-2h-1v-1zM22 22h1v1h-1zM38 22h1v1h-1zM31 24h1v1h-1zM6 25v1h1v-1zM20 25v1h-1v1h2v-1h2v-1zM24 25v1h1v-1zM39 27v1h-1v1h-1v1h1v-1h1v-1h2v-1zM31 28v1h-1v2h1v-1h1v-2zM14 29v1h-1v2h2v1h1v-2h-1v-2zM35 29v2h-1v1h-1v-1h-1v1h-1v1h1v2h2v-1h1v-1h-1v-1h1v1h2v-1h-1v-3zM38 30v3h-1v1h-1v1h1v1h1v-2h1v-4zM23 31v3h-1v1h-1v1h2v-1h1v-2h1v-1h-1v-1zM6 32h1v1h-1zM1 33h2v1h-2zM4 33h2v1h-1v3h-2v-1h-2v-1h3zM6 34h1v1h-1zM26 34v1h1v-1zM0 36h1v1h-1zM6 36h4v1h-1v1h2v1h-3v-2h-2zM21 37v3h3v-3zM37 37v3h3v-3zM0 38h7v7h-7zM22 38h1v1h-1zM38 38h1v1h-1zM1 39v5h5v-5zM11 39h2v1h-2zM18 39v1h2v-1zM2 40h3v3h-3zM8 41h3v1h-1v1h-2zM12 41h1v2h-1v1h-1v-2h1zM19 41v1h2v-1zM22 42v2h1v-2zM28 42h2v1h-2zM41 42h1v2h-1zM30 43h2v2h-1v-1h-1zM33 43h1v2h-1zM44 43h1v1h-1zM10 44h1v1h-1zM42 44h1v1h-1z" -->
  <!--     style="fill:#000" transform="translate(0,0) scale(11)"></path> -->
  <!-- </svg> -->
</template>

<script setup>
import { onMounted, ref } from 'vue'
import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from '@headlessui/vue'
import { CreditCardIcon } from '@heroicons/vue/24/outline'
import QRCodeVue3 from "qrcode-vue3";

const props = defineProps(['open', 'svg_d', 'amount'])
const emits = defineEmits(['close'])

const percentFee = 5
// const fixedFee = 1.2

const totalAmount = ref(null)
const percentFeeAmount = ref(null)

onMounted(() => {
  percentFeeAmount.value = amount.value * (percentFee / 100)
  totalAmount.value = Math.floor(Number(amount.value) + Number(percentFeeAmount.value)) // + Number(fixedFee))
})




</script>
