@tailwind base;
@tailwind components;
@tailwind utilities;

/*'white': '#ffffff',
      'purple': '#8386c9',
      'purple-light': '#8b5cf6',
      'purple-extra-light': '#f0f1ff',
      'gray': '#707070',
      'gray-light': '#f7f7f7',*/


@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 44%;

    --alternate-background: 3 0% 94%;
    --alternate-foreground: 210 40% 20%;

    --muted-illustration: 210 20% 97%;

    --muted: 210 40% 95%;
    --muted-foreground: 211 40% 20%;

    --popover: 130 25% 75%;
    --popover-foreground: 210 50% 10%;

    --card: 120 68% 35%;
    --card-foreground: 210 84% 5%;

    --ring: 210 84% 5%;
    --border: 210 27% 85%;
    --input: 210 30% 75%;

    --primary: 290 70% 48%;
    --primary-foreground: 180 5% 93%;

    --secondary: 0 0% 0%;
    --secondary-foreground: 210 40% 98%;

    --accent: 210 40% 96%;
    --accent-foreground: 210 11% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 96%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 59% 12%;
    --foreground: 210 40% 98%;

    --alternate-background: 210 59% 9%;
    --alternate-foreground: 210 40% 93%;

    --muted-illustration: 74 34% 88%;

    --muted: 210 30% 17.5%;
    --muted-foreground: 210 20.2% 65.1%;

    --popover: 210 84% 7.9%;
    --popover-foreground: 210 40% 98%;

    --card: 210 84% 50.9%;
    --card-foreground: 210 40% 98%;

    --ring: 210 26.8% 83.9%;
    --border: 210 30% 17.5%;
    --input: 210 30% 17.5%;

    --primary: 290 70% 48%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 232 99% 72%;
    --secondary-foreground: 210 40% 98%;

    --accent: 210 30% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30%;
    --destructive-foreground: 210 40% 98%;
  }
}
@layer base {
  @font-face {
    font-family: 'montserrat';
    font-weight: 100 900;
    font-stretch: 75% 125%;
    src:
      url('/fonts/montserrat-variable.woff2') format('woff2 supports variations'),
      url('/fonts/montserrat-variable.woff2') format('woff2-variations');
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}