<template>
    <div class="px-2">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-xl font-semibold text-gray-900">Addons</h1>
                <p class="mt-2 text-sm text-gray-700">A list of all the addons in your restaurant</p>
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
                <button @click="newAddon = true" type="button"
                    class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">New
                    Addon</button>
            </div>
        </div>
        <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">


                    <table class="w-[100%] divide-y divide-gray-300">
                        <thead>
                            <tr>
                                <th scope="col"
                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0">
                                    Name</th>
                                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">
                                    Description</th>
                                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Price</th>
                                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Active
                                </th>
                                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 md:pr-0">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">

                            <tr v-for="(addon, index) in addonList[breadcrumbs[0].split('-')[0]]" :key="addon.name">


                                <td class="whitespace-nowrap flex py-4 pl-4 pr-3sm:pl-6 md:pl-0">
                                    <a v-if="addonOverlay[index]" class="my-auto -translate-x-8 h-6 w-6 text-red-500"
                                        href="" @click.prevent="deleteAddon(addon)">
                                        <XMarkIcon />
                                    </a>
                                    <input v-if="addonOverlay[index]" type="text" v-model="editName"
                                        class="-ml-6 w-[10rem] rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                                        :placeholder="addon.name">
                                    <span class="text-sm font-medium text-blue-700 " v-if="!addonOverlay[index]">{{
                                        addon.name }}</span>
                                </td>
                                <td class="py-4 px-3 text-sm text-gray-500">
                                    <textarea v-if="addonOverlay[index]" v-model="editDesc"
                                        class="rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                                        :placeholder="addon.description" />
                                    <span v-if="!addonOverlay[index]">{{ addon.description }}</span>
                                </td>
                                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-700">
                                    <span v-if="!addonOverlay[index]" class=" bg-green-100 rounded-md p-2 font-semibold">{{
                                        addon.price }} Q</span>
                                    <input v-if="addonOverlay[index]" type="text" v-model.number="editPrice"
                                        class="w-16 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                                        :placeholder="addon.price">
                                </td>

                                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
                                    <input v-if="addonOverlay[index]" type="checkbox" v-model="editActive"
                                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                    <span v-if="!addonOverlay[index]" class="text-xs uppercase font-semibold"
                                        :class="addon.active ? 'text-green-500' : 'text-red-500'">{{ addon.active ?
                                            'active' : 'inactive' }}</span>
                                </td>

                                <td
                                    class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 md:pr-0">
                                    <a v-if="addonOverlay[index]" href="#" class="text-green-600 hover:text-green-900"
                                        @click="saveEdit(index, addon)">Save<span class="sr-only"> name </span></a>
                                    <a v-if="!addonOverlay[index]" href="" @click.prevent="editAddon(index, addon)"
                                        class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only"> {{
                                            addon.name }}</span></a>
                                </td>
                            </tr>


                            <tr v-if="newAddon">
                                <!-- Name -->
                                <td
                                    class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">
                                    <input type="text" v-model="newName"
                                        class="rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                </td>
                                <!-- Desc -->
                                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
                                    <textarea v-model="newDesc"
                                        class="rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" />
                                </td>
                                <!-- Price -->
                                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
                                    <input type="text" v-model.number="newPrice"
                                        class="w-16 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                </td>
                                <!-- Active -->
                                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
                                    <input type="checkbox" v-model="newActive"
                                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                </td>
                                <td
                                    class="relative my-auto flex flex-col items-center py-4 pl-3 pr-4 text-sm font-medium sm:pr-6 md:pr-0">
                                    <a href="#" class="text-green-600 hover:text-green-900 py-1" @click="postAddon">Add<span
                                            class="sr-only"> name </span></a>
                                    <a href="#" class="text-red-600 hover:text-red-900 py-1"
                                        @click="newAddon = false">Cancel<span class="sr-only"> name </span></a>
                                </td>
                            </tr>
                        </tbody>
                        <!-- <a href="" @click.prevent="$emit('refreshAddons')" class="mt-2">refresh</a> -->
                        <!-- {{ addons }} -->
                    </table>

                </div>
            </div>

        </div>
    </div>
</template>
  
<script setup>

import { ref } from 'vue'
import axios from 'axios'
import { XMarkIcon } from "@heroicons/vue/24/outline";
import { useNav } from "../../composables/useNav"

const { breadcrumbs } = useNav()

const props = defineProps(['addonList'])
const emit = defineEmits(['toggleModal', 'refreshAddons'])

const activeBool = ref([])

const newAddon = ref(false)
const newName = ref('')
const newDesc = ref('')
const newPrice = ref('')
const newActive = ref()

const createAddon = function () {
    addons.value.push(
        { name: newName.value, description: newDesc.value, price: newPrice.value, active: newActive.value, edit: false })

    newName.value = ''
    newDesc.value = ''
    newPrice.value = ''
    newAddon.value = false
}

const postAddon = async function () {
    await axios.post(`restaurants/${breadcrumbs.value[0].split('-')[0]}/addons`, { name: newName.value, description: newDesc.value, price: newPrice.value, active: newActive.value })
    emit('refreshAddons')
    newAddon.value = false
}

const deleteAddon = async function (addon) {
    await axios.delete(`restaurants/${breadcrumbs.value[0].split('-')[0]}/addons/${addon._id}`)
    emit('refreshAddons')
    newAddon.value = false
}

const editName = ref('')
const editDesc = ref('')
const editPrice = ref('')
const editActive = ref()

const editAddon = function (index, addon) {
    editName.value = addon.name
    editDesc.value = addon.description
    editPrice.value = addon.price
    editActive.value = addon.active
    addonOverlay.value[index] = true

    // console.log(addon)
    // addon.name='steve'
    // console.log(addons.value)
}

const saveEdit = async function (index, addon) {
    addons.value[index].name = editName.value
    addons.value[index].description = editDesc.value
    addons.value[index].price = editPrice.value
    addons.value[index].active = editActive.value
    addonOverlay.value[index] = false

    await axios.patch(`restaurants/${breadcrumbs.value[0].split('-')[0]}/addons/${addon._id}`, { name: editName.value, description: editDesc.value, price: editPrice.value, active: editActive.value })
    emit('refreshAddons')
}

const addons = ref(props.addonList)
// const addons = ref([
//   { name: 'Cacao', description: 'Organic cacao from Cacao Source', price: 34, active: true },
//   { name: 'Honey', description: 'Fresh local honey', price: 22, active: true },
//   { name: 'Ramon', description: 'Healthy coffee alternative', price: 82, active: true },
//   { name: 'Beetroot BBQ', description: 'Homemade bbq sauce made from local ingredients', price: 82, active: true },
//   // More people...
// ])

const addonOverlay = ref([])
for (let item in addons.value) {
    addonOverlay.value.push(false)
}
</script>
