<template>
  <form class="space-y-8 divide-y divide-gray-200">
    <!-- {{ itemHolder }} -->
    <p><span class="font-bold">postPath</span>: {{ postPath }}</p>
    <div class="space-y-8 divide-y divide-gray-200">
      <div>
        <!-- Active Checkbox  -->
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">
            Item Details
          </h3>
          <fieldset>
            <legend class="sr-only">Active</legend>
            <!-- <div class="text-base font-medium text-gray-900" aria-hidden="true">By Email</div> -->
            <div class="mt-4 space-y-4">
              <div class="relative flex items-start">
                <div class="flex items-center h-5">
                  <!-- {{ active }} -->
                  <input id="active" v-model="active" name="active" type="checkbox"
                    class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" />
                </div>
                <div class="ml-3 text-sm">
                  <label for="active" class="font-medium text-gray-700">Active</label>
                  <p class="text-gray-500">
                    This information will be displayed publicly so be careful
                    what you share.
                  </p>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <!-- Active Checkbox  -->

        <div class="grid grid-cols-1 mt-6 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <label for="itemname" class="block text-sm font-medium text-gray-700">
              Item Name
            </label>
            <div class="flex mt-1 rounded-md shadow-sm">
              <!-- <span class="inline-flex items-center px-3 text-gray-500 border border-r-0 border-gray-300 rounded-l-md bg-gray-50 sm:text-sm"> workcation.com/ </span> -->
              <input type="text" name="itemname" id="itemname" v-model="name" autocomplete="itemname"
                class="flex-1 block w-full min-w-0 border-gray-300 rounded-none focus:ring-indigo-500 focus:border-indigo-500 rounded-r-md sm:text-sm" />
            </div>
          </div>

          <div class="col-span-2"></div>

          <div class="sm:col-span-1">
            <label for="price" class="block text-sm font-medium text-gray-700">
              Item Price
            </label>
            <div class="flex mt-1">
              <!-- <span class="inline-flex items-center px-3 text-gray-500 border border-r-0 border-gray-300 rounded-l-md bg-gray-50 sm:text-sm"> workcation.com/ </span> -->
              <input type="text" name="price" id="price" v-model="price" autocomplete="price"
                class="flex-1 block w-full min-w-0 border-r border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 rounded-l-md sm:text-sm" />
              <span class="px-2 pt-1">Q</span>
            </div>
          </div>

          <div class="col-span-5"></div>

          <div class="sm:col-span-2">
            <label for="itemUnit" class="block text-sm font-medium text-gray-700">
              Bulk Item Unit (e.g., kg, lb, oz)
            </label>
            <div class="flex mt-1 rounded-md shadow-sm">
              <!-- <span class="inline-flex items-center px-3 text-gray-500 border border-r-0 border-gray-300 rounded-l-md bg-gray-50 sm:text-sm"> workcation.com/ </span> -->
              <input type="text" name="itemUnit" id="itemUnit" v-model="unit" placeholder="leave empty if none"
                autocomplete="itemUnit"
                class="flex-1 block w-full min-w-0 border-gray-300 rounded-none focus:ring-indigo-500 focus:border-indigo-500 rounded-r-md sm:text-sm" />
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="about" class="block text-sm font-medium text-gray-700">
              Description
            </label>
            <div class="mt-1">
              <textarea id="about" v-model="description" name="about" rows="3"
                class="block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
            </div>
            <p class="mt-2 text-sm text-gray-500">Describe the item.</p>
          </div>

          <div class="sm:col-span-6">
            <label for="photo" class="block text-sm font-medium text-gray-700">
              Photo
            </label>
            <div class="flex items-center mt-1">
              <!-- <span class="w-24 h-24 overflow-hidden bg-gray-100 rounded-full"> -->
              <!-- <img class="rounded-md w-36 h-36" :src="itemHolder.imgSrc ? 'http://localhost:8081/' + itemHolder.imgSrc : 'https://picsum.photos/200'"> -->
              <img class="w-64 rounded-md" :src="imgUrl ? imgUrl : base_url + '/' + itemHolder.imgSrc">
              <p v-if="imgUrl" class="bg-white p-3 m-3 border border-slate-200 rounded-md">Note: this image will be
                converted to webp
                and cropped to
                1024x1024. Max file size is 10mb.
              </p>

              <!-- </span> -->
              <!-- <button
                type="button"
                class="px-3 py-2 ml-5 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Change
              </button> -->
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="cover-photo" class="block text-sm font-medium text-gray-700">
              Item photo
            </label>
            <div class="flex justify-center px-6 pt-5 pb-6 mt-1 border-2 border-gray-300 border-dashed rounded-md">
              <div class="space-y-1 text-center">
                <svg class="w-12 h-12 mx-auto text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
                  aria-hidden="true">
                  <path
                    d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="flex text-sm text-gray-600">
                  <label for="file-upload"
                    class="relative font-medium text-indigo-600 bg-white rounded-md cursor-pointer hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                    <span>Upload a file</span>
                    <!-- ref stores the imgFile -->
                    <input id="file-upload" @change="handleImgChange" accept="image/*" name="file-upload" type="file"
                      class="sr-only" />
                  </label>
                  <p class="pl-1">or drag and drop</p>
                </div>
                <p class="text-red-600 text-xs"> (drag & drop not functional yet!)</p>
                <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- START Required Options -->
      <div class="p-6 space-y-6 bg-gray-100 rounded-lg shadow-lg sm:space-y-5">
        <div @click="reqOptionsCollapse = !reqOptionsCollapse">
          <h3 class="text-lg font-medium leading-6 text-gray-900">
            Required Options
          </h3>
          <p class="max-w-2xl mt-1 text-sm text-gray-500">
            These are options that users either choose *one* or *one or more* of
            for their plate/drink
          </p>
          <ChevronDownIcon v-if="reqOptionsCollapse" style="width: 20px" />
          <ChevronUpIcon v-else style="width: 20px" />
        </div>

        <div v-show="reqOptionsCollapse">

          <div class="p-4 my-5 space-y-5 bg-indigo-300 rounded-lg">
            <div v-for="(option, index) in requiredOptions" :key="option.name"
              class="grid grid-cols-6 p-6 bg-indigo-200 rounded-lg">
              <div class="flex flex-col items-start justify-between col-span-1 px-3">
                <ChevronUpIcon @click="move('up', requiredOptions, index)" class="w-[3rem]" style="cursor : pointer;" />
                <!-- TODO replace the mr-2 with a better solution that centers the items vertically -->
                <PencilIcon class="w-[2rem] ml-2" style="cursor : pointer;" />
                <ChevronDownIcon @click="move('down', requiredOptions, index)" class="w-[3rem]"
                  style="cursor : pointer;" />
              </div>
              <div class="col-span-4">
                <p class="pb-3 text-3xl font-bold"> Option {{ index + 1 }}</p>
                <div v-for="choice in option.choices" :key="choice.name">
                  <p>
                    {{ choice.name }} &nbsp; {{ choice.price > 0 ? `(${choice.price} Q extra)` : '' }}
                  </p>
                  <p class="text-sm text-gray-500">
                    &nbsp;&nbsp;{{ choice.description }}
                  </p>
                </div>
                <a class="inline-block mt-1 rounded-md bg-gray-50">
                  <p class="px-2 py-1 font-bold text-gray-600 rounded-xs">Choose <span
                      :class="option.chooseOne ? 'text-red-500' : 'text-green-500'">{{
                        option.chooseOne ? "ONE" :
                        "MULTIPLE"
                      }}</span></p>

                </a>
              </div>
              <div class="flex flex-col items-end justify-between col-span-1 px-3">
                <XMarkIcon @click="DelReqOption(index)" class="w-[2rem] text-red-500" style="cursor : pointer;" />
              </div>
            </div>

            <!-- START Add Option Box -->
            <div class="p-5 bg-green-100 rounded-lg">
              <form>
                <div class="grid grid-cols-6">

                  <div class="col-span-4">
                    <label for="about" class="block text-sm font-medium text-gray-800">
                      Add options
                    </label>
                    <div class="mt-1">
                      <textarea id="about" v-model="addReqOptText" name="about"
                        placeholder="Breadroll &#10;Gluten-free roll | 10 &#10;Tortillas (hand-made fresh) | 5" rows="3"
                        class="block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                    </div>
                    <p class="mt-2 text-sm text-gray-600">
                      Note: Description goes in ()'s and if the option has a price, place the number after a | (order
                      matters!)
                    </p>
                  </div>

                  <div class="col-span-2 pl-6">
                    <div class="pt-6 sm:pt-5">
                      <div role="group" aria-labelledby="label-notifications">
                        <!-- <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline"> -->
                        <div class="sm:col-span-2">
                          <div class="max-w-lg">
                            <div class="mt-4 space-y-4">
                              <div class="flex items-center">
                                <input v-model="addReqOptBool" :value="true" id="choose-one" name="push-notifications"
                                  type="radio" class="w-4 h-4 text-indigo-600 border-gray-300 focus:ring-indigo-500" />
                                <label for="choose-one" class="block ml-3 text-sm font-medium text-gray-700">
                                  Choose One
                                </label>
                              </div>
                              <div class="flex items-center">
                                <input v-model="addReqOptBool" :value="false" id="push-email" name="push-notifications"
                                  type="radio" class="w-4 h-4 text-indigo-600 border-gray-300 focus:ring-indigo-500" />
                                <label for="push-email" class="block ml-3 text-sm font-medium text-gray-700">
                                  Choose One or More
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="pt-3">
                  <button @click.prevent="AddToReqOptions" type="submit"
                    class="inline-flex items-center px-8 py-2 text-base font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                    Add
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- END Add Options Box -->

      </div>

      <!-- START Optional Addons -->

      <div class="p-6 space-y-6 bg-gray-100 divide-y divide-gray-200 rounded-lg shadow-lg sm:space-y-5">
        <div @click="optAddonsCollapse = !optAddonsCollapse">
          <h3 class="text-lg font-medium leading-6 text-gray-900">
            Optional Addons
          </h3>
          <p class="max-w-2xl mt-1 text-sm text-gray-500">
            These are optional addons
          </p>
          <ChevronDownIcon v-if="optAddonsCollapse" style="width: 20px" />
          <ChevronUpIcon v-else style="width: 20px" />
        </div>

        <!-- {{ optionsBool }} -->
        <div v-show="optAddonsCollapse">
          <fieldset class="space-y-5">
            <legend class="sr-only">OptionalAddons</legend>
            <div v-for="option in addonList[postPath.split('/')[1]]" :key="option.name" class="relative flex items-start">
              <div class="flex items-center h-5">
                <input :id="option._id" :aria-describedby="`${option.abbr}-description`" v-model="optionsBool"
                  :value="option._id" :name="option.name" type="checkbox"
                  class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" />
              </div>
              <div class="ml-3 text-sm">
                <label :for="option._id" class="font-medium text-gray-700">{{ option.name }} <span v-if="option.price"
                    class="text-green-600">( {{ option.price }}Q extra )</span></label>
                <p :id="`${option.abbr}-description`" class="text-gray-500">{{ option.description }}</p>
              </div>
            </div>
          </fieldset>
        </div>

      </div>
      <!-- END Optional Addons -->



      <!-- START Dietary Preferences -->
      <div class="p-6 space-y-6 bg-gray-100 divide-y divide-gray-200 rounded-lg shadow-lg sm:space-y-5">
        <div @click="filterBool = !filterBool">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Filters</h3>
          <p class="max-w-2xl mt-1 text-sm text-gray-500">
            Here you can specify options that the customer can filter!
          </p>
          <ChevronDownIcon v-if="filterBool" style="width: 20px" />
          <ChevronUpIcon v-else style="width: 20px" />
        </div>

        <div v-show="filterBool">
          <fieldset class="space-y-5">
            <legend class="sr-only">Filters</legend>
            <div v-for="filter in filterList" :key="filter.name" class="relative flex items-start">
              <div class="flex items-center h-5">
                <input :id="filter._id" aria-describedby="comments-description" v-model="filtersBool" :value="filter.abbr"
                  :name="filter.name" type="checkbox"
                  class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" />
              </div>
              <div class="ml-3 text-sm">
                <label :for="filter._id" class="font-medium text-gray-700">{{ filter.name }}</label>
                <!-- <p id="comments-description" class="text-gray-500">{{filter.description}}</p> -->
              </div>
            </div>
          </fieldset>
          {{ filtersBool }}

        </div>
      </div>
      <!-- END Dietary Preferences -->

    </div>
    <div class="pt-5">
      <div class="flex justify-end">
        <button v-if="itemHolder._id" @click="areYouSure()" type="button"
          class="px-4 py-2 text-sm font-medium text-white bg-red-500 border rounded-md shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
          Delete
        </button>
        <span class="flex-grow"></span>
        <button @click="modalOpen = !modalOpen" type="button"
          class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Cancel
        </button>
        <!-- NOTE the postPath for Add Item is specified on the backend in the get routes for each level -->
        <button @click.prevent="CallApi()" type="submit"
          class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Save
        </button>
      </div>
    </div>
  </form>
</template>

<script setup>
import axios from 'axios';
import { ref } from "vue";
import { ChevronDownIcon, ChevronUpIcon, PencilIcon } from "@heroicons/vue/20/solid";
import { XMarkIcon } from "@heroicons/vue/24/outline";
import { useUser } from '../../composables/useUser'
import { useApi } from '../../composables/useApi'
import { useModal } from '../../composables/useModal'

const { modalOpen, alertModalOpen } = useModal()


const { callApi, callTypeGlobal, handleImgUpload } = useApi()


const { addonList } = useUser()

const emits = defineEmits(["close", "clearProduct"]);

const props = defineProps({
  itemHolder: Object,
  filterList: Array
});

const base_url = import.meta.env.VITE_BASE_URL

const itemHolder = props.itemHolder
const active = ref(props.itemHolder.active); // since active field is a boolean `itemHolder.active || true` doesn't work if itemHolder.active === false
const name = ref(props.itemHolder.name);
const price = ref(props.itemHolder.price);
const description = ref(props.itemHolder.description || '');
const imgSrc = ref(props.itemHolder.imgSrc || '');
const requiredOptions = ref(props.itemHolder.requiredOptions || [])
const imgFilesObject = ref(null)
const imgUrl = ref('') // if this has a value, then handleImgUpload is called in CallApi
const filtersBool = ref(props.itemHolder.filters || [])
const optionsBool = ref(props.itemHolder.addons || [])
const postPath = ref(props.itemHolder.postPath || 'usebreadcrumbs')

// https://stackoverflow.com/questions/36280818/how-to-convert-file-to-base64-in-javascript
// https://stackoverflow.com/questions/47195119/how-to-capture-filereader-base64-as-variable
async function getBase64(file, onLoadCallback) {
  return new Promise(function (resolve, reject) {
    var reader = new FileReader();
    reader.onload = function () {
      resolve(reader.result);
    };
    reader.onerror = reject;
    reader.readAsDataURL(file);
  });
}
// this function assigns the image to imgUrl,
// this displays the images immediately for the user on the form
// it does *not* yet send it to the database
const handleImgChange = async (event) => {
  const files = event.target.files
  imgFilesObject.value = event.target.files
  if (files[0]) {
    imgUrl.value = await getBase64(files[0])
    // const reader = new FileReader()
    // reader.readAsDataURL(files[0]);
    // reader.onload = () => {
    //   imgUrl.value = reader.result
    // }
  }

}

const areYouSure = async function () {
  alertModalOpen.value = true
}

async function CallApi(callType = callTypeGlobal.value) {

  // let postPath = ''
  // if (itemHolder._id) {
  //   postPath = itemHolder.restaurant + '/' + itemHolder.menu + '/' + itemHolder.category + '/' + itemHolder.subcategory + '/' + itemHolder._id
  // } else {
  //   postPath = itemHolder.postPath
  // }

  if (callType === 'delete') {
    callApi({ callType: 'delete' })
    modalOpen.value = !modalOpen.value
    return console.log('item deleted', itemHolder)
  }

  const payload = {
    name: name.value,
    active: active.value,
    price: price.value,
    description: description.value,
    imgSrc: imgSrc.value, //imgSrc,
    requiredOptions: requiredOptions.value, //itemHolder.requiredOptions,
    addons: optionsBool.value,
    filters: filtersBool.value,
  }

  // TODO check up on thse awaits and determine if they're needed
  // i think we want them to make sure everything is uploaded
  // may need some then/catch stuff to check for errors

  await callApi({ payload })
  // do this after callApi in case it's a post so the item is definitely made
  if (imgFilesObject.value) {
    await handleImgUpload(postPath.value, imgFilesObject.value)
  }

  // getUserTree is prevented from being called when an item is patched so that we can automatically
  // update the object to reflect in the CMS
  if (callType === 'patch') {
    payload.imgSrc += '?cacheBreaker'
    Object.entries(payload).forEach((field) => {
      itemHolder[field[0]] = field[1]
    })
  }

  modalOpen.value = !modalOpen.value

}

// https://stackoverflow.com/questions/65703814/how-to-upload-file-in-vue-js-version-3
// const handleImgUpload = async () => {

//   const form = new FormData()
//   console.log("selected file", imgFile.value.files[0])
//   var promise = getBase64(imgFile.value.files[0]);
//   promise.then(function(result) {
//       imageReplaced.value = result
//   });
//   form.append('itemImage', imgFile.value.files[0])
//   // axios.post('localhost:8081/' + itemHolder.restaurant)
//   const postPath = '/' + itemHolder.restaurant + '/' + itemHolder.menu + '/' + itemHolder.category + '/' + itemHolder.subcategory + '/' + itemHolder._id + '/image'
//   await axios.post(postPath, form, { headers: { 'Content-Type': 'image/webp'}})
// }

// = = = = = = = = = = = = = = = = = = = END Call API Fct = = = = = = = = = = = = = = = = = = =  


// Booleans for collapsable sections
const reqOptionsCollapse = ref(false);
const optAddonsCollapse = ref(false);
const filterBool = ref(false);

// const addonList = ref([
// { name: 'Fluffy Bread Roll', description: 'add description here', abbr: "fluffybreadroll", price: 0, filters: [] },
// { name: 'Gluten-free Roll', description: 'add description here',  abbr: "gfroll", price: 5, filters: [] },
// { name: 'Tortillas', description: 'add description here',  abbr: "tortilla", price: 0, filters: [] },
// { name: 'BBQ Sauce', description: 'add description here',  abbr: 'bbqsauce', price: 5, filters: [] },
// { name: 'Pesto Sauce', description: 'add description here',  abbr: 'pestosauce', price: 8, filters: [] },
// { name: 'Tahini Sauce', description: 'add description here',  abbr: 'tahinisauce', price: 9, filters: [] },
// ])

const addReqOptText = ref('')
const addReqOptBool = ref(true)

const close = function () {
  emits("close");
  emits("clearProduct"); // TODO add appropriate method to ContentManager
};

const sayRibbit = function () {
  console.log("RIBBIT");
  console.log(props.itemHolder)
  // emits("close");
};

const AddToReqOptions = function () {
  const obj = { choices: [], chooseOne: addReqOptBool.value }
  const options = addReqOptText.value.split(/\r?\n/)

  if (options.length <= 1) {
    return console.log('you have to add at least 1 option')
  }

  // TODO figure out how to add in filters, probably requires a UI component
  // have a ref array that gets reset to [], and another modal that lets you add
  // each option and choose from a selection of the available filters
  for (let item of options) {
    if (item.length === 0) {
      continue
    }
    if (item.includes('(') && item.includes('|')) {
      let temp = { name: '', description: '', filters: [], price: undefined }
      temp.name = item.split('(')[0].trim()
      temp.description = item.split('(')[1].split(')')[0].trim()
      temp.price = Number(temp.price = item.split('|')[1].trim())
      obj.choices.push(temp)
      continue
    } else if (item.includes('|')) {
      obj.choices.push({ name: item.split('|')[0].trim(), description: undefined, price: Number(item.split('|')[1].trim()), filters: [] })
      continue
    } else if (item.includes('(')) {
      obj.choices.push({ name: item.split('(')[0].trim(), description: item.split('(')[1].split(')')[0].trim(), price: 0, filters: [] })
      continue
    } else {
      obj.choices.push({ name: item.trim(), description: undefined, price: 0, filters: [] })
    }
  }

  requiredOptions.value.push(obj)
  addReqOptText.value = ''
  addReqOptBool.value = true
};

const DelReqOption = function (index) {
  // the 1 means only remove 1 element and not everything after the index
  requiredOptions.value.splice(index, 1)
};

// this is for arrays!
const move = function (direction, arr, index) {
  if (direction === "up") {
    if (index === 0) {
      return console.log("already at the top!")
    }
    const temp = arr[index - 1]
    arr[index - 1] = arr[index]
    arr[index] = temp
  } else if (direction = "down") {
    if (index === arr.length - 1) {
      return console.log("already at the bottom!")
    }
    const temp = arr[index + 1]
    arr[index + 1] = arr[index]
    arr[index] = temp
  }
}


// const requiredOptions = ref([
//     { 
//         choices: [
//             { name: 'Fluffy Bread Roll', price: 0 },
//             {  name: 'Gluten-free Roll', price: 5 },
//             {  name: 'Tortillas', price: 0 },
//         ],
//         chooseOne : false
//     },
//     { 
//         choices: [
//             { name: 'Hot', price: 0 },
//             {  name: 'Cold', price: 0 },
//             {  name: 'Tepid', price: 9 },
//         ],
//         chooseOne : true
//     },
//     { 
//         choices: [
//             { name: 'BBQ Sauce', price: 0 },
//             {  name: 'Pesto Sauce', price: 0 },
//             {  name: 'Tahini Sauce', price: 9 },
//         ],
//         chooseOne : false
//     }

// ])
</script>
