<template>
  <form class="space-y-8 divide-y divide-gray-200">
    <div class="space-y-8 divide-y divide-gray-200">
      <!-- Active Checkbox  -->
      <div>
        <h3 class="text-lg font-medium leading-6 text-gray-900">
          Add a new <span class="capitalize">{{ formTypeGlobal }}</span>
        </h3>

        <fieldset>
          <legend class="sr-only">Active</legend>
          <!-- <div class="text-base font-medium text-gray-900" aria-hidden="true">By Email</div> -->
          <div class="mt-4 space-y-4">
            <div class="relative flex items-start">
              <div class="flex items-center h-5">
                <input id="active" name="active" type="checkbox" v-model="active" checked
                  class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" />
              </div>
              <div class="ml-3 text-sm">
                <label for="active" class="font-medium text-gray-700">Active</label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <!-- Active Checkbox  -->



      <!-- ALL ITEMS USE NAME FIELD -->
      <div>
        <label for="name" class="block py-3 text-sm font-medium text-gray-700">Name</label>
        <div class="mt-1">
          <input v-model="name" type="text" name="name" id="name"
            class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            :placeholder="'e.g., ' + ['Emporium', 'Main Menu', 'Food', 'Breakfast'][breadcrumbs.length]"
            aria-describedby="name-description" />
        </div>
      </div>
      <div class="p-5 bg-gray-300 rounded-md"><span class="font-bold">What's in the ItemHolder : </span> {{
        itemHolder
      }}
      </div>

      <!-- RESTAURANT HAS EXTRA FIELDS -->
      <div v-if="formTypeGlobal === 'restaurant'">
        <label for="town" class="block py-3 text-sm font-medium text-gray-700">Town/Aldea</label>
        <div class="mt-1">
          <input v-model="town" type="text" name="town" id="town"
            class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            placeholder="e.g., San Marcos" aria-describedby="town-description" />
        </div>
        <label for="gmaps" class="block py-3 text-sm font-medium text-gray-700">Google Maps Link</label>
        <div class="mt-1">
          <input v-model="gmapsLink" type="text" name="gmaps" id="gmaps"
            class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            placeholder="https://goo.gl/maps/g6fiBTNKDBRVgwCm7" aria-describedby="gmaps-description" />
        </div>
        <p class="mt-2 text-sm text-gray-500" id="email-description">People can use this to filter out which gmaps
          you're
          located in.</p>

        <div class="p-6 space-y-6 bg-gray-100 divide-y divide-gray-200 rounded-lg shadow-lg sm:space-y-5">
          <div @click="hoursBool = !hoursBool">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Open Hours</h3>
            <p class="max-w-2xl mt-1 text-sm text-gray-500">
              Specify the opening hours of your restaurant
            </p>
            <ChevronDownIcon v-if="hoursBool" style="width: 20px" />
            <ChevronUpIcon v-else style="width: 20px" />
          </div>

          <div v-show="hoursBool">

            <p class="text-sm text-gray-500"> Leave values blank if closed </p>

            <div v-for="(value, key) in openHours" class="flex flex-col justify-around" :key="key">
              <p class="mt-2 text-lg font-bold ">{{ key }}</p>

              <!-- TODO replace autocomplete -->

              <div v-for="(item, count) of value" class="flex mt-2 gap-y-6 items-center gap-x-4">
                <div class="sm:col-span-1">
                  <div class="mt-1">
                    <input type="time" v-model="openHours[key][count][0]" name="open-time" id="open-time"
                      autocomplete="given-name"
                      class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                  </div>
                </div>

                <div class="sm:col-span-1">
                  <div class="mt-1">
                    <input type="time" v-model="openHours[key][count][1]" name="close-time" id="close-time"
                      autocomplete="family-name"
                      class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                  </div>
                </div>

                <XMarkIcon @click="openHours[key].splice(count, 1)" class="text-red-400 h-6" />

              </div>
              <p @click="value.push([])" class="p-3 text-green-700"> + add row</p>



            </div>

          </div>
        </div>
      </div>

    </div>


    <div class="pt-5">
      <div class="flex justify-end">
        <button v-if="itemHolder" @click.prevent="areYouSure()" type="button"
          class="px-4 py-2 text-sm font-medium text-white bg-red-500 border rounded-md shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
          Delete
        </button>
        <span class="flex-grow"></span>
        <button @click="modalOpen = !modalOpen" type="button"
          class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Cancel
        </button>
        <button @click.prevent="CallApi()" type="submit"
          class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Save
        </button>
      </div>
    </div>
  </form>
</template>

<script setup>
import { ref, reactive } from "vue";
import { ChevronDownIcon, ChevronUpIcon, PencilIcon } from "@heroicons/vue/20/solid";
import { XMarkIcon } from "@heroicons/vue/24/outline";

import { useNav } from '../../composables/useNav'
import { useModal } from '../../composables/useModal'
import { useApi } from '../../composables/useApi'

const { itemHolder, breadcrumbs, levelNames, pluralize } = useNav()
const { formTypeGlobal, modalOpen, alertModalOpen } = useModal()
const { callApi, getBase64, handleImgUpload, callTypeGlobal } = useApi()

const emit = defineEmits(["close", "callAPI"]);

// if patching, fill refs with itemHolder values
const name = ref(callTypeGlobal.value === 'patch' ? itemHolder.value.name : '')
const town = ref(callTypeGlobal.value === 'patch' ? itemHolder.value.town : '')
const gmapsLink = ref(callTypeGlobal.value === 'patch' ? itemHolder.value.gmapsLink : '')
const active = ref(callTypeGlobal.value === 'patch' ? itemHolder.value.active : true)
const openHours = reactive(callTypeGlobal.value === 'patch' ? itemHolder.value.openHours : { Monday: [[]], Tuesday: [[]], Wednesday: [[]], Thursday: [[]], Friday: [[]], Saturday: [[]], Sunday: [[]] })

// hours drop down
const hoursBool = ref(true)

const areYouSure = async function () {
  alertModalOpen.value = true
}



const getPostPath = function (callType) {

  const formType = formTypeGlobal.value
  // restaurant is a particular case that has a /restaurants/ prefix to the patch and delete 
  if (formType === 'restaurant') {
    if (callType === 'post') {
      return `/restaurants`
    } else {
      // for PATCH and DELETE
      return `/restaurants/${itemHolder.value._id}`
    }
  }

  // POST for non restaurants crawls through the breadcrumbs to get the proper postPath
  if (callType === 'post') {
    let postPathBuilder = '/stores'
    for (const [index, value] of Object.entries(breadcrumbs.value)) {
      postPathBuilder += '/' + value.split('-')[0]
      if (Number(index) === (breadcrumbs.value.length - 1)) {
        postPathBuilder += '/' + pluralize(levelNames[Number(index) + 1])
        break
      }
    }
    return postPathBuilder
  } else {
    return itemHolder.value.postPath
  }

}

// TODO put CallApi into Modal.vue?
// also put the delete cancel save buttons up there if possible
const CallApi = function (callType = callTypeGlobal.value) {
  const postPath = getPostPath(callType)

  if (callType === 'delete') {
    callApi({ callType: 'delete', postPath: postPath })
      .then(() => {
        modalOpen.value = !modalOpen.value
        return console.log('item deleted', itemHolder)
      })
      .catch(() => {
        modalOpen.value = !modalOpen.value
        return console.error('item deletion failed')
      })
      .finally(() => {
        console.log('finalized')
        modalOpen.value = false
      })
  } else {
    // initialize payload to be filled out from current state of reactive variables
    let payload = {}

    // restaurant has other fields to fill out, everything below is just name and active
    // TODO when order is added, you'll have to handle it in PATCH 
    if (formTypeGlobal.value === 'restaurant') {
      payload = {
        name: name.value,
        town: town.value,
        gmapsLink: gmapsLink.value,
        openHours: openHours, // this is a reactive, not a ref
        active: active.value
      }
    } else {
      payload = {
        name: name.value,
        active: active.value
      }
    }

    callApi({ payload, postPath: postPath })
      .then(() => {
        console.log(`api call complete\nformType: ${formTypeGlobal.value} \ncallType: ${callTypeGlobal.value} \npostPath: ${postPath} \npayload: ${payload} `)
      })
      .catch((e) => {
        console.log(`api call failed\nformType: ${formTypeGlobal.value} \ncallType: ${callTypeGlobal.value} \npostPath: ${postPath} \npayload: ${payload} `)
        console.error(e)
      })
      .finally(() => {
        modalOpen.value = !modalOpen.value
      })
  }
}

</script>
