<template>
    <!-- NOTE: using just flex caused the footer to act funky on mobile, so using block fixed instead-->
    <footer class="fixed bottom-0 block w-full bg-bottom-bar lg:hidden">
        <div class="flex items-center justify-around">

            <!-- ############### START Filters Popover ############### -->
            <div class="flex justify-center">
                <!-- <FilterPopover :filters="filters" -->
                <!--     :popoverPosition="'left-1/2 mt-3 w-64 -translate-y-60 -translate-x-8 lg:-translate-x-36 transform px-2 sm:px-0'" -->
                <!--     :iconColor="'text-gray-300'" /> -->
                <RouterLink to="/">
                    <ArrowUturnLeftIcon class="pl-2 h-6 text-yellow-500 drop-shadow" />
                </RouterLink>
            </div>
            <!-- ############### END Filters Popover ############### -->

            <!-- ############### START hamburger ############### -->
            <!-- NOTE: TODO infobar doesn't close, i think it's because clicking it also clicks outside the infobar which toggles the boolean -->
            <button type="button" @click="openInfobar"
                class="h-12 px-3 rounded-md text-icons hover:text-gray-900 focus:outline-none">
                <span class="sr-only">Open sidebar</span>
                <Bars3Icon class="w-6 h-6" aria-hidden="true" />
            </button>
            <!-- ############### END hamburger ############### -->

            <!-- ############### START Mobile Search Bar ############### -->
            <div class="flex items-center px-2">
                <label for="search" class="sr-only">Search</label>
                <div class="relative">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <MagnifyingGlassIcon class="h-5 w-5 text-slate-400" aria-hidden="true" />
                    </div>
                    <input :value="state.searchQuery" @input="state.searchQuery = $event.target.value"
                        class="pl-10 flex-shrink w-48 sm:w-auto py-1 h-8 text-sm sm:text-base rounded-md font-medium"
                        data-kioskboard-type="keyboard" data-kioskboard-placement="bottom"
                        data-kioskboard-specialcharacters="false" placeholder="Search" />
                    <a href="#" @click.prevent="state.searchQuery = ''"
                        class="absolute inset-y-0 right-0 flex items-center pr-2">
                        <XCircleIcon v-if="state.searchQuery" class="h-6 text-red-500" aria-hidden="true" />
                    </a>
                </div>
            </div>
            <!-- ############### END Search Bar ############### -->

            <!-- ############### START Shopping Cart Icon ############### -->
            <button class="text-icons" @click="openCart" type="button" aria-expanded="false">
                <ShoppingBagIcon class="h-8" />
                <span class=" sr-only">items in cart, view bag</span>
                <p class="absolute w-4 bottom-[23%] translate-x-[50%] text-xs font-medium group-hover:text-gray-200">
                    {{ cartStore.cartQty }}</p>
            </button>
            <!-- ############### END Shopping Cart Icon ############### -->
            <!-- ############################## START search results ##############################  -->
            <div>
                <!-- NOTE: this will be hidden on lg per the parent css -->
                <div v-if="searchResults.length > 0"
                    class="fixed bottom-12 left-0 w-screen bg-slate-600 bg-opacity-[99%] rounded-t-lg py-6 lg:py-12 lg:rounded-md lg:w-[75%] lg:mx-10 lg:top-40 h-[280px] sm:h-[340px] lg:h-[400px] z-[1]">
                    <a href="#" @click.prevent="state.searchQuery = ''">
                        <XCircleIcon class="absolute h-8 text-white ml-4" />
                    </a>
                    <h1
                        class="w-fit mb-4 mx-auto text-teal-50 drop-shadow-md text-2xl sm:text-3xl lg:text-4xl font-light uppercase drop-shadow">
                        Search Results:</h1>
                    <div class="overflow-x-scroll pb-6"> <!-- Note: the pb-6 pushes the horizontal scroll bar lower -->
                        <ul role="list" class="inline-flex mx-4 space-x-8 sm:mx-6 lg:mx-10 lg:space-x-0 lg:gap-x-8">
                            <li v-for="item in searchResults" :id="item.name" @click="emits('toggleQuickView', item.item)"
                                class="inline-flex flex-col w-32 text-center sm:w-48">
                                <div style="cursor: pointer;" class="w-full relative-group">
                                    <div class="shadow-md">
                                        <img class="h-8 shadow-md w-8 z-10 bg-white rounded-full p-[1px] translate-y-4 -mt-4"
                                            :src="`https://atitlan.io/restaurants/${item.item.restaurant}/small_logo`">
                                        <img class="object-cover object-center rounded-lg w-full h-full hover:opacity-75"
                                            :class="item.item.active ? '' : 'opacity-30'" type="image/webp"
                                            :src="item.item.imgSrc ? getImgURL(item.item.imgSrc) : missingPicture">
                                    </div>
                                    <div class="mt-1.5">
                                        <h3
                                            class="text-white text-sm sm:text-md lg:text-lg font-light uppercase drop-shadow truncate">
                                            {{ item.item.name }}</h3>
                                        <p class="-mt-0.5 font-medium text-white text-xs sm:text-sm drop-shadow">
                                            {{ item.item.price }} Q</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ############################## END search results ##############################  -->

        </div>
    </footer>
</template>

<script setup>
import { reactive, computed } from 'vue'
import missingPicture from '../../assets/missingPicture.webp'
import { XCircleIcon, ArrowUturnLeftIcon, MagnifyingGlassIcon, ShoppingBagIcon, Bars3Icon } from '@heroicons/vue/24/outline'
import { useCartStore } from '../../stores/CartStore'
import { useSlideovers } from '../../composables/useSlideovers'
import { useRestaurant } from '../../composables/useRestaurant'
import Fuse from 'fuse.js'

const getImgURL = function (urlSuffix) {
    return new URL(urlSuffix, import.meta.env.VITE_BASE_URL)
}

const { openInfobar, openCart } = useSlideovers()

const { singleLevelItemArray } = useRestaurant()

const cartStore = useCartStore()

const emits = defineEmits(['toggleQuickView'])

const state = reactive({
    items: singleLevelItemArray,
    searchQuery: ''
})

// https://fusejs.io/api/options.html
const fuseOptions = {
    keys: ['name', 'description'],
    threshold: 0.35,
}

// const setSearchQuery = (query) => {
//     state.searchQuery = query
// }

const searchResults = computed(() => {
    const fuse = new Fuse(state.items, fuseOptions)
    return state.searchQuery ? fuse.search(state.searchQuery) : []
})
</script>
