<template>

  <!-- =#=#=#=#=#=#=#=#=#=#=#=#=#  START ATITLAN.IO DESKTOP SIDEBAR  #=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#  -->
  <div class="flex flex-col relative h-full overflow-y-auto bg-side-bar">
    <div class="flex flex-shrink-0 items-center px-4 py-2 bg-slate-500 bg-opacity-50 rounded-md mx-3 mt-4 sm:mt-10">
      <img class="h-16 w-auto" :src="restaurant.small_logo" :alt="restaurant.name + ' small logo'" />
      <h1 class="text-lg text-white mx-auto text-center py-2"> {{ restaurant.name }} </h1>
      <!-- <- Can we put this into Information -->
    </div>
    <div class="overflow-y-scroll bg-white shadow rounded-lg my-4 mx-2">
      <a :href="restaurant.gmapsLink">
        <div class="px-4 py-2 sm:py-5 sm:px-6">

          <span class="flex items-center">
            <img class="w-8 mr-1.5 mb-1.5" :src="mapSvg" />
            <h3 class="text-lg font-medium leading-6 text-gray-900">Location</h3>
          </span>

          <p class="mt-1 max-w-2xl text-xs text-gray-500">{{ restaurant.town }}</p>
          <p class="mt-1 max-w-2xl text-xs text-gray-500">{{ restaurant.address }}</p>
          <!-- <p class="mt-1 max-w-2xl text-xs text-gray-500">San Marcos La Laguna, Solola</p> -->

        </div>
      </a>
      <div class="border-t border-gray-200">
        <dl>
          <div @click="showHours = !showHours" class="bg-gray-50 px-4 py-3 sm:py-5 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 pb-2 flex items-center">
              Restaurant Hours
              <!-- {{openHours}} -->
              <ChevronDownIcon v-if="showHours" class="pl-2 h-4" />
              <ChevronUpIcon v-else class="pl-2 h-4" />
            </dt>
            <!-- <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">Margot Foster</dd> -->
            <ul v-if="showHours" role="list" class="divide-y divide-gray-100 bg-white shadow-md rounded-xl">
              <li v-for="(value, key, index) of restaurant.openHours" class="relative py-1.5 px-4">
                <div class="flex justify-between space-x-3">
                  <div class="min-w-0 flex-1">
                    <span class="absolute inset-0" aria-hidden="true" />
                    <p class="text-xs sm:text-sm font-medium text-gray-900">{{ key }}</p>


                    <p v-if="!value[0] || value[0].length === 0" class="text-xs sm:text-sm font-light text-gray-500"> closed </p>
                    <p v-else v-for="range in value" :key="index" class="text-xs sm:text-sm font-light text-gray-500"> {{
                      range[0] }}
                      to
                      {{ range[1] }} </p>
                    <!-- <p v-else :key="hours" class="text-sm font-light text-gray-500">{{ day.dayHours }}</p> -->
                    <!-- <p v-else v-for="hours in day.dayHours" :key="hours" class="text-sm font-light text-gray-500">{{ hours }}</p> -->
                  </div>
                  <!-- <time :datetime="day.datetime" class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500">{{ message.time }}</time> -->
                </div>
                <!-- <div class="mt-1"> -->
                <!--   <p class="text-sm text-gray-600 line-clamp-2">{{ day.preview }}</p> -->
                <!-- </div> -->
              </li>
            </ul>
          </div>
          <div class="bg-white px-4 py-2 sm:py-5 ">
            <dt class="text-sm font-medium text-gray-500">About</dt>
            <p class="text-sm font-light pt-1">{{ restaurant.description }}</p>
          </div>
          <div class="bg-gray-50 px-4 py-2 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">Contact</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">Whatsapp #</dd> <!-- TODO add link -->
          </div>
          <div class="bg-white px-4 py-2 sm:py-5">
            <div>
              <dt class="text-sm font-medium text-gray-500">Social Media</dt>
              <div v-if="restaurant.social" class="flex justify-around flex-wrap mt-2 space-x-1 space-y-1">
                <a v-if="restaurant.social.facebook" :href="restaurant.social.facebook" target="_blank">
                  <img class="h-10 my-1" :src="facebook" />
                </a>
                <a v-if="restaurant.social.tripadvisor" :href="restaurant.social.tripadvisor" target="_blank">
                  <img class="h-10" :src="tripadvisor" />
                </a>
                <a v-if="restaurant.social.instagram" :href="restaurant.social.instagram" target="_blank">
                  <img class="h-10" :src="instagram" />
                </a>
                <a v-if="restaurant.social.happycow" :href="restaurant.social.happycow" target="_blank">
                  <img class="h-10" :src="happycow" />
                </a>
              </div>
              <p class="mt-1 text-xs text-center text-gray-500 font-light">Leave us a review! :)</p>
            </div>
          </div>
          <!-- <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"> -->
          <!--   <dt class="text-sm font-medium text-gray-500">Salary expectation</dt> -->
          <!--   <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">$120,000</dd> -->
          <!-- </div> -->
        </dl>
      </div>
    </div>
    <div class="flex-grow"></div>
    <div class="py-2 w-full bg-slate-800 self-end">
      <a href="https://atitlan.io" class="flex justify-center items-center">
        <img class="h-6 p-1 drop-shadow-[0_0_1px_rgba(255,255,255,0.65)]" src="https://atitlan.io/assets/logo.c178be9c.svg"
          alt="Atitlan IO link" />
      </a>
    </div>
  </div>
  <!-- =#=#=#=#=#=#=#=#=#=#=#=#=#  END ATITLAN.IO DESKTOP SIDEBAR  #=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#  -->
</template>

<script setup>
import { ref } from 'vue'
import { ChevronDownIcon, ChevronUpIcon } from '@heroicons/vue/24/outline'
import mapSvg from '../../assets/map.svg'
import facebook from '../../assets/social/facebook.svg'
import happycow from '../../assets/social/happycow.svg'
import instagram from '../../assets/social/instagram.svg'
import tripadvisor from '../../assets/social/tripadvisor.svg'

const props = defineProps(['restaurant'])

const showHours = ref(true)


// const convertTimeToStr = function(timeArr) {
//   let openTime = ""
//   let closeTime = ""
//   let hours = ""
//   let ampm = ""
//   let retArry = []
//   console.log('memwmeow', timeArr)
//   if ( timeArr instanceof Array && timeArr.length > 0 ) {

//     for (let time of timeArr) {
//       time < 12 ? ampm = 'am' : ampm = 'pm'
//       time > 12 ? time = time - 12 : 
//       time = String(time) + ampm

//     }
    
//     openTime = String(timeArr[0][0]) 
//     timeArr[0][0] < 12 ? openTime = openTime.concat('am') : openTime = openTime.concat('pm')
//     closeTime = String(timeArr[0][1])
//     timeArr[0][1] > 12 ?  closeTime = closeTime.concat('pm') : closeTime = closeTime.concat('am')
//     return openTime + ' to ' + closeTime 
//   } else {
//     return ['closed']
//   }
// }

// watch(() => props.openHours, (hoursObj) => {
//   if (hoursObj instanceof Object) {
//     for (let entry in hoursObj){
//       openHours[entry] = convertTimeToStr(arrayList[entry])
//     }
//   }
//   console.log('haroof', openHours)
//   // for (let day in openHours){ 
//   //   console.log(day)
//   // }
// })


// const days = [
//   {
//     id: 1,
//     name: 'Monday',
//     dayHours: openHours.Monday,
//   },
//   {
//     id: 2,
//     name: 'Tuesday',
//     dayHours: openHours.Tuesday,
//   },
//   {
//     id: 3,
//     name: 'Wednesday',
//     dayHours: openHours.Wednesday,
//   },
//   {
//     id: 4,
//     name: 'Thursday',
//     dayHours: openHours.Thursday,
//   },
//   {
//     id: 5,
//     name: 'Friday',
//     dayHours: openHours.Friday,
//   },
//   {
//     id: 6,
//     name: 'Saturday',
//     dayHours: openHours.Saturday,
//   },
//   {
//     id: 7,
//     name: 'Sunday',
//     dayHours: openHours.Sunday,
//   }
// ]



</script>
