---
const today = new Date();
import { Image } from 'astro:assets';
import GitLabLogo from '@/images/logos/gitlab.svg';
---

<footer
  class="mt-3 bg-popover px-4 py-8 text-center text-popover-foreground shadow-md">
  &copy; {today.getFullYear()} Atitlan IO. All rights reserved.
  <div class="mt-4 flex justify-center gap-4">
    <a
      href="https://gitlab.com/aiodevs/atitlan-io"
      target="_blank"
      class="text-gray-800 no-underline hover:text-gray-600">
      <span class="sr-only">Go to Open Source gitlab repo</span>
      <Image
        src={GitLabLogo}
        format="svg"
        alt={'GitlabLogo'}
        class="h-16 w-16"
      />
    </a>
  </div>
</footer>
