---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '@/consts';
import GitLabLogo from '@/images/logos/gitlab.svg';
import { Image } from 'astro:assets';
import LightDarkModeToggle from '@/components/core/LightDarkModeToggle.vue';
---

<!-- Inline svg for night mode and other ones --- stop delay plx --><!-- TODO gradient b to transparant --><!-- TODO hamburger menu with sideslide mid centered text -->
<header
  class="fixed top-0 z-20 h-16 w-screen bg-popover text-popover-foreground shadow-md">
  <nav
    class="container mx-auto flex flex-1 flex-wrap items-center justify-between py-3">
    <h2 class="m-0 text-lg font-semibold">
      <a href="/" class="no-underline hover:text-primary">
        <span class="hidden xsm:block">{SITE_TITLE}</span>
        <span class="mr-2 block xsm:hidden">AIO</span>
      </a>
    </h2>

    <div class="flex flex-1 items-center justify-end gap-3">
      <HeaderLink href="/" class="whitespace-nowrap">Home</HeaderLink>
      <!-- <HeaderLink href="/blog" class="whitespace-nowrap">Blog</HeaderLink> -->
      <HeaderLink href="/about" class="whitespace-nowrap">About</HeaderLink>
      <div
        class="h-10 w-10 rounded-full border p-1 text-muted-foreground
    hover:bg-accent hover:text-accent-foreground xsm:w-auto xsm:flex-none
    sm:h-auto">
        <!-- TODO: Add matrix link -->
        <!-- TODO: Add translation toggle -->
        <a
          href="https://gitlab.com/aiodevs/atitlan-io"
          target="_blank"
          class="flex items-center justify-center xsm:justify-start">
          <span class="hidden xsm:ml-2 xsm:block">Open Source</span>
          <span class="sr-only">Go to Open Source Gitlab repo</span>
          <Image
            src={GitLabLogo}
            format="svg"
            alt={'GitlabLogo'}
            class="h-8 w-8"
          />
        </a>
      </div>
      <LightDarkModeToggle client:load />
    </div>
  </nav>
</header>
