<script setup lang="ts">
import { useColorMode } from '@vueuse/core';
import { Icon } from '@iconify/vue';
import { Button } from '@/components/ui/button';

const mode = useColorMode();

const toggleMode = () => {
  if (mode.value === 'dark') {
    mode.value = 'light';
  } else {
    mode.value = 'dark';
  }
};
</script>

<template>
  <Button
    variant="outline"
    class="h-10 w-10 bg-popover relative"
    @click="toggleMode"
  >
    <Icon
      icon="radix-icons:moon"
      class="absolute h-[1.2rem] w-[1.2rem] transition-all"
      :class="{
        'rotate-0 scale-100': mode === 'dark',
        '-rotate-90 scale-0': mode !== 'dark'
      }"
    />
    <Icon
      icon="radix-icons:sun"
      class="absolute h-[1.2rem] w-[1.2rem] transition-all"
      :class="{
        'rotate-0 scale-100': mode === 'light',
        'rotate-90 scale-0': mode !== 'light'
      }"
    />
    <span class="sr-only">Toggle theme</span>
  </Button>
</template>
