---
import { cn } from '@/lib/utils';
type Props = {
  class?: string;
  textureStoreId?: string;
};
const { class: classname = '', textureStoreId = '' } = Astro.props as Props;
---

<div
  id="threeCanvas"
  data-texture-store-id={textureStoreId}
  class={cn(' h-auto w-full', classname)}>
  <slot />
</div>

<script>
  import * as THREE from 'three';
  import {
    AppScreenTexture,
    appScreenStoreManager,
  } from '@components/block-elements/phone/phone.state';
  import type { WritableAtom } from 'nanostores';
  import { ThreeScene, ThreeLoaderInstance, ThreeLoader } from '@/lib/graphics';

  let threeScene: ThreeScene | undefined = undefined;
  const threeLoader: ThreeLoader = ThreeLoaderInstance;

  setup();

  function setup() {
    if (typeof window !== 'undefined') {
      window.onload = async () => {
        const canvas = getCanvas();
        if (!canvas) return;
        threeScene = ThreeScene.init3DSceneOnCanvas(canvas);

        const phone = await threeLoader.loadModel('/phone.glb');
        phone.scale.set(5, 5, 5);
        threeScene.add(phone);
        const textureStore: WritableAtom<AppScreenTexture> | undefined =
          setupTextureStore(phone);

        threeScene.add(new THREE.AmbientLight(0xffffff, 2.5));
        const spotLight = new THREE.SpotLight(0xffffff, 0.5);
        spotLight.position.set(0, 1, 1);
        threeScene.add(spotLight);

        threeScene.getCamera().position.z = 0.57;
        threeScene.getCamera().lookAt(0, 0, 0);

        const xOffset = 0.15;
        const yOffset = 0.04;
        const relativeMouse = { x: 0, y: 0 };
        const currentLookat = new THREE.Vector3(0, 0, 1);
        const clock = new THREE.Clock();

        function animate() {
          requestAnimationFrame(animate);
          if (phone) {
            const lookatTarget = new THREE.Vector3(
              relativeMouse.x * xOffset,
              relativeMouse.y * yOffset,
              1
            );
            const delta = clock.getDelta();
            currentLookat.lerp(lookatTarget, 0.025, delta);
            phone.lookAt(currentLookat);
          }
          threeScene?.render();
        }

        animate();
        setupMouseListiner(threeScene.getRenderer(), relativeMouse);
        window.addEventListener('resize', () => {
          const canvas = getCanvas();
          if (!canvas) return;
          threeScene?.updateCanvasSize(canvas);
        });
      };
    }
  }

  function getCanvas(): HTMLCanvasElement | null {
    return document.getElementById('threeCanvas') as HTMLCanvasElement;
  }

  function getEmissiveScreenMaterial(texture: THREE.Texture): THREE.Material {
    return new THREE.MeshPhongMaterial({
      map: texture,
      transparent: true,
      depthWrite: false,
      emissive: new THREE.Color(0xffffff),
      emissiveIntensity: 0.05,
    });
  }

  function setupMouseListiner(
    renderer: THREE.WebGLRenderer,
    relativeMouse: { x: number; y: number }
  ) {
    window.addEventListener('mousemove', event => {
      const mousePosition = calculateNormalizedMousePosition(
        renderer,
        event.clientX,
        event.clientY
      );
      relativeMouse.x = mousePosition.x;
      relativeMouse.y = mousePosition.y;
    });
  }

  function calculateNormalizedMousePosition(
    renderer: THREE.WebGLRenderer,
    clientX: number,
    clientY: number
  ): { x: number; y: number } {
    const rect = renderer.domElement.getBoundingClientRect();
    const x = ((clientX - rect.left) / rect.width) * 2 - 1;
    const y = -((clientY - rect.top) / rect.height) * 2 + 1;
    const clampedX = Math.min(1, Math.max(-1, x));
    const clampedY = Math.min(1, Math.max(-1, y));
    return { x: clampedX, y: clampedY };
  }

  function getTextureStore(): WritableAtom<AppScreenTexture> | undefined {
    const canvas = getCanvas();
    if (!canvas) return;
    const textureStoreId = canvas.dataset.textureStoreId;
    if (!textureStoreId) return;
    return appScreenStoreManager.getStore(textureStoreId, AppScreenTexture.pos);
  }

  function setupTextureStore(
    phone: THREE.Group
  ): WritableAtom<AppScreenTexture> | undefined {
    console.log('setting up texture store');

    const textureStore: WritableAtom<AppScreenTexture> | undefined =
      getTextureStore();
    if (!textureStore) return;

    textureStore.subscribe(value => {
      const newTexture: AppScreenTexture = value;
      console.log('setting texture from textureStore', newTexture);

      setPhoneTexture(phone, newTexture);
    });
    return textureStore;
  }

  async function setPhoneTexture(
    phone: THREE.Group,
    texture: AppScreenTexture
  ) {
    const loadedTexture = await threeLoader.loadTexture(texture);
    loadedTexture.wrapS = THREE.RepeatWrapping;
    loadedTexture.wrapT = THREE.RepeatWrapping;
    loadedTexture.anisotropy = 16;
    loadedTexture.encoding = THREE.sRGBEncoding;
    loadedTexture.magFilter = THREE.LinearFilter;
    loadedTexture.minFilter = THREE.LinearMipmapLinearFilter;
    loadedTexture.premultiplyAlpha = true;
    loadedTexture.flipY = false;
    ThreeLoader.setTexture(
      phone,
      getEmissiveScreenMaterial(loadedTexture),
      '7'
    );
  }
</script>
