<template>
  <div
    id="threeCanvas"
    :data-texture-store-id="textureStoreId"
    :class="['h-auto w-full', className]"
  >
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, onUnmounted } from 'vue';
import * as THREE from 'three';
import { AppScreenTexture, appScreenStoreManager } from '@components/block-elements/phone/phone.state';
import { ThreeScene, ThreeLoaderInstance, ThreeLoader } from '@/lib/graphics';
import { WritableAtom } from 'nanostores';

const props = defineProps({
  class: {
    type: String,
    default: '',
  },
  textureStoreId: {
    type: String,
    default: '',
  },
});

const className = ref(props.class);
const textureStoreId = ref(props.textureStoreId);
const threeLoader = ThreeLoaderInstance;
let threeScene: ThreeScene | undefined = undefined;

const relativeMouse = ref({ x: 0, y: 0 });
const currentLookat = ref(new THREE.Vector3(0, 0, 1));
const clock = ref(new THREE.Clock());
const phoneRef = ref<THREE.Group | null>(null);

onMounted(async () => {
  setup();
  window.addEventListener('resize', onResize);
  window.addEventListener('mousemove', onMouseMove);
});

onUnmounted(() => {
  window.removeEventListener('resize', onResize);
  window.removeEventListener('mousemove', onMouseMove);
});

async function setup() {
  const canvas = getCanvas();
  if (!canvas) return;
  threeScene = ThreeScene.init3DSceneOnCanvas(canvas);

  const phone = await threeLoader.loadModel('/phone.glb');
  phone.scale.set(5, 5, 5);
  threeScene.add(phone);
  phoneRef.value = phone;
  setupTextureStore(phone);

  threeScene.add(new THREE.AmbientLight(0xffffff, 2.5));
  const spotLight = new THREE.SpotLight(0xffffff, 0.5);
  spotLight.position.set(0, 1, 1);
  threeScene.add(spotLight);

  threeScene.getCamera().position.z = 0.57;
  threeScene.getCamera().lookAt(0, 0, 0);

  animate();
}

function animate() {
  requestAnimationFrame(animate);
  const phone = phoneRef.value;
  if (phone) {
    const lookatTarget = new THREE.Vector3(
      relativeMouse.value.x * 0.15,
      relativeMouse.value.y * 0.04,
      1
    );
    const delta = clock.value.getDelta();
    currentLookat.value.lerp(lookatTarget,  delta);
    phone.lookAt(currentLookat.value);
  }
  threeScene?.render();
}

function onResize() {
  const canvas = getCanvas();
  if (!canvas) return;
  threeScene?.updateCanvasSize(canvas);
}

function onMouseMove(event: MouseEvent) {
  const canvas = getCanvas();
  if (!canvas) return;
  const mousePosition = calculateNormalizedMousePosition(
    threeScene!.getRenderer(),
    event.clientX,
    event.clientY
  );
  relativeMouse.value.x = mousePosition.x;
  relativeMouse.value.y = mousePosition.y;
}

function getCanvas(): HTMLCanvasElement | null {
  return document.getElementById('threeCanvas') as HTMLCanvasElement;
}

function calculateNormalizedMousePosition(
  renderer: THREE.WebGLRenderer,
  clientX: number,
  clientY: number
): { x: number; y: number } {
  const rect = renderer.domElement.getBoundingClientRect();
  const x = ((clientX - rect.left) / rect.width) * 2 - 1;
  const y = -((clientY - rect.top) / rect.height) * 2 + 1;
  const clampedX = Math.min(1, Math.max(-1, x));
  const clampedY = Math.min(1, Math.max(-1, y));
  return { x: clampedX, y: clampedY };
}

function getTextureStore(): WritableAtom<AppScreenTexture> | undefined {
  const canvas = getCanvas();
  if (!canvas) return;
  const textureStoreId = canvas.dataset.textureStoreId;
  if (!textureStoreId) return;
  return appScreenStoreManager.getStore(textureStoreId, AppScreenTexture.pos);
}

function setupTextureStore(
  phone: THREE.Group
): WritableAtom<AppScreenTexture> | undefined {
  const textureStore = getTextureStore();
  if (!textureStore) return;

  textureStore.subscribe(value => {
    const newTexture: AppScreenTexture = value;
    setPhoneTexture(phone, newTexture);
  });
  return textureStore;
}

async function setPhoneTexture(phone: THREE.Group, texture: AppScreenTexture) {
  const loadedTexture = await threeLoader.loadTexture(texture);
  loadedTexture.wrapS = THREE.RepeatWrapping;
  loadedTexture.wrapT = THREE.RepeatWrapping;
  loadedTexture.anisotropy = 16;
  loadedTexture.encoding = THREE.sRGBEncoding;
  loadedTexture.magFilter = THREE.LinearFilter;
  loadedTexture.minFilter = THREE.LinearMipmapLinearFilter;
  loadedTexture.premultiplyAlpha = true;
  loadedTexture.flipY = false;
  ThreeLoader.setTexture(phone, getEmissiveScreenMaterial(loadedTexture), '7');
}

function getEmissiveScreenMaterial(texture: THREE.Texture): THREE.Material {
  return new THREE.MeshPhongMaterial({
    map: texture,
    transparent: true,
    depthWrite: false,
    emissive: new THREE.Color(0xffffff),
    emissiveIntensity: 0.05,
  });
}
</script>
