<template>
  <div
    class="container mt-10 grid h-[95svh] min-h-[500px] sm:grid sm:h-[80svh] sm:grid-cols-2">
    <Phone3D
      :texture-store-id="textureStoreId"
      class="z-10 -mb-3 -mt-2 h-full min-h-[66svh] sm:translate-x-[25%]" />

    <div
      class="z-[14] mb-6 flex h-full w-full translate-y-[-8svw] flex-col justify-start sm:translate-y-0 sm:justify-center sm:place-self-start">
      <div
        id="how-to-card"
        class="mx-auto flex max-w-96 flex-row items-center justify-between rounded-3xl bg-card/5 bg-clip-border  py-8 ring-[1px] ring-ring/10 drop-shadow-md backdrop-blur-sm transition-all hover:scale-105 hover:cursor-pointer sm:mx-0"
        @click="onActionClick">
        <div class="h-10 w-10 ml-2 mr-[-0.5rem] flex-shrink-0"></div>

        <div class="z-20 flex-grow text-center p-2">
          <h2
            id="action-button"
            class="font-display text-4xl font-bold text-foreground sm:text-3xl"
            >{{ currentScreen.header }}</h2
          >
          <p id="textbody" class="mt-2 text-lg text-foreground">{{
            currentScreen.textBody
          }}</p>
          <Progress
            id="progress-bar"
            class="mt-4"
            :model-value="progressValue" />
        </div>

        <svg
          class="mr-2 ml-[-0.5rem] h-10 w-10 flex-shrink-0 animate-pulse"
          viewBox="0 0 32 32"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg">
          <g id="chevronsvg">
            <path
              id="path0"
              fill="currentColor"
              stroke="none"
              fill-rule="evenodd"
              d="M12,25a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42L18.59,16l-7.3-7.29a1,1,0,1,1,1.42-1.42l8,8a1,1,0,0,1,0,1.42l-8,8A1,1,0,0,1,12,25Z" />
          </g>
        </svg>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import Phone3D from '@/components/block-elements/phone/3dphone.vue';
import { Progress } from '@/components/ui/progress';
import {
  AppScreenTexture,
  appScreenStoreManager,
} from '@/components/block-elements/phone/phone.state';

const props = defineProps({
  textureStoreId: {
    type: String,
    default: '3dPhone',
  },
});

const howToScreens = [
  {
    texture: AppScreenTexture.pos,
    header: 'How it works',
    textBody: 'Prepare your payment request with the POS app',
  },
  {
    texture: AppScreenTexture.statusScan,
    header: 'Share your payment request',
    textBody: 'Simply scan the QR as a customer',
  },
  {
    texture: AppScreenTexture.invoice,
    header: 'Pay with ease',
    textBody:
      'Support local & international transactions via BTC-Lightning, Stripe and Recurrente',
  },
  {
    texture: AppScreenTexture.statusProgress,
    header: 'Follow payment status',
    textBody: 'Get live updates on your payment request status',
  },
  {
    texture: AppScreenTexture.succes,
    header: 'Payment completed',
    textBody: 'Get notified when the payment is successful',
  },
  {
    texture: AppScreenTexture.insightsChart,
    header: 'Insights into your finance',
    textBody: 'Effortlessly track your transactions',
  },
];

const howtoIndex = ref(0);
const progressValue = computed(
  () => howtoIndex.value * (100 / (howToScreens.length - 1))
);

const currentScreen = computed(() => howToScreens[howtoIndex.value]);

const textureStore = appScreenStoreManager.getStore(
  props.textureStoreId,
  AppScreenTexture.pos
);
textureStore.set(AppScreenTexture.pos);

function onActionClick() {
  howtoIndex.value = (howtoIndex.value + 1) % howToScreens.length;
  textureStore.set(currentScreen.value.texture);
}
</script>
