---
import ApiButton from "@/components/elements/buttons/api-button.vue";
import Layout from "@/layouts/app.astro";
import { auth, permissions, checkPermission } from "@/thor-api/auth";
import type { Permission } from "@/types/types";

const authResult = await auth(Astro);
if (!authResult.response.ok) {
  return authResult;
}
const hasPermission: boolean = await checkPermission(Astro, "thor-admin", "*");
console.log("hasPermission", hasPermission);

let userPermissions: Permission[] = [];
if (hasPermission) {
  userPermissions = await permissions(Astro);
  if (!userPermissions) {
    return Astro.redirect("/");
  }
}
const user = authResult.user;
if (!user) {
  return Astro.redirect("/login");
}
---

<Layout title="Amazing app">
  <p>You are logged in as <strong>{user.displayName}</strong>.</p>

  {
    hasPermission && (
      <div>
        <h2 class="text-2xl font-bold">Permissions</h2>
        {userPermissions.map((permission) => (
          <div class="w-full rounded-2xl px-6 pt-2 pb-2 mb-1 flex flex-col shadow-xl inner-shadow border border-solid">
            <p>
              {" "}
              [{permission.userId}] {permission.resource} [{permission.action}]
            </p>
          </div>
        ))}
      </div>
    )
  }

  <ApiButton
    client:load
    method="GET"
    endpoint="/logout"
    enabledText="Sign out"
    loadingText="Signing out..."
    successText="Signed out!"
  />
</Layout>
