---
import BlogLayout from '../layouts/BlogPost.astro';
---

<BlogLayout
  title="About Us"
  description=""
  heroImage="/blog-placeholder-5.jpg">
  <section class="mt-4 flex flex-col gap-2">
    <p>
      We are a team of developers who love to build software that aims to make a
      difference on a <b>communal level.</b> We are currently based in Lake Atitlán
      Guatemala where we aim to launch our first digital products.
    </p>
    <h2 class="mt-3 text-2xl font-bold">Our values</h2>
    <p>
      On a technical level we believe in open-source software, decentralization,
      own your own data, blockchain technology and running bare metal servers!
    </p>
    <p>
      On a policy level we believe in serving the community, choose your own
      policies, meritocracy, self-guided education and decentralizing power.
    </p>
    <h2 class="mt-3 text-2xl font-bold">Our expertise</h2>
    <p>
      We love working with synergistic skill sets. Some of our areas of expertise
      include:
    </p>
    <ul class="list-inside list-disc">
      <li>Web Development</li>
      <li>Mobile Development</li>
      <li>Security</li>
      <li>DevOps</li>
      <li>Bare Metal Cloud Computing</li>
      <li>Fintech integrations</li>
      <li>Blockchain</li>
    </ul>
  </section>
</BlogLayout>
