---
import { Image } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import FloatingApp from '@images/app/floating-app.png';
import MandalaCosmicFlower from '@images/illustrations/mandala-cosmic-flower.svg?raw';
import Stargrid from '@/components/block-elements/stargridvue.vue';
import TextGrid from '@/components/block-elements/textgrid.vue';
import WaitlistForm from '@/components/block-elements/signupform.vue';
import Divider, {
  DividerShape,
} from '@/components/block-elements/divider.astro';
import Button from '@components/ui/button/Button.vue';
import PhoneProgressCard from '@/components/block-elements/phone/phone-progress-card.vue';
const howToTextureStoreId = '3dPhone';
---

<Layout class="relative">
  <!-- hero -->
  <!-- <Stargrid
    starDensityPer100px={2}
    client:load
    class="absolute left-0 top-0 min-h-screen w-full sm:min-h-[70vw]"
  /> -->

  <section
    class="container relative grid h-[85svh] max-h-[900px] grid-cols-1 items-center md:grid-cols-5">
    <!-- <div
    class="absolute inset-0 -z-10 mx-auto aspect-square h-full w-full
origin-center text-muted-illustration opacity-25
md:h-1/3 md:max-h-[5%vw] md:w-1/3 md:translate-y-[20vh]">
    <Fragment set:html={MandalaCosmicFlower} class="" />
  </div> -->

    <div class="mb-6 text-center md:col-span-2 md:col-start-1">
      <h1
        class="mt-4 font-display text-4xl font-semibold tracking-tight xsm:mt-10 lg:text-4xl">
        Effortless mobile payments: <br />
        <span
          class="bg-gradient-to-tr from-primary to-secondary
      bg-clip-text text-transparent">
          AtitlanIO POS </span
        >
      </h1>
      <h2
        class="mt-1 text-2xl font-semibold tracking-tight text-accent-foreground md:text-2xl lg:text-xl"
        >Simple | Secure | Private
      </h2>
      <Button
        class="waitlist-button m-5 mx-auto hidden font-bold md:col-start-1 md:block"
        >Join the waitlist!</Button
      >
    </div>

    <Image
      src={FloatingApp}
      alt="Floating App"
      class="max-h-[50svh] object-contain translate-y-[-3svh] sm:translate-y-0 md:col-span-3 md:col-start-3 md:max-h-[70svh]"
    />
    <Button
      size="lg"
      class="waitlist-button m-5 mx-auto translate-y-[-3svh] sm:translate-y-0 font-bold md:col-start-1 md:hidden">
      Join the waitlist!</Button
    >
  </section>

  <section
    id="how-to-section"
    data-texture-store-id={howToTextureStoreId}
    class="relative z-[-10] h-[120svh] w-full bg-alternate-background sm:h-[100svh]"
    '>
    <Divider
      shape={DividerShape.Zigzag}
      invertedY={true}
      class="z-[-1] h-8 w-full fill-background sm:h-16"
    />
    <Divider
      shape={DividerShape.Zigzag}
      invertedY={true}
      class="absolute top-0 z-[-2] h-16 w-full fill-primary/70 opacity-25 backdrop-blur-sm sm:h-24"
    />
    <Divider
      shape={DividerShape.Zigzag}
      invertedY={true}
      class="absolute top-0 z-[-3] h-24 w-full fill-secondary/70 opacity-25 backdrop-blur-sm sm:h-32"
    />

    <PhoneProgressCard client:only="vue" textureStoreId={howToTextureStoreId} />

    <TextGrid
      lines={10}
      class="mask-image-gradient-to-bottom absolute bottom-0 left-0 z-[-10] h-[15rem] w-full -translate-y-0 text-foreground opacity-25"
      client:load
    />
    <Divider
      shape={DividerShape.Tilt}
      invertedY={true}
      invertedX={true}
      class="-z-1 absolute bottom-0 left-0 h-10 w-full bg-transparent fill-background sm:h-16"
    />
  </section>

  <section id="waitlist" class="relative z-[-20] bg-alternate-background">
    <div class="bg-background p-6">
      <h2
        class="rotate-[5deg] text-center font-display text-4xl font-bold md:rotate-[2deg]">
        Join our early access program
      </h2>
    </div>
  </section>

  <section
    class="relative z-[-100] flex h-[57svh] flex-col justify-center bg-alternate-background">
    <Divider
      shape={DividerShape.Tilt}
      invertedX={false}
      class="absolute inset-0 z-[15] h-20 w-full bg-transparent fill-background"
    />

    <TextGrid
      lines={10}
      class="mask-image-gradient-to-top absolute inset-0 z-[-10] h-[15rem] w-full text-foreground opacity-25"
      client:load
    />
    <div class="container grid translate-y-[2svh] justify-center p-1 sm:p-2">
      <div
        class="bg-card/5 z-10 grid w-full min-w-[100%] justify-center rounded-3xl
        border p-12 ring-[1px] ring-ring/10 drop-shadow-md backdrop-blur-sm
        transition-all sm:m-2 sm:p-12">
        <WaitlistForm
          client:only="vue"
          class="grid w-full grid-cols-1 justify-center"
        />
      </div>
    </div>
    <Divider
      shape={DividerShape.Tilt}
      invertedX={true}
      invertedY={true}
      class="absolute bottom-0 left-0 -mb-1 h-8 bg-transparent fill-background"
    />
    <TextGrid
      lines={12}
      class="mask-image-gradient-to-bottom absolute bottom-0 left-0 z-[-10] w-full -translate-y-0 text-foreground opacity-25"
      client:load
    />
  </section>

  <!-- core values -->

  <!-- features -->
  <!-- <div class="grid grid-cols-1 items-center gap-4 md:grid-cols-2">
    <div class="flex justify-center">
      <Image src={Invoice} alt="Invoice" class="max-w-full md:w-64" /> -->
  <!-- <Image src={InsightsPie} alt="Insights in style" class="md:w-64 max-w-full" /> -->
  <!-- </div>
    <div>
      <h2>Features</h2>
      <ul class="list-inside list-disc space-y-2 text-gray-700">
        <li class="font-semibold">Financial insights</li>
        <li>Worldwide payment support with Stripe</li>
        <li>Local bank support with Recurrente</li>
        <li>Crypto friendly</li>
        <li>Peer to peer</li>
      </ul>
    </div>
  </div> -->
  <!-- how it works -->
  <!-- Financial insights -->
  <!-- Payment gateways -->
  <!-- Local -->
  <!-- Crypto friendly -->
  <!-- Peer to peer -->
  <!-- signup -->
</Layout>

<script>
  if (typeof window !== 'undefined') {
    window.onload = async () => {
      const waitlistButtons = document.querySelectorAll('.waitlist-button');
      waitlistButtons.forEach(button => {
        button.addEventListener('click', e => {
          const howToSection = document.querySelector('#waitlist');
          if (!howToSection) return;
          howToSection.scrollIntoView({ behavior: 'smooth', block: 'start' });
        });
      });
    };
  }
</script>
