---
import { cn } from '@/lib/utils';

type Props = {
  title: string;
  description?: string;
  class?: string;
};
const { title, description }: Props = Astro.props;
const className = Astro.props.class ?? '';
// todo add a offset direction, mouse interactivity, rotating border gradient
// todo make a floating moving particle background/foreground spirit like
---

<div class="relative">
  <div
    class="absolute -inset-2 rounded-lg bg-gradient-to-br from-cyan-600 via-blue-600 to-violet-600 opacity-50 blur-2xl"
  ></div>
  <div
    class="relative flex h-64 w-full items-center justify-center rounded-lg border border-zinc-700 bg-zinc-900 text-slate-300">
    Gradient shadow
  </div>
</div>
