---
import { cn } from '@/lib/utils';

export enum DividerShape {
  Tilt = '#tilt',
  Wave = '#wave',
  Zigzag = '#zigzag',
}

type Props = {
  shape: DividerShape;
  class?: string;
  invertedY?: boolean;
  invertedX?: boolean;
};

const {
  shape,
  class: className,
  invertedY = false,
  invertedX = false,
}: Props = Astro.props;

const svgClassName = cn(
  'shape-fill w-full bg-transparent',
  invertedY ? 'scale-y-[-1]' : '',
  invertedX ? 'scale-x-[-1]' : '',
  className
);
---

<svg class="hidden">
  <defs>
    <symbol id="tilt" viewBox="0 0 1200 120">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z"></path>
    </symbol>
    <symbol id="wave" viewBox="0 0 1200 120">
      <path
        d="M0,0 C150,100 350,100 500,50 C650,0 850,0 1000,50 C1150,100 1350,100 1500,50 L1500,0 L0,0 Z"
      ></path>
    </symbol>
    <symbol id="zigzag" viewBox="0 0 1200 120">
      <path d="M0 120 L600 0 L1200 120 H0 Z"></path>
    </symbol>
  </defs>
</svg>

<svg class={svgClassName} viewBox="0 0 1200 120" preserveAspectRatio="none">
  <use xlink:href={shape}></use>
  <slot />
</svg>
