<script setup lang="ts">
import { HTMLAttributes } from 'vue';
import { useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/zod';
import { vAutoAnimate } from '@formkit/auto-animate/vue';
import { cn } from '@/lib/utils';
import { addWaitlistEntry, waitListEntry } from '@/lib/api';

import { Button } from '@/components/ui/button';
import {
  FormControl,
  FormDescription,
  FormField,
  FormItem,
  FormLabel,
  FormMessage,
} from '@/components/ui/form';
import { Input } from '@/components/ui/input';
import { toast } from '@/components/ui/toast/';
import { Checkbox } from '@/components/ui/checkbox';

const props = withDefaults(
  defineProps<{
    class?: HTMLAttributes['class'];
  }>(),
  {
    class: '',
  }
);

const { handleSubmit } = useForm({
  validationSchema: toTypedSchema(waitListEntry),
});

const onSubmit = handleSubmit(async values => {
  if (!values.terms) {
    toast({
      title: 'Error',
      description: 'You must acknowledge that the product is in early access',
    });
    return;
  }
  const response = await addWaitlistEntry(values.email);
  if (!response.ok) {
    toast({
      title: 'Error',
      description: 'An error occurred. Please try again later.',
    });
    return;
  }
  toast({
    title: 'Success!',
    description: 'You have been added to the waitlist!',
  });
});
</script>

<template>
  <form :class="cn('w-2/3 space-y-6', props.class)" @submit="onSubmit">
    <FormField v-slot="{ componentField }" name="email">
      <FormItem v-auto-animate>
        <FormLabel>Email</FormLabel>
        <FormControl>
          <Input
            type="email"
            placeholder="email@web.com"
            v-bind="componentField" 
            class="bg-transparent" />
        </FormControl>
        <FormMessage />
      </FormItem>
    </FormField>
    <FormField v-slot="{ value, handleChange }" type="checkbox" name="terms">
      <FormItem v-auto-animate>
        <div class="flex items-start space-x-2">
          <FormControl>
            <Checkbox :checked="value" @update:checked="handleChange" />
          </FormControl>
          <div class="leading-none">
            <FormLabel for="terms">
              I acknowledge that this product is in early access
            </FormLabel>
            <FormDescription>
              Early access products can change in form, function and the terms of service. There may also be bugs.
            </FormDescription>
          </div>
        </div>
        <FormMessage />
      </FormItem>
    </FormField>
    <Button type="submit" class="text-foreground"> Sign up </Button>
  </form>
</template>
