<template>
  <div ref="starGrid" :class="cn('relative  overflow-hidden', $props.class)">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 256 256">
      <symbol id="star" viewBox="0 0 256 256">
        <g>
          <path
            fill="currentColor"
            d="M126.6,10.4c-0.4,0.2-1.2,4.8-2.4,13.4c-3.3,25.3-5.9,39-9.8,50.5c-6,17.9-14.9,28.6-29.9,36c-12.1,6-28.5,9.7-60.7,13.9C10.9,126,10,126.2,10,128c0,1.8,0.9,2.1,10.1,3.2c48.2,6.1,66.4,11.8,79.6,25c12.9,12.9,18.6,30.6,24.5,75.9c1.7,12.9,1.9,13.8,3.7,13.8s2.1-0.9,3.5-12.1c6-46.8,11.7-64.6,24.8-77.6c13.2-13.2,31.4-18.9,79.6-25c9.2-1.2,10.1-1.5,10.1-3.2c0-1.8-0.9-2-13.8-3.7c-25-3.2-38.4-5.9-49.6-9.5c-18.5-6-29.3-14.8-36.7-29.7c-6.3-12.7-9.9-28.5-14.4-62.9c-1-7.5-1.7-11.4-2.1-11.7C128.5,9.9,127.5,9.9,126.6,10.4z" />
        </g>
      </symbol>
    </svg>
    <svg
      v-for="(star, index) in stars"
      :key="index"
      class="star absolute -z-20 h-4 w-4 opacity-0"
      :style="{ left: `${star.x}px`, top: `${star.y}px` }">
      <use xlink:href="#star" />
  </svg>
  </div>
</template>

<script setup lang="ts">
import { useElementSize } from '@vueuse/core';
import {
  onMounted,
  ref,
  reactive,
  watchEffect,
  onUnmounted,
  HTMLAttributes,
  nextTick,
} from 'vue';
import { cn } from '@/lib/utils';
import { gsap } from 'gsap';

const props = withDefaults(
  defineProps<{
    starDensityPer100px?: number;
    class?: HTMLAttributes['class'];
  }>(),
  {
    starDensityPer100px: 3,
    class: '',
  }
);

const starGrid = ref(null);
const starIcon = ref(null);
const { width: gridWidth, height: gridHeight } = useElementSize(starGrid);
const { width: iconWidth, height: iconHeight } = useElementSize(starIcon);

const stars: {
  x: number;
  y: number;
}[] = reactive([]);

const calculateStars = () => {
  console.log('calculateStars')
  if (!starGrid.value) return;
  if (!gridWidth.value || !gridHeight.value) return;

  const starDensity = props.starDensityPer100px;
  const starGridColumns = Math.round((gridWidth.value / 100) * starDensity);
  const starGridRows = Math.round((gridHeight.value / 100) * starDensity);
  const xStarSpacing = gridWidth.value / starGridColumns;
  const yStarSpacing = gridHeight.value / starGridRows;
  const xOffsetToCenter = 0.25 * xStarSpacing - iconWidth.value * 0.5; //
  const yOffsetToCenter = 0.25 * yStarSpacing - iconHeight.value * 0.5; //
  // Reset and calculate positions for stars
  stars.splice(0, stars.length);
  for (let y = 0; y < starGridRows; y++) {
    for (let x = 0; x < starGridColumns; x++) {
      stars.push({
        x: x * xStarSpacing + xOffsetToCenter,
        y: y * yStarSpacing + yOffsetToCenter,
      });
    }
  }
};

const animations = () => {
  if (!starGrid.value) return;
  if (!gridWidth.value || !gridHeight.value) return;

  const itemDensity = props.starDensityPer100px;
  const gridColumns = Math.round((gridWidth.value / 100) * itemDensity);
  const gridRows = Math.round((gridHeight.value / 100) * itemDensity);

  gsap.to('.star', {
    keyframes: [
      {
        opacity: 0,
        duration: 0,
      },
      {
        opacity: 0.4,
        duration: 0.6,
        scale: 2.5,
        rotate: '+=180',
        stagger: {
          amount: 2,
          grid: [gridRows, gridColumns],
          from: 'center',
        },
      },
      {
        opacity: 0.05,
        duration: 0.6,
        delay: -2,
        scale: 1,
        rotate: '+=180',
        stagger: {
          amount: 2,
          grid: [gridRows, gridColumns],
          from: 'center',
        },
      },
    ],
  });
};

const prepareItemCollectionAndAnimations = async () => {
  calculateStars();
  await nextTick();
  await nextTick();
  animations();
};

onMounted(async () => {
  calculateStars();
  // window.addEventListener('resize', calculateStars);

  // onUnmounted(() => {
  //   window.removeEventListener('resize', calculateStars);
  // });
});

watchEffect(prepareItemCollectionAndAnimations);
</script>
