<template>
  <p ref="textbox" :class="cn('font-mono text-wrap text-center', $props.class)">
    {{ textField }}
    <span ref="charWidthTester" class="invisible">W</span>
  </p>
</template>

<script setup lang="ts">
import { cn } from '@/lib/utils';
import { useElementSize, useIntervalFn } from '@vueuse/core';
import { onMounted } from 'vue';
import { withDefaults, HTMLAttributes, defineProps, ref, Ref } from 'vue';

const props = withDefaults(
  defineProps<{
    wordlist?: string[];
    lines?: number;
    updateInterval?: number;
    charsChangedPerInterval?: number;
    maxCharsPerNewWordToReveal?: number;
    msToNextWordReveal?: number;
    msToRevealWord?: number;
    msProtectedRevealedWord?: number;
    class?: HTMLAttributes['class'];
  }>(),
  {
    wordlist: [
      'Love',
      'Abundance',
      'Security',
      'Open-Source',
      'Community',
      'Privacy',
    ],
    lines: 5,
    updateInterval: 50,
    charsChangedPerInterval: 50,
    maxCharsPerNewWordToReveal: 1,
    msToNextWordReveal: 1500,
    msToRevealWord: 750,
    msProtectedRevealedWord: 8000,
    class: '',
  }
);
const validChars =
  'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
const textbox: Ref<HTMLElement | null> = ref(null);
const charWidthTester: Ref<HTMLElement | null> = ref(null);
const textboxWidth: Ref<number> = useElementSize(textbox).width;
const charWidth: Ref<number> = useElementSize(charWidthTester).width;

const textField: Ref<string | undefined> = ref();

const lineEndIndexes: number[] = [];
let timeSinceLastWordReveal = 0;
const wordsToBeRevealed: {
  word: string;
  index: number;
  timeSinceReveal: number;
  deleteme: boolean;
  validCharsToBeRevealed: { index: number; char: string }[];
  revealedCharactersThisLoop: number;
}[] = [];

const updateLoop = () => {
  chooseRandomWordAfterSufficientTimepassed();

  updateRandomChars();

  textField.value = revealCharactersOfWordsToBeRevealed(textField.value);

  // revealWordsAfterTimePassed();

  updateTimers();

  cleanupWords();
};

onMounted(() => {
  const updateLoopInterval = useIntervalFn(updateLoop, props.updateInterval);
  textField.value = setInitialRandomText();

  // TODO resize observer
});

function setInitialRandomText(): string {
  if (charWidthTester.value === null) return '';

  const charsPerLine = Math.ceil(textboxWidth.value / charWidth.value);
  charWidthTester.value.classList.add('hidden');
  let resultText = '';
  for (let i = 0; i < props.lines; i++) {
    for (let j = 0; j < charsPerLine; j++) {
      const randomChar =
        validChars[Math.floor(Math.random() * (validChars.length - 1))];
      resultText += randomChar;
    }
    const lineEndIndex = resultText.length;
    lineEndIndexes.push(lineEndIndex);
    if (i < props.lines - 1) resultText += '\n';
  }
  // console.log('width.value', textboxWidth.value);
  // console.log('charWidth.value', charWidth.value);
  // console.log('charsPerLine', charsPerLine);
  // console.log('resultText ', resultText.length);
  // console.log('resultText ', resultText.length / props.lines);
  // console.log('endlineChar ', resultText[lineEndIndexes[0]]);
  // console.log('endlineChar ', resultText[lineEndIndexes[1]]);
  // console.log('endlineChar ', resultText[lineEndIndexes[2]]);
  return resultText;
}

function chooseRandomWordAfterSufficientTimepassed() {
  if (timeSinceLastWordReveal < props.msToNextWordReveal) return;
  const randomWordIndex = Math.floor(Math.random() * props.wordlist.length);
  const word = props.wordlist[randomWordIndex];
  const index = getValidIndex(word.length);
  if (index === -1) {
    // console.log('no valid index found');
    return;
  }
  const allWordChards: {
    index: number;
    char: string;
  }[] = [];
  for (let i = 0; i < word.length; i++) {
    allWordChards.push({
      index: i,
      char: word[i],
    });
  }
  wordsToBeRevealed.push({
    word,
    index: index,
    timeSinceReveal: 0,
    deleteme: false,
    validCharsToBeRevealed: allWordChards,
    revealedCharactersThisLoop: 0,
  });
  timeSinceLastWordReveal = 0;
  //   console.log(
  //     'wordsToBeRevealed',
  //     word,
  //     index,
  //     wordsToBeRevealed.length,
  //     wordsToBeRevealed.length + index
  //   );
}

function getValidIndex(
  charLength: number = 1,
  startLineOffset: number = 1,
  endLineOffset: number = 1,
  recursionDepth: number = 0,
  maxRecursionDepth: number = 10
): number {
  if (recursionDepth > maxRecursionDepth) {
    // console.log('max recursion depth reached');
    return -1;
  }
  const randomLineNotTopOrBottom =
    startLineOffset +
    Math.round(
      Math.random() * (props.lines - startLineOffset - endLineOffset - 1)
    );
  const endOfLineCharWidth = 1;
  const randomLineStartIndex =
    randomLineNotTopOrBottom <= 0
      ? 0
      : lineEndIndexes[randomLineNotTopOrBottom - 1] + endOfLineCharWidth;
  const randomLineEndIndex =
    lineEndIndexes[randomLineNotTopOrBottom] - endOfLineCharWidth;

  const randomIndex =
    randomLineStartIndex +
    Math.floor(
      Math.random() * (randomLineEndIndex - randomLineStartIndex - charLength)
    );
  // check if we have no collision, if so try again
  for (let i = 0; i < wordsToBeRevealed.length; i++) {
    const word = wordsToBeRevealed[i];
    const wordEndIndex = word.index + word.word.length;
    if (randomIndex >= word.index && randomIndex <= wordEndIndex) {
      recursionDepth++;
      return getValidIndex(
        charLength,
        startLineOffset,
        endLineOffset,
        recursionDepth,
        maxRecursionDepth
      );
    }
  }

  return randomIndex;
}

function isValidCharIndex(index: number, currentWordIndex: number = -1) {
  // Check if the index is within a word that is currently being revealed and still protected
  for (let i = 0; i < wordsToBeRevealed.length; i++) {
    if (currentWordIndex !== -1 && i === currentWordIndex) {
    //   console.log('skipping current word');
      continue;
    }
    const word = wordsToBeRevealed[i];
    const wordEndIndex = word.index + word.word.length;
    if (index >= word.index && index <= wordEndIndex) {
    //   console.log('collision');
      return false;
    }
  }
  return true;
}

function updateRandomChars() {
  let textValue = textField.value;

  if (!textValue) return;
  for (let i = 0; i < props.charsChangedPerInterval; i++) {
    textValue = changeRandomCharInValidRange(textValue);
  }
  textField.value = textValue;
}

function revealCharactersOfWordsToBeRevealed(
  sourceText: string | undefined
): string {
  if (!sourceText) return '';
//   console.log('revealing words loop');
  for (let i = 0; i < wordsToBeRevealed.length; i++) {
    const word = wordsToBeRevealed[i];
    if (word.revealedCharactersThisLoop >= props.maxCharsPerNewWordToReveal) {
      continue;
    }
    if (word.validCharsToBeRevealed.length === 0) continue;
    // console.log(
    //   'revealing word',
    //   word.revealedCharactersThisLoop,
    //   word.word,
    //   word.validCharsToBeRevealed.length
    // );

    const newWordCharToBeRevealedIndex = Math.floor(
      Math.random() * word.validCharsToBeRevealed.length
    );
    if (!isValidCharIndex(newWordCharToBeRevealedIndex)) continue;

    const wordChar = word.validCharsToBeRevealed[newWordCharToBeRevealedIndex];
    const textFieldWordCharIndex = word.index + wordChar.index;
    // console.log(`Revealing ${word.word} ${wordChar.char} at index ${textFieldWordCharIndex} local ${wordChar.index} globalstart ${word.index}`)
    // remove the 1 char from the list of valid chars to be revealed
    word.validCharsToBeRevealed.splice(newWordCharToBeRevealedIndex, 1);

    sourceText =
      sourceText.substring(0, textFieldWordCharIndex) +
      wordChar.char +
      sourceText.substring(textFieldWordCharIndex + 1);

    word.revealedCharactersThisLoop++;
  }

  return sourceText;
}

function changeRandomCharInValidRange(sourceText: string): string {
  if (sourceText === '') return sourceText;

  const randomIndex = getValidIndex(1, 0, 0);
  if (randomIndex === -1) {
    // console.log('no valid index found');
    return sourceText;
  }

  const currentChar = sourceText[randomIndex];
  if (currentChar === ' ' || currentChar === '\n') return sourceText;

  for (let i = 0; i < wordsToBeRevealed.length; i++) {
    const word = wordsToBeRevealed[i];
    // console.log('word', word);
    const indexWithinWordLength: boolean =
      randomIndex >= word.index && randomIndex < word.index + word.word.length;
    // console.log('indexWithinWordLength', indexWithinWordLength);
    if (indexWithinWordLength) {
      return changeRandomCharInValidRange(sourceText);
    }
  }

  const randomChar = validChars[Math.floor(Math.random() * validChars.length)];
  sourceText =
    sourceText.substring(0, randomIndex) +
    randomChar +
    sourceText.substring(randomIndex + 1);
  return sourceText;
}

function updateTimers() {
  timeSinceLastWordReveal += props.updateInterval;
  for (let i = 0; i < wordsToBeRevealed.length; i++) {
    wordsToBeRevealed[i].timeSinceReveal += props.updateInterval;
    wordsToBeRevealed[i].revealedCharactersThisLoop = 0;
  }
}

function cleanupWords() {
  for (let i = 0; i < wordsToBeRevealed.length; i++) {
    const readyForDeletion =
      wordsToBeRevealed[i].timeSinceReveal >=
      props.msProtectedRevealedWord + props.msToRevealWord;
    if (readyForDeletion) {
      wordsToBeRevealed[i].deleteme = true;
    }
  }
  for (let i = wordsToBeRevealed.length - 1; i >= 0; i--) {
    if (wordsToBeRevealed[i].deleteme) {
    //   console.log('deleting word', wordsToBeRevealed[i].word);
      wordsToBeRevealed.splice(i, 1);
    }
  }
}

function revealWordsAfterTimePassed() {
  if (!textField.value) return;
  for (let i = 0; i < wordsToBeRevealed.length; i++) {
    const word = wordsToBeRevealed[i];
    const sourceText = textField.value;
    if (word.timeSinceReveal > props.msToRevealWord) {
      textField.value =
        sourceText.substring(0, word.index) +
        word.word +
        sourceText.substring(word.index + word.word.length);
    }
  }
}
</script>
