---
import Header from "@/components/elements/layout/header.vue";
import Footer from "@/components/elements/layout/footer.vue";
import Card from "@/components/elements/card.astro";
import Base from "./base.astro";
import { cn} from "@/lib/utils"
const { cardStyling, title } = Astro.props;
const cardStyle = cn("max-w-md mx-auto shadow-md bg-background", cardStyling);
---

<Base title={title}>
  <main class=" min-h-screen flex flex-col justify-center">
    <Card transparant={true} class={cardStyle}>
      <Header />
      <!-- <h1 class="text-center text-2xl m-4 uppercase font-bold">{title}</h1> -->
      <slot />
      <Footer />
    </Card>
  </main>
</Base>
