---
import { defaultTheme } from "@/themes/default.theme";
import { version } from "../../package.json";
import { Config } from "@/utils/config";
import { cn } from "@/lib/utils";
import "@/styles/globals.css";

const fetchApiVersion = async () => {
  try {
    const url = Config.API_HOST_URL + "/json";
    const response = await fetch(url);
    const data = await response.json();
    const version = data.info.version;
    return version;
  } catch (error) {
    console.error("Failed to fetch API version:", error);
    return "unknown";
  }
};

const {
  background: backgroundColor,
  backgroundAlternate: backgroundColorAlternate,
  font,
  fontSize,
  foreground: textColor,
  textColorAlternate,
  buttonColor,
  buttonTextColor,
} = defaultTheme;
const { class: className, title } = Astro.props;

const apiVersion = await fetchApiVersion();
const uiVersion = version;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/aio-logo-copy.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot class={cn("font-sans", className)} />
  </body>
</html>

<!-- <style
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


  define:vars={{
   backgroundColor, backgroundColorAlternate,
   font, fontSize, textColor, textColorAlternate,
  buttonColor, buttonTextColor
  }}
  is:global
  lang="post css"
>

  
</style> -->
