---
import Layout from './Layout.astro';
import Divider, {
  DividerShape,
} from '@/components/block-elements/divider.astro';

type Props = {
  title: string;
  description: string;
  pubDate?: string;
  updatedDate?: string;
  heroImage?: string;
};

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout>
  <article class="min-h-[70svh] bg-alternate-background">
    <div class="">
      {
        heroImage && (
          <img class="h-[20svh] w-full object-cover" src={heroImage} alt="" />
        )
      }
      <div class="relative w-full text-foreground">
        <Divider
          shape={DividerShape.Tilt}
          invertedY={true}
          class="absolute bottom-0 left-0 h-3 sm:h-5 md:h-5 w-full fill-alternate-background"
        />
      </div>

      <div class="container">
        <div
          class="aio-card translate-y-[-4svh] px-7 pt-4 pb-5 text-accent-foreground sm:px-12 md:px-16">
          <h1 class="text-4xl font-bold mt-4 mb-1 text-foreground">{title}</h1>
          <!-- <div class="mb-2">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="text-accent-foreground ">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div> -->
          <hr />
          <slot />
        </div>
      </div>
    </div>
  </article>
</Layout>
