---
import BaseHead from '@/components/core/BaseHead.astro';
import Header from '@/components/core/Header.astro';
import Footer from '@/components/core/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import { languageTag } from '@/translation/runtime';
import Toaster from '@/components/ui/toast/Toaster.vue';

---

<!doctype html>
<html lang={languageTag()} dir={Astro.locals.paraglide.dir} class="">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class=" ">
    <Header />
    <main class="mb-[64px] translate-y-[64px]">
      <slot />
    </main>
    <Footer class="z-10" />
    <Toaster client:load />
  </body>

  <script is:inline>
    const getThemePreference = () => {
      if (
        typeof localStorage !== 'undefined' &&
        localStorage.getItem('theme')
      ) {
        return localStorage.getItem('theme');
      }
      return window.matchMedia('(prefers-color-scheme: dark)').matches
        ? 'dark'
        : 'light';
    };
    const isDark = getThemePreference() === 'dark';
    document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

    if (typeof localStorage !== 'undefined') {
      const observer = new MutationObserver(() => {
        const isDark = document.documentElement.classList.contains('dark');
        localStorage.setItem('theme', isDark ? 'dark' : 'light');
      });
      observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ['class'],
      });
    }
  </script>
</html>
