<template>
  <div v-if="visible">
    <LoadingScreen :show="loading" :message="`🧝 your invoice is being created ⚒️`" />
    <!-- TODO figure out how to get the back button above the loading screen -->
    <div
      class="fixed z-[60] flex items-center bottom-6 left-6 h-14 w-14 bg-yellow-300 border-2 border-yellow-700 rounded-full"
      @click="visible = false" style="cursor: pointer;">
      <ArrowUturnLeftIcon class="h-7 w-7 text-yellow-700 m-auto" />
    </div>
    <iframe ref="iframe" class="absolute inset-0 z-50 w-full h-full" :src="webpageUrl" frameborder="0" allowfullscreen
      scrolling="yes">
    </iframe>
  </div>
</template>

<script setup>
import { ref, watch } from 'vue'
import LoadingScreen from "./LoadingScreen.vue"
import { ArrowUturnLeftIcon } from "@heroicons/vue/24/outline"

const loading = ref(true);
const iframe = ref(null);

const props = defineProps({
  webpageUrl: {
    type: String,
    required: true,
  },
  visible: {
    type: Boolean,
    required: true,
  }
});

watch(iframe, (newVal) => {
  if (newVal) {
    iframe.value.addEventListener("load", () => {
      console.log("loading set to false")
      loading.value = false
    });
    iframe.value.addEventListener("error", () => {
      console.log("loading set to false")
      loading.value = false
    });
  }
});
</script>
