<template>
    <render class="mb-64" id="itemPage" />
</template>
 
<style>
@import url(https://fonts.bunny.net/css?family=amatic-sc:700|tangerine:700);
@import url(https://fonts.bunny.net/css?family=tangerine:700);

* {
    /* @font-face {
         font-family: "Savoye";
         src: local("Savoye"),   url(./fonts/Savoye/Savoye.ttf) format("truetype");
     };
   font-family: 'Savoye', handwriting; */
    font-weight: 700;
    /* font-family: "Actionis";  */
}

/* TODO see if you want to use this for the product pop up! */
/* #menuItem::before {
 } */
</style>
 
<script setup>
import { h, ref, watch } from 'vue'
import { ChevronDownIcon, ChevronUpIcon } from '@heroicons/vue/24/outline'

import missingPicture from '../assets/missingPicture.webp'

const emit = defineEmits(['toggleQuickView'])

const props = defineProps({
    items: Object,
});

const expansionBools = ref([])

function pushExpansionBools(_bool) {
    expansionBools.value.push(_bool)
}

// fillBools creates an array the size of the number of nodes in props.items
// this is so that branches can collapse their children
// let bools = ref([])
const fillBools = function (object) {
    for (var key in object) {
        pushExpansionBools(false)
        if (!object.hasOwnProperty(key)) {
            continue;
        }
        // if(typeof object[key] == 'object'){
        // ref: https://stackoverflow.com/questions/7803262/difference-between-array-and-object-in-javascript-or-array-vs-object
        if (object[key] instanceof Object && !(object[key] instanceof Array)) {
            fillBools(object[key]);
        }
    }
}

// this watch is because props.items wasn't populating before running fillBools
// not sure why that is the case, as it should be since it's an async process happening in onBeforeMount in App.vue
watch(() => props.items, () => fillBools(props.items))


// TODO handle empty objects and arrays
// TODO can i use the % operator somehow to get the level in the tree?
// inspiration from https://stackoverflow.com/questions/13523951/how-to-check-the-depth-of-an-object
const css = {
    arrowClass: ['mx-2', 'w-[1.25rem]', 'sm:w-[1.5rem]'],

    // main category css
    catDiv: ['bg-category', 'shadow-md', 'shadow-yellow-50', 'lg:rounded-xl', 'mb-3', 'lg:m-4', 'lg:mb-6', 'p-2', 'sm:p-6'],
    catText: ['rounded-t-lg', 'text-3xl', 'sm:text-4xl', 'uppercase', 'font-medium', 'text-cat-color', 'text-drop-shadow'],
    catTitle: ['flex', 'justify-center', 'w-fit', 'sm:mb-2'],

    // subcategory css
    subCatDiv: [],
    subCatTitle: ['flex', 'justify-center', 'w-fit', 'py-1', 'sm:py-2'],
    subCatText: [`text-xl`, `sm:text-2xl`, 'uppercase', 'font-light', 'text-subcat-color', 'text-drop-shadow'],

    // unordered list css
    ulDiv: ['relative', 'w-full', 'overflow-x-scroll', 'pt-5', 'bg-ulist', 'lg:rounded-md'],
    unorderedList: ['inline-flex', 'mx-4', 'space-x-1', 'sm:mx-6', 'lg:mx-10', 'lg:space-x-0', 'lg:grid', 'lg:grid-cols-4', 'lg:gap-x-8'],

    // list item css
    listItem: ["inline-flex", "flex-col", "w-32", "pb-4", "text-center", "w-48", "sm:w-48", "lg:w-auto"],
    listItemInactive: ['opacity-40'],

    // Item name and price css
    itemNamePriceDiv: ["mt-2"],
    itemNameText: ["mt-1", "text-item-color", "text-sm", "sm:text-lg", "lg:text-xl", "font-light", 'uppercase', 'text-drop-shadow'],
    itemPriceText: ["sm:mt-1", "font-medium", "text-price-color", "text-sm", 'text-drop-shadow'],

    // image css
    imgDiv: ['w-full', 'overflow-hidden', 'rounded-lg', 'shadow-md', 'aspect-w-1', 'aspect-h-1'],
    itemImage: ['object-cover', 'object-center', 'w-full', 'h-full', 'group-hover:opacity-75']
}

const buildTree = function (obj) {
    // root gets returned
    const root = []

    // initialize counter for boolean array
    let counter = 0

    // j is the depth of the recursion, i.e, what level it's on
    let j = 0

    // item schema needs imgSrc, imgAlt, name and price fields
    // TODO need to add custom directive "v-image-fallback"
    const itemli = function (item) {
        const mostInner = [h("h3", { class: css.itemNameText }, item.name), h("p", { class: css.itemPriceText }, item.price ? item.price + " Q" : "")]

        // TODO: use this method of separating the css for better readbility?
        const imgClass = css.itemImage
        const img = h('img', { class: imgClass, type: "image/webp", src: item.imgSrc ? new URL(item.imgSrc, import.meta.env.VITE_BASE_URL) : missingPicture, alt: item.imageAlt })

        const sndMostInnerChild1 = h("div", { class: css.imgDiv }, img)
        const sndMostInnerChild2 = h("div", { class: css.itemNamePriceDiv }, mostInner)
        const sndMostInnerChildren = h("div", { style: { cursor: 'pointer' }, class: ['relative-group'] }, [sndMostInnerChild1, sndMostInnerChild2])
        const li = h('li', { onClick: () => { item.active ? emit('toggleQuickView', item) : '' }, key: item._id, id: "menuItem", class: [...css.listItem, item.active ? '' : css.listItemInactive] }, sndMostInnerChildren)
        return li

    }

    const createSection = function (index, key, classes = []) {
        const arrowClass = css.arrowClass
        const collapseArrow = expansionBools.value[index - 1] ? h(ChevronUpIcon, { class: arrowClass }) : h(ChevronDownIcon, { class: arrowClass })
        const title = h('h' + j, { class: [j === 1 ? css.catTitle : css.subCatTitle] }, [key, collapseArrow])
        classes = [...classes, 'flex', 'align-center', 'justify-center']
        const titleDiv = h('div', { onClick: () => { expansionBools.value[index - 1] = !expansionBools.value[index - 1] }, class: classes, style: { cursor: 'pointer' } }, title)
        return titleDiv
    }

    const buildHorizontal = function (obj, depth) {
        let temp = []
        // depth is constant for a horizontal
        const j = depth

        // i is the "width" of the recursion with constant depth
        let i = 1
        for (let key in obj) {
            const child = builder(obj[key])
            counter += 1

            // ################################ START LEVELS ########################################
            const titleDiv = createSection(counter, key, [j === 1 ? css.catText : css.subCatText])


            // ################################ TOP LEVEL ########################################
            if (j === 1) {

                //=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-  DIV CONTAINER FOR WHOLE CATEGORY =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
                const childHolder = h('div', { class: [expansionBools.value[counter - 1] ? 'hidden' : '', ''] }, child)
                const div = h('div', { class: css.catDiv }, [titleDiv, childHolder])
                //=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-  DIV CONTAINER FOR WHOLE SECTION =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

                root.push([div])
                temp = []
            } else {
                temp.push(titleDiv)
                temp.push(h('div', { class: [expansionBools.value[counter - 1] ? 'hidden' : '', `i${i}j${j}`] }, child))
            }

            if (i === Object.keys(obj).length) {
                return temp
            }

            i += 1
            continue
            // ################################################################################

        }
    }

    const buildItemArray = function (obj) {
        let itemArray = []
        for (let item of obj) {
            item.formType = 'item'
            itemArray.push(itemli(item))
        }
        // TODO this is now returned from the API call on the backend (it's not part of the database).. Probably need a better solution
        const ul = h('ul', { role: "list", class: css.unorderedList }, itemArray)
        const div = h('div', { class: css.ulDiv }, ul)

        if (j === 1) {  // ROOT node
            root.push(div)
            return
        }
        return div
    }

    const builder = function (obj) {
        j += 1
        // note that items are in an array, and any other levels above that are in an object
        if (obj instanceof Array) {
            return buildItemArray(obj)
        } else if (obj instanceof Object && Object.keys(obj).length === 0) {
            // this is a tree branch with no ending item array
            return [h('div', {}, "No Items")]
        } else if (obj instanceof Object && Object.keys(obj).length > 0) {
            return buildHorizontal(obj, j)
        }
        // ################################ END LEVELS ########################################
    }

    builder(obj)

    return root
}


const render = () => {
    return h('div', buildTree(props.items),)
};
</script>

<script>

 // Code for scroll disappearance
 // 
 // const lastScrollPosition = ref(0)
 //
 // const onScroll = function() {
 //     let currentScrollPosition = document.getElementById('itemPage').scrollTop
 //     // console.log(currentScrollPosition)
 //     // Because of momentum scrolling on mobiles, we shouldn't continue if it is less than zero
 //     if (currentScrollPosition <= 0) {
 //         showTopBar.value = true
 //     }    // Here we determine whether we need to show or hide the navbar
 //     // console.log(currentScrollPosition, lastScrollPosition.value, currentScrollPosition < lastScrollPosition.value)
 
 //     // if (Math.abs(currentScrollPosition - lastScrollPosition.value) < 30) {
 //     //     return
 //     // }
 //     showTopBar.value = currentScrollPosition <  30 //lastScrollPosition.value
 //     lastScrollPosition.value = currentScrollPosition
      
 
 // }
 
 
 // onMounted ( () => {
 //     window.addEventListener('scroll', onScroll)
 //     window.addEventListener('wheel', onScroll)
 //     window.addEventListener('touchmove', onScroll)
 // })
 
 // onBeforeUnmount ( () => {
 //     window.removeEventListener('scroll', onScroll)
 //     window.addEventListener('wheel', onScroll)
 //     window.addEventListener('touchmove', onScroll)
 // })
 
 
 // const showTopBar = ref(true)
 // </script>

