<template>
  <TransitionRoot as="template" :show="isLoading">
    <Dialog as="div" class="relative z-10"><!--  @close="open = false"> -->
      <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100"
        leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <TransitionChild as="template" enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
            <div class="fixed inset-0 flex flex-col items-center justify-center bg-gray-900 bg-opacity-60">
              <div class="rainbow-loader ease-linear rounded-full border-8 border-t-8 h-16 w-16"></div>
              <p class="text-white mt-4">Please wait,</p>
              <p v-if="message" class="text-white">{{ message }}</p>
              <p v-else class="text-white"><span class="text-2xl">✨</span> magic is happening <span
                  class="text-2xl">✨</span>
              </p>
            </div>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup>
import { Dialog, TransitionChild, TransitionRoot } from '@headlessui/vue'
import { usePopups } from '../composables/usePopups'

const { isLoading } = usePopups()

let props = defineProps(['message'])

</script>

<style scoped>
/* Customize the loader's appearance */
.rainbow-loader {
  border-top-color: #f00;
  /* Red */
  border-left-color: #ff0;
  /* Yellow */
  border-right-color: #0f0;
  /* Green */
  border-bottom-color: #00f;
  /* Blue */
  animation: rainbow 2s linear infinite;
}

@keyframes rainbow {
  0% {
    transform: rotate(0deg);
    border-top-color: #f00;
    border-left-color: #ff0;
    border-right-color: #0f0;
    border-bottom-color: #00f;
  }

  25% {
    border-top-color: #0f0;
    /* Green */
    border-left-color: #f00;
    /* Red */
    border-right-color: #ff0;
    /* Yellow */
    border-bottom-color: #00f;
    /* Blue */
  }

  50% {
    border-top-color: #00f;
    /* Blue */
    border-left-color: #0f0;
    /* Green */
    border-right-color: #f00;
    /* Red */
    border-bottom-color: #ff0;
    /* Yellow */
  }

  75% {
    border-top-color: #ff0;
    /* Yellow */
    border-left-color: #00f;
    /* Blue */
    border-right-color: #0f0;
    /* Green */
    border-bottom-color: #f00;
    /* Red */
  }

  100% {
    transform: rotate(360deg);
    border-top-color: #f00;
    border-left-color: #ff0;
    border-right-color: #0f0;
    border-bottom-color: #00f;
  }
}
</style>
