<template>
  <ErrorModal class="z-30" :errorModal="quickViewErrorModal" @closeErrorModal="closeQuickViewErrorModal">
    <div class="mx-auto flex h-14 w-14 items-center justify-center rounded-full bg-red-100">
      <!-- <XMarkIcon class="h-6 w-6 text-red-600" aria-hidden="true" /> -->
      <p class="text-4xl">👾</p>
    </div>
    <div class="mt-3 text-center sm:mt-5">
      <DialogTitle as="h3" class="text-base font-semibold leading-6 text-gray-900"> You must select the
        options!
      </DialogTitle>
      <div class="mt-2">
      </div>
    </div>
  </ErrorModal>
  <TransitionRoot as="template" :show="quickViewOpen">
    <Dialog as="div" class="fixed inset-0 overflow-y-auto" @close="closeWindow">
      <div class="flex min-h-screen text-center rounded-lg md:block md:px-2 lg:px-4" style="font-size: 0;">
        <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100"
          leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
          <DialogOverlay class="fixed inset-0 hidden transition-opacity bg-gray-500 bg-opacity-75 md:block" />
        </TransitionChild>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden md:inline-block md:align-middle md:h-screen" aria-hidden="true">&#8203;</span>
        <TransitionChild as="template" enter="ease-out duration-300"
          enter-from="opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
          enter-to="opacity-100 translate-y-0 md:scale-100" leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 md:scale-100"
          leave-to="opacity-0 translate-y-4 md:translate-y-0 md:scale-95">
          <div
            class="flex w-full text-base text-left transition transform md:inline-block md:max-w-2xl md:px-4 md:my-8 md:align-middle lg:max-w-7xl">
            <!-- <div class="relative flex items-center w-full px-4 pb-8 overflow-hidden bg-white shadow-2xl rounded-xl pt-14 sm:px-6 sm:pt-8 md:p-6 lg:p-8"> -->
            <div
              class="relative flex items-center w-full px-4 pb-8 md:rounded-3xl bg-white shadow-2xl pt-14 sm:px-6 sm:pt-8 md:p-6 lg:p-8">
              <button type="button"
                class="absolute text-gray-400 top-4 right-4 hover:text-gray-500 sm:top-8 sm:right-6 md:top-6 md:right-6 lg:top-8 lg:right-8"
                @click="$emit('closeQuickView')">
                <span class="sr-only">Close</span>
                <XMarkIcon class="w-6 h-6" aria-hidden="true" />
              </button>

              <div class="grid items-start w-full grid-cols-1 gap-y-8 gap-x-6 sm:grid-cols-12 sm:gap-x-8">
                <div class="overflow-hidden bg-gray-100 rounded-lg aspect-w-2 aspect-h-2 sm:col-span-6 lg:col-span-7">
                  <img :src="item.imgSrc ? getImgURL(item.imgSrc) : missingPicture" :alt="'Image of ' + item.name"
                    class="object-cover object-center" />
                </div>
                <div class="sm:col-span-6 lg:col-span-5">

                  <div class="flex justify-around sm:mt-6">
                    <h2 class="text-2xl sm:text-3xl font-extrabold text-gray-900">
                      {{ item.name }}
                    </h2>
                  </div>

                  <section aria-labelledby="information-heading" class="mt-2">
                    <h3 id="information-heading" class="sr-only">item information</h3>

                    <!-- <p @click="doSth" class="mx-2 text-2xl text-gray-900">
                      Do something
                    </p> -->

                    <p class="p-2 mx-auto text-xl sm:text-2xl bg-green-300 text-slate-700 rounded-xl w-fit">
                      {{ price }} Q
                    </p>

                    <p class="text-sm text-center text-gray-900">
                      <br>
                      {{ item.description }}
                    </p>
                  </section>

                  <h3 id="options-heading" class="sr-only">item options</h3>
                  <!-- // TODO look into aria-labelledby functionality -->
                  <section aria-labelledby="option-heading">
                    <form id="addToBag" @submit.prevent="addToCart(item_copy)">

                      <!--############################################################ START Required Choices ############################################################-->

                      <section class="p-4 mt-6 bg-blue-100 rounded-lg shadow-sm" v-if="item.requiredOptions.length > 0">
                        <h2 class="w-full my-3 text-2xl font-bold text-center">Required Choices</h2>
                        <div class="my-4" v-for="(items, key) in item.requiredOptions" :key="key">


                          <!-- #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#- START Required Radio Choices #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#- -->
                          <div v-if="items.chooseOne">
                            <h1 class="my-4 text-lg font-bold"> Choose One </h1>
                            <RadioGroup v-model="radioSelected[key]">
                              <RadioGroupLabel class="sr-only"> {{ key }} </RadioGroupLabel>
                              <div class="space-y-3">
                                <RadioGroupOption as="template" v-for="item in items.choices" :key="item.keyword"
                                  :value="item" v-slot="{ checked, active }">
                                  <div
                                    :class="[checked ? 'border-transparent' : 'border-gray-300', active ? 'border-indigo-500 ring-2 ring-indigo-500' : '', 'relative block bg-white border rounded-lg shadow-sm px-6 py-4 cursor-pointer sm:flex sm:justify-between focus:outline-none']">
                                    <span class="flex items-center">
                                      <span class="flex flex-col text-sm">
                                        <RadioGroupLabel as="span" class="font-medium text-gray-900">
                                          {{ item.name }} <span v-if="item.price" class="pl-2 text-green-600">({{
                                            item.price }} Q extra)</span>
                                        </RadioGroupLabel>
                                        <RadioGroupDescription as="span" class="text-gray-500">
                                          <span class="block sm:inline">{{ item.description }}</span>
                                          {{ ' ' }}
                                        </RadioGroupDescription>
                                      </span>
                                    </span>
                                    <span
                                      :class="[active ? 'border' : 'border-2', checked ? 'border-indigo-500' : 'border-transparent', 'absolute -inset-px rounded-lg pointer-events-none']"
                                      aria-hidden="true" />
                                  </div>
                                </RadioGroupOption>
                              </div>
                            </RadioGroup>
                          </div>
                          <!-- #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#- END Required Radio Choices #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#- -->



                          <!-- #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#- START Required Checkbox Choices #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#- -->
                          <div v-else>
                            <h1 class="mt-6 text-lg font-bold"> Choose One or More! </h1>
                            <fieldset class="space-y-6">
                              <legend class="sr-only"> Required Checkbox Items </legend>
                              <div v-for="item of items.choices" :key="item.name" class="relative flex items-start">
                                <div class="flex items-center h-5">
                                  <!-- <input :id="item.name" :aria-describedby="`${item.keyword}-description`" v-model="radioSelected[key]" :name="key" type="checkbox" class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500" /> -->
                                  <input type="checkbox" :id="item.name" :value="item" v-model="radioSelected[key]">
                                </div>
                                <div class="ml-3 text-md">
                                  <label :for="item.name" class="font-medium text-gray-700">

                                    {{ item.name }}<span v-if="item.price" class="pl-2 text-green-600">({{ item.price }} Q
                                      extra)</span>
                                    <p v-if="item.description" id="`${item.keyword}-description`"
                                      class="font-normal text-gray-500">{{ item.description }}</p>

                                  </label>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                          <!-- #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#- END Required Checkbox Choices #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#- -->



                        </div>
                      </section>
                      <!--############################################################ END Required Choices ############################################################-->


                      <!--#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#- START Optional Addons -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-->
                      <div v-if="item.addons.length > 0" class="px-4 pt-2 pb-6 mt-6 rounded-lg shadow-sm bg-emerald-100">
                        <h2 class="w-full mt-4 text-2xl font-bold text-center">Add Extras</h2>
                        <h3 class="mt-2 text-lg font-bold"> Choose One or More! </h3>
                        <fieldset class="space-y-6">
                          <legend class="sr-only"> Addon Checkbox Items </legend>
                          <!-- {{ item.addons}} -->
                          <div v-for="addon of item.addons" :key="addon.name" class="relative flex items-start">
                            <div class="flex items-center h-5">
                              <input type="checkbox" :id="addon._id" :value="addon" v-model="addonSelected">
                            </div>
                            <div class="ml-3 text-md">
                              <label :for="addon._id" class="font-medium text-gray-700">

                                {{ addon.name }}<span v-if="addon.price" class="pl-2 text-green-600">({{ addon.price }} Q
                                  extra)</span>
                                <p v-if="addon.description" id="`${addon.keyword}-description`"
                                  class="font-normal text-gray-500">{{ addon.description }}</p>

                              </label>
                            </div>
                          </div>
                        </fieldset>
                        <!-- {{ addonSelected }} -->
                      </div>

                      <!--#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#- END Optional Addons -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-->


                      <!-- CHECKOUT BUTTON -->


                    </form>
                  </section>
                </div>
                <div class="sticky text-center h-14 bottom-1 flex px-3 mx-auto rounded-lg sm:col-span-full items-center">
                  <button @click="$emit('closeQuickView')"
                    class="shadow-md p-3 sm:p-4 mr-8 sm:mr-4 shadow-gray-400 bg-yellow-300 border border-transparent rounded-full hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
                    <ChevronDoubleLeftIcon class="h-5 w-5" />
                  </button>
                  <button form="addToBag"
                    class="shadow-md shadow-gray-400 h-12 sm:h-14 w-48 sm:w-72 px-6 sm:text-lg font-medium text-white bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add
                    to bag</button>
                </div>
              </div>
            </div>
          </div>
        </TransitionChild>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup>
import { ref, reactive, computed, watch, onMounted, onRenderTriggered } from 'vue'
import { useCartStore } from '../stores/CartStore'
import { usePopups } from '../composables/usePopups'
import ErrorModal from '../components/modals/ErrorModal.vue'
import {
  Dialog,
  DialogTitle,
  DialogOverlay,
  RadioGroup,
  RadioGroupLabel,
  RadioGroupOption,
  TransitionChild,
  TransitionRoot,
} from '@headlessui/vue'
import { RadioGroupDescription } from '@headlessui/vue'
import { XMarkIcon, ChevronDoubleLeftIcon } from '@heroicons/vue/24/outline'
import missingPicture from '../assets/missingPicture.webp'

const getImgURL = function (urlSuffix) {
  return new URL(urlSuffix, import.meta.env.VITE_BASE_URL)
}

const props = defineProps({
  quickViewOpen: Boolean,
  item: Object
})

const emit = defineEmits(['closeQuickView'])

const cartStore = useCartStore()
const { quickViewErrorModal, openQuickViewErrorModal, closeQuickViewErrorModal } = usePopups()

const closeWindow = () => {
  if (!quickViewErrorModal.value) {
    emit('closeQuickView')
  }
}

const price = ref(0)
// All changed are made to item_copy
const item_copy = computed(() => {
  if (props.item) {
    const temp = JSON.parse(JSON.stringify(props.item))
    // set value of reactive variable
    price.value = temp.price
    // then replace temp.price with reactive value
    temp.price = price
    return reactive(temp)
  }
})

let radioSelected = reactive([])
const addonSelected = ref([])

const updatePrice = function () {
  price.value = props.item.price
  for (let item of radioSelected) {
    if (item instanceof Array && item.length > 0) {
      for (let choice of item) {
        price.value += choice.price
      }
    } else if (Object.keys(item).length > 0) {
      price.value += item.price
    }
  }
  for (let item of addonSelected.value) {
    price.value += item.price
  }
}
// Update the price when customer changes selections
watch(radioSelected, () => {
  updatePrice()
})

watch(addonSelected, () => {
  updatePrice()
})
// clear out last radioSelected
// since the item is reactive, need to save the integer # to successfully do this
const emptyRadioSelected = function () {
  const radioSelectedLength = radioSelected.length
  for (let step = 0; step < radioSelectedLength; step++) {
    radioSelected.pop()
  }
}

const initializeItem = () => {
  const requiredOptions = props.item.requiredOptions
  emptyRadioSelected()
  for (let index in requiredOptions) {
    if (requiredOptions[index].chooseOne) {
      radioSelected.push({})
    } else {
      radioSelected.push([])
    }
  }
}

watch(item_copy, (newVal, oldVal) => {
  initializeItem()
})


const addToCart = function (item) {
  // =-=-=-=-=-=-=-=-=-=-=-= Optional Addons =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
  // =-=-=-=-= this is handled by the addon_toggle_changed() water =-=-=-=-=-=-=
  // This is necessary for any items that have addons
  let temp = JSON.parse(JSON.stringify(item_copy.value))
  if (!temp.addedOn) { temp.addedOn = [] }

  // WIP TODO buildoff this code for checkOptions to add that functionality
  // note: in initial code, checkOptions was checked by seeing if the this.checkOptionsToggle.length === 0
  // the code for checkOptions does **NOT** work, you need to make sure they're always added in the same order
  if (radioSelected) {
    // let totNumOptions = radioSelected.length
    // let selectedOptions = 0
    for (let input of radioSelected) {
      // handle multiple choice checkbox group
      if (input instanceof Array) {
        if (!(input.length > 0)) {
          openQuickViewErrorModal()
          return null
        } else {
          // create an array of the item names
          const tempNameArr = []
          for (let item of input) {
            tempNameArr.push(item.name)
          }
          // sort array so the _id for modified items is always the same
          tempNameArr.sort()

          for (let itemName of tempNameArr) {
            temp.addedOn.push(itemName)
            temp._id += itemName.replace(/\s/g, '')
          }
        }
      } else { // handle single choice radio group
        if (Object.keys(input).length === 0) {
          openQuickViewErrorModal()
          return null
        } else {
          temp.addedOn.push(input.name)
          temp._id += input.name.replace(/\s/g, '')
        }
      }
    }
  }

  if (addonSelected.value.length > 0) {

    // create an array of the item names
    const tempNameArr = []
    for (let item of addonSelected.value) {
      tempNameArr.push(item.name)
    }
    // sort array so the _id for modified items is always the same
    tempNameArr.sort()

    for (let itemName of tempNameArr) {
      temp.addedOn.push(itemName)
      temp._id += itemName.replace(/\s/g, '')
    }

  }

  cartStore.addToCart(temp)
  emit('closeQuickView')
  // reset addonSelected value
  // note this variable ends up storing both required (radio selected) as well as optional (checkbox) addons
  addonSelected.value = []

  // Empty radio selected values
  initializeItem()

  // note: we don't empty radioSelected, this is done automatically with watch item_copy
}

const delFromCart = function (item) {
  // console.log(item)
  cartStore.delFromCart(item)
  console.log(cartStore.productQty(item))
}


</script>
