<template>
  <TransitionRoot as="template" :show="hoursModal">
    <Dialog as="div" class="relative"> <!-- @close="hoursModal = false"> -->
      <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100"
        leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed inset-0 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <TransitionChild as="template" enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
            <DialogPanel
              class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6">
              <div>
                <div class="mx-auto flex h-12 w-12 items-center justify-center rounded-full bg-red-100">
                  <XMarkIcon class="h-6 w-6 text-red-600" aria-hidden="true" />
                </div>
                <div class="mt-3 text-center sm:mt-5">
                  <DialogTitle as="h3" class="text-lg font-medium leading-6 text-gray-900">Restaurant
                    Closed</DialogTitle>
                  <div class="mt-2">
                    <p class="text-sm text-gray-500">Sorry, we can't take your order at the moment!
                      Please come back during opening hours.</p>
                  </div>
                </div>
                <div @click="showHours = !showHours" class="bg-gray-50 px-4 py-5 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500 pb-2 flex items-center justify-center">
                    Restaurant Hours
                    <!-- {{openHours}} -->
                    <ChevronDownIcon v-if="showHours" class="pl-2 h-4" />
                    <ChevronUpIcon v-else class="pl-2 h-4" />
                  </dt>
                  <!-- <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">Margot Foster</dd> -->
                  <ul v-if="showHours" role="list" class="divide-y divide-gray-100 bg-white shadow-md rounded-xl">
                    <li v-for="(value, key, index) of restaurant.openHours" class="relative py-1.5 px-4">
                      <div class="flex justify-between space-x-3">
                        <div class="min-w-0 flex-1">
                          <span class="absolute inset-0" aria-hidden="true" />
                          <p class="text-sm font-medium text-gray-900">{{ key }}</p>


                          <p v-if="!value[0] || value[0].length === 0" class="text-sm font-light text-gray-500"> closed
                          </p>
                          <p v-else v-for="range in value" :key="index" class="text-sm font-light text-gray-500"> {{
                            range[0] }} to
                            {{ range[1] }} </p>
                          <!-- <p v-else :key="hours" class="text-sm font-light text-gray-500">{{ day.dayHours }}</p> -->
                          <!-- <p v-else v-for="hours in day.dayHours" :key="hours" class="text-sm font-light text-gray-500">{{ hours }}</p> -->
                        </div>
                        <!-- <time :datetime="day.datetime" class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500">{{ message.time }}</time> -->
                      </div>
                      <!-- <div class="mt-1"> -->
                      <!--   <p class="text-sm text-gray-600 line-clamp-2">{{ day.preview }}</p> -->
                      <!-- </div> -->
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mt-5 sm:mt-6">
                <button type="button"
                  class="inline-flex w-full justify-center rounded-md border border-transparent bg-fuchsia-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-fuchsia-700 focus:outline-none focus:ring-2 focus:ring-fuchsia-500 focus:ring-offset-2 sm:text-sm"
                  @click="hoursModal = false">Go back</button>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup>
import { ref } from 'vue'
import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from '@headlessui/vue'
import { XMarkIcon } from '@heroicons/vue/24/outline'
import { useRestaurant } from '../../composables/useRestaurant'
import { usePopups } from '../../composables/usePopups'
import { ChevronDownIcon, ChevronUpIcon } from '@heroicons/vue/24/outline'

const { restaurant } = useRestaurant()
const { hoursModal } = usePopups()

const showHours = ref(false)


const emits = defineEmits('closeModal')
const props = defineProps(['modalOpen'])

</script> 
