<template>
    <button 
        :class="buttonClass"
        @click="onButtonClick">
        <img v-if="props.img" :src="props.img" class="icon-class h-20 w-20  " alt="">
        <text class="mt-[-0.6rem] font-semibold">{{ buttonText }}</text>
    </button>
</template>

<!-- TODO add spinner logic back to template -->
<script setup lang="ts">
import { ref, computed } from 'vue';
import { ButtonState, getButtonText, handleClick, getButtonStateClass } from './button-logic';
import { cn } from '@/lib/utils';

export interface Props {
    enabledText: string;
    successText: string;
    disabledText: string;
    loadingText: string;
    onClick: () => Promise<void>;
    initialState: ButtonState;
    img?: string;
}

const props = withDefaults(defineProps<Props>(), {
    enabledText: '',
    successText: '',
    disabledText: 'Disabled',
    loadingText: 'Loading',
    onClick: async () => { },
    initialState: ButtonState.ENABLED
});

const internalState = ref(props.initialState);

const buttonText = computed(() => {
    if (internalState.value === ButtonState.LOADING && props.loadingText) {
        return props.loadingText;
    }
    return getButtonText(internalState.value, props.enabledText, props.successText, props.disabledText);
});

const buttonClass = computed(() => {
  return  cn('',getButtonStateClass(internalState.value));
});

const onButtonClick = async () => {
    await handleClick(props.onClick, internalState);
};
</script>
