<template>
    <button :class="buttonClass" @click="onButtonClick">
        {{ buttonText }}
    </button>
</template>
<!-- TODO add spinner logic back to template -->
<script setup lang="ts">
import { ref, computed } from 'vue';
import { ButtonState, getButtonText, handleClick, getButtonStateClass } from './button-logic';

export interface Props {
    enabledText: string;
    successText: string;
    disabledText: string;
    loadingText: string;
    onClick: () => Promise<void>;
    initialState: ButtonState;
}

const props = withDefaults(defineProps<Props>(), {
    enabledText: 'Submit',
    successText: 'Success',
    disabledText: 'Disabled',
    loadingText: 'Loading',
    onClick: async () => { },
    initialState: ButtonState.ENABLED
});

const internalState = ref(props.initialState);

const buttonText = computed(() => {
    if (internalState.value === ButtonState.LOADING && props.loadingText) {
        return props.loadingText;
    }
    return getButtonText(internalState.value, props.enabledText, props.successText, props.disabledText);
});

const buttonClass = computed(() => [
    'pill-button',
    getButtonStateClass(internalState.value)
]);

const onButtonClick = async () => {
    await handleClick(props.onClick, internalState);
};

</script>

<style scoped>
.pill-button {
    /* @apply rounded-full px-4 py-2 bg-blue-500; */
    /* @apply flex justify-center items-center transition-all duration-300 ease-in-out; */
    width: fit-content;
    cursor: pointer;
    border: none;
    outline: none;

    /* &:hover {
        @apply bg-blue-600;
    } */

    &.enabled {
        background-color: var(--buttonEnabledColor, blue);
    }

    &.loading {
        background-color: var(--buttonLoadingColor, gray);
    }

    &.success {
        background-color: var(--buttonSuccessColor, green);
    }

    &.disabled {
        background-color: var(--buttonDisabledColor, darkgray);
        cursor: not-allowed;
        opacity: 0.6;
    }
}
</style>