<script setup lang="ts">
import type { HTMLAttributes } from 'vue';
import { useVModel } from '@vueuse/core';
import { cn } from '@/lib/utils';

const props = defineProps<{
  defaultValue?: string | number;
  modelValue?: string | number;
  class?: HTMLAttributes['class'];
}>();

const emits = defineEmits<{
  (e: 'update:modelValue', payload: string | number): void;
}>();

const modelValue = useVModel(props, 'modelValue', emits, {
  passive: true,
  defaultValue: props.defaultValue,
});
</script>

<template>
  <input
    v-model="modelValue"
    :class="
      cn(
        'flex h-10 w-full rounded-md border border-input bg-transparent  ' +
          'px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent ' +
          'file:text-sm file:font-medium placeholder:text-muted-foreground ' +
          'focus-visible:ring-ring/35 focus-visible:outline-none focus-visible:ring-[1px] ' +
          'focus-visible:ring-offset-[1px] ' +
          'disabled:cursor-not-allowed disabled:opacity-50',
        props.class
      )
    " />
</template>
