<template>
  <Suspense>
    <router-view v-slot="{ Component }">

      <transition name="fade">

        <component :is="Component" :key="$route.path"></component>

      </transition>

    </router-view>
  </Suspense>
  <LoadingScreen />
</template>

<script setup>
import LoadingScreen from './components/LoadingScreen.vue'
import { useCartStore } from './stores/CartStore'
const cartStore = useCartStore()

cartStore.updateCartFromLocalStorage()

</script>


<style>
.fade-enter-active,

.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,

.fade-leave-to {
  opacity: 0;
}
</style>
