<template>
  <div class="h-full bg-white">
    <!-- Header -->
    <header class="absolute inset-x-0 top-0 z-50 bg-red-800 bg-opacity-40 shadow-sm shadow-yellow-900">
      <div class="flex items-center justify-center p-2" aria-label="Global">
        <img class="w-screen px-4 drop-shadow-[0_0_1.5px_rgba(255,255,0,0.8)] max-w-sm" :src="emporium_logo" />
      </div>
    </header>

    <main>
      <div class="relative flex flex-col pt-32 isolate h-screen overflow-y-scroll bg-gray-900">
        <!-- START bg picture -->
        <img :src="background" :style="{ filter: 'brightness(29%)' }" alt=""
          class="absolute inset-0 -z-10 h-full w-full object-cover" />
        <!-- END bg picture -->

        <!-- START Entities section -->
        <div v-for="(entity, key) in entities" class="mx-auto flex flex-col mb-4 items-center max-w-7xl px-6 lg:px-8">
          <h1
            class="text-3xl drop-shadow-[0_0_2px_rgba(255,255,255,.1)] sm:text-4xl font-bold mb-2 text-yellow-200 capitalize">
            {{ key }}</h1>
          <div
            class="mx-auto grid max-w-lg grid-cols-1 items-center gap-x-8 gap-y-6 sm:max-w-xl sm:gap-x-8 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <component :is="item.url ? 'a' : 'router-link'" :to="`/c/clusterId/${item.id}`"
              :href="item.url ? item.url : '#'" v-for="item in entity" :key="item.id" class="col-span-1 w-full">
              <div class="flex items-center">
                <div
                  class="flex flex-col flex-shrink-0 w-16 h-16 md:h-20 md:w-20 min-h-10 min-w-10 items-center justify-center bg-white rounded-full">
                  <img class="w-14 h-14 md:h-16 md:w-16 object-contain" :src="item.small_logo()" :alt="item.name" />
                </div>
                <h1 class="ml-2 text-white font-semibold text-md sm:text-lg md:text-xl">{{ item.name }}</h1>
              </div>
            </component>
          </div>
        </div>
      </div>
      <!-- END Entities section -->
    </main>

    <!-- Footer -->
    <footer class="sticky bottom-0 bg-red-900 bg-opacity-40" aria-labelledby="footer-heading">
      <div class="flex items-center justify-center w-full">
        <div class="flex ml-2 space-x-4 pt-2">
          <img v-for="payMethod of payMethods" class="h-8 w-8 sm:h-10 sm:w-10 object-contain" :src="payMethod.symbol"
            alt="payMethod.title" />
        </div>
      </div>
      <h2 id="footer-heading" class="sr-only">Footer</h2>
      <div class="flex justify-center items-center w-full">
        <p class="text-blue-200 text-sm">powered by
        </p>
        <a class="text-emerald-200 py-3" href="https://atitlan.io">
          <img class="ml-2 h-3 drop-shadow-[0_0_1px_rgb(100,100,255)]" :src="atitlanio" />
        </a>
      </div>
    </footer>
  </div>
</template>

<script setup>
import axios from 'axios'
import emporium_logo from '../assets/emporium_logo.svg'
import background from '../assets/background.jpg'
import atitlanio from '../assets/atitlanio.svg'

import { useRoute } from 'vue-router'
const route = useRoute()
const clusterId = route.params.clusterId

import { useRestaurant } from "../composables/useRestaurant"

const { getRestaurants, restaurants, payMethods, btcpay_data, recurrente_data } = useRestaurant()

// clusterdata = await axios.get(`/cluster/${clusterId}`)
// btcpay_data = clusterdata.btcpay_data
// recurrente_data = clusterdata.recurrente_data
// await getRestaurants(clusterdata.restaurants)

const emporiumCluster = ['636523d76f649cb57bb69269', '650b3ddf5569a4a803aa8378', '65611174d7e61f14f4d5eafa']

btcpay_data.value = {
  "api_url": "https://btcpay.atitlan.io",
  "storeId": "61RbUYngikcSH8qFfT1zs5XkMt1SmSGwej2Kx6SYV9n8",
  "checkout": {
    "expirationMinutes": 5,
    "redirectURL": "http://emporium.atitlan.io",
    "defaultLanguage": "en"
  },
  "currency": "GTQ",
  "additionalSearchTerms": [
    "Restaurant",
    "Cafe",
    "Bakery"
  ]
}

// TODO figure out how to store the private key so you can use this, right now it's hard-coded into the server
// recurrente_data.value =  {}


await getRestaurants(emporiumCluster)

const entities = {
  restaurants: restaurants.value,
  stores: [
    {
      id: '650b3ddf5569a4a803aa8378', name: "Marketplace", url: "https://market.atitlan.io", small_logo: function () {
        return `https://market.atitlan.io/assets/atitlanio_small_logo-6c9ca8e9.png`
      }
    },
  ]
}


</script>
