<template>
  <!-- <div class="absolute inset-0 flex justify-center items-center z-10"> -->
  <!--   <div class="h-48 w-48 bg-white" v-if="qrPageVisible"> -->
  <!--     hello -->
  <!--   </div> -->
  <!-- </div> -->
  <ModalPopup class="z-[9999]" :amount="input" :open="qrPageVisible" @close="closeQrPage" v-if="qrPageVisible" />
  <div class="absolute inset-0 bg-blue-700">
    <div class="flex flex-col translate-y-32 justify-center w-full p-3">
      <!-- <input ref="kioskInput" type="text" v-model="input" data-kioskboard-type="numpad" data-kioskboard-placement="bottom" -->
      <!--   data-kioskboard-specialcharacters="false" -->
      <!--   class="js-virtual-keyboard bg-transparent border-none outline-none shadow-none text-black placeholder-gray-400 text-7xl max-w-[80%] font-bold" /> -->
      <!-- <p class="ml-4 flex items-center text-7xl">Q</p> -->
      <div>
        <label htmlFor="price" className="flex justify-center mb-14 text-6xl font-bold leading-6 text-yellow-100">
          Amount
        </label>
        <div className="relative max-w-sm mx-auto mt-4 flex justify-center">
          <!-- <div className="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"> -->
          <!--   <span className="text-gray-500 text-3xl">Q</span> -->
          <!-- </div> -->
          <input type="text" name="amount" id="amount" maxlength="5" ref="kioskInput"
            class="js-virtual-keyboard text-7xl pl-6 text-center drop-shadow-[0_0_2px_rgb(0,255,255)] bg-transparent text-emerald-200 font-bold block w-full rounded-md border-0 py-1.5 pr-12 ring-0 ring-inset ring-gray-300 placeholder:text-gray-50 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
            placeholder="0" aria-describedby="price-currency" data-kioskboard-type="numpad"
            data-kioskboard-placement="bottom" data-kioskboard-specialcharacters="false" />
          <div className="pointer-events-none absolute inset-y-0 right-2 flex items-center pr-3">
            <span className="text-gray-50 text-7xl font-bold drop-shadow-sm" id="price-currency">
              Q
            </span>
          </div>
        </div>
      </div>
      <div v-if="input" class="flex w-full justify-center mt-2">
        <button @click="clearInput"
          class="bg-red-200 text-red-600 border border-red-500 px-10 py-1 rounded-md">clear</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, watch } from 'vue'
import NodeApi from '../services/NodeApi'
import KioskBoard from 'kioskboard'
import ModalPopup from '../components/keypad/ModalPopup.vue'
import 'kioskboard/dist/kioskboard-2.3.0.min.css';

const input = ref("")
const kioskInput = ref(null)
const qrPageVisible = ref(false)

const closeQrPage = function () {
  qrPageVisible.value = false
}

const clearInput = function () {
  input.value = ""
  if (kioskInput.value) {
    kioskInput.value.value = '';
  }
}

// debounce function is used to ensure that only the first event within a short timeframe is handled. This doesn't solve the root problem (of double event handling) but can mitigate its effects.
const debounce = (func, wait) => {
  let timeout;
  return function executedFunction(...args) {
    const later = () => {
      clearTimeout(timeout);
      func(...args);
    };
    clearTimeout(timeout);
    timeout = setTimeout(later, wait);
  };
};

const comments = ref("")
const getQrCode = function () {
  qrPageVisible.value = !qrPageVisible.value
}
// const sayHello = function () {
//   // Build the payload
//   const payload = {
//     entityId: '636523d76f649cb57bb69269', // restaurant.value._id, this is the mongodb restaurant _idray, // restaurant.value._id, this is the mongodb restaurant _id
//     payMethod: "Card",
//     currency: 'GTQ',
//     amount: Number(input.value), // Number
//     thermalPrinterAutoSSHPort: null, // Number
//     // this gets stored in posData as well on the server for BTCPay
//     metadata: {
//       items: [''], // Array of objects
//       comments: comments.value // String
//     },
//     btcpay_data: {} // payMethod === 'BTC' ? restaurantsObject['636523d76f649cb57bb69269'].btcpay_data : {}, // Object
//   }
//
//   NodeApi.createInvoice(
//     payload
//   )
//     .then((res) => {
//       axios.get(res.data.storefront_link + '/qr')
//         .then((result) => {
//           const doc = (new DOMParser()).parseFromString(result.data, 'text/html')
//           const qrCode = doc.getElementsByClassName('recurrente-qr-code')[0]
//           svg_d.value = qrCode.innerHTML.split('"')[1]
//           qrOpen.value = true
//         });
//     })
// }


onMounted(() => {
  const options = {
    /*!
    * Required
    * An Array of Objects has to be defined for the custom keys. Hint: Each object creates a row element (HTML) on the keyboard.
    * e.g. [{" key":"value"}, {"key":"value"}]=> [{"0":"A","1":"B","2":"C"}, {"0":"D","1":"E","2":"F"}]
*/
    keysArrayOfObjects: [
      {
        "0": "Q",
        "1": "W",
        "2": "E",
        "3": "R",
        "4": "T",
        "5": "Y",
        "6": "U",
        "7": "I",
        "8": "O",
        "9": "P"
      },
      {
        "0": "A",
        "1": "S",
        "2": "D",
        "3": "F",
        "4": "G",
        "5": "H",
        "6": "J",
        "7": "K",
        "8": "L"
      },
      {
        "0": "Z",
        "1": "X",
        "2": "C",
        "3": "V",
        "4": "B",
        "5": "N",
        "6": "M"
      }
    ],
    /*!
    * Required only if "keysArrayOfObjects" is "null".
    * The path of the "kioskboard-keys-${langugage}.json" file must be set to the "keysJsonUrl" option. (XMLHttpRequest to
    get the keys from JSON file.)
    * e.g. '/Content/Plugins/KioskBoard/dist/kioskboard-keys-english.json'
    */
    keysJsonUrl: null,

    /*
    * Optional: An Array of Strings can be set to override the built-in special characters.
    * e.g. ["#", "€", "%", "+", "-", "*"]
    */
    keysSpecialCharsArrayOfStrings: null,

    /*
    * Optional: An Array of Numbers can be set to override the built-in numpad keys. (From 0 to 9, in any order.)
    * e.g. [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
    */
    keysNumpadArrayOfNumbers: null,

    // Optional: (Other Options)

    // Language Code (ISO 639-1) for custom keys (for language support) => e.g. "de" || "en" || "fr" || "hu" || "tr" etc...
    language: "en",

    // The theme of keyboard => "light" || "dark" || "flat" || "material" || "oldschool"
    theme: "light",

    // Scrolls the document to the top or bottom(by the placement option) of the input/textarea element. Prevented when "false"
    autoScroll: true,

    // Uppercase or lowercase to start. Uppercased when "true"
    capsLockActive: false,

    /*
    * Allow or prevent real/physical keyboard usage. Prevented when "false"
    * In addition, the "allowMobileKeyboard" option must be "true" as well, if the real/physical keyboard has wanted to be
    used.
    */
    allowRealKeyboard: false,

    // Allow or prevent mobile keyboard usage. Prevented when "false"
    allowMobileKeyboard: false,

    // CSS animations for opening or closing the keyboard
    cssAnimations: true,

    // CSS animations duration as millisecond
    cssAnimationsDuration: 360,

    // CSS animations style for opening or closing the keyboard => "slide" || "fade"
    cssAnimationsStyle: "slide",

    // Enable or Disable Spacebar functionality on the keyboard. The Spacebar will be passive when "false"
    keysAllowSpacebar: true,

    // Text of the space key (Spacebar). Without text => " "
    keysSpacebarText: "Space",

    // Font family of the keys
    keysFontFamily: "sans-serif",

    // Font size of the keys
    keysFontSize: "22px",

    // Font weight of the keys
    keysFontWeight: "normal",

    // Size of the icon keys
    keysIconSize: "25px",

    // Text of the Enter key (Enter/Return). Without text => " "
    keysEnterText: "Enter",

    // the callback function of the enter key. this function will be called when the enter key has been clicked.
    keysEnterCallback: debounce(getQrCode, 300),

    // The Enter key can close and remove the keyboard. Prevented when "false"
    keysEnterCanClose: false,
  }

  KioskBoard.run('.js-virtual-keyboard', options)
  if (kioskInput.value) {
    kioskInput.value.focus();
    // Manually update the Vue reactive variable when the input value changes
    kioskInput.value.addEventListener('change', () => {
      input.value = kioskInput.value.value;
    });
  }
})
</script>

<style scoped></style>
