<template>
  <RestaurantPage />
</template>

<script setup async>
import RestaurantPage from './RestaurantPage.vue'
import { useRestaurant } from '../composables/useRestaurant'

const { getRestaurants, restaurantsObject } = useRestaurant()

import { useRoute } from 'vue-router'
const route = useRoute()
const clusterId = route.params.clusterId

if (Object.keys(restaurantsObject).length === 0) {
  // GET request for clusterId to pull down
  // 1) restaurantIds
  // 2) BTCPay Auth
  // 3) Recurrente Auth
  console.log(clusterId)
  // const response = await axios.get(`/clusters/${clusterId}`)
  // entities = response.entities
  // btcpay_data.value = response.btcpay_data
  // recurrente_data.value = response.recurrente_data
  // await getRestaurants(entities)

  await getRestaurants(['636523d76f649cb57bb69269', '650b3ddf5569a4a803aa8378', '65611174d7e61f14f4d5eafa'])
}

//import { useRestaurant } from './composables/useRestaurant'
//const { restaurantsObject, getRestaurants } = useRestaurant()

</script>
