<template>
  <div class='bg-homepage overflow-hidden fixed inset-0'>
    <!-- <ClosedSign v-if="isOpen()" class="z-30 text-center absolute top-[85px] md:top-[20px]  right-[3%] md:right-[10%]" /> -->
    <!-- START APP SHELL -->
    <TopBar :banner_logo="restaurant.banner_logo" class="z-50" />
    <!-- NOTE: <SideBar/> has to come before MobileSidebar, otherwise the sidebar will close undesirably -->
    <SideBar :restaurant="restaurant" class="hidden lg:fixed lg:inset-y-0 lg:flex lg:flex-col w-64 " />

    <MobileSidebar :restaurant="restaurant" />
    <BottomBar class="z-20" @toggleQuickView="toggleQuickView" />
    <!-- END APP SHELL -->

    <!-- START MAIN CONTENT -->
    <main class="py-4 sm:py-10 lg:pl-72 overflow-y-scroll h-full">
      <div>
        <ItemPage @toggleQuickView="emitProduct" :items="items" />
      </div>
    </main>
    <!-- END MAIN CONTENT -->

    <QuickView :quickViewOpen="quickViewOpen" :item="itemHolder" @closeQuickView="quickViewOpen = false" />
    <CartSlideOver />
    <LoadingScreen class="z-40" />
    <!-- =#=#=#=#=#=#=#=#=#=#=#=#=#  ATITLAN.IO DESKTOP BAR  #=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#  -->

  </div>
</template>

<script setup>
import { ref, onMounted, watch } from 'vue'
import TopBar from '../components/shell/topbar/TopBar.vue'
// import ClosedSign from '../components/ClosedSign.vue'
import SideBar from '../components/shell/SideBar.vue'
import LoadingScreen from '../components/LoadingScreen.vue'
import BottomBar from '../components/shell/BottomBar.vue'
import MobileSidebar from '../components/shell/MobileSidebar.vue'
import ItemPage from '../components/ItemPage.vue'
import QuickView from '../components/QuickView.vue'
import CartSlideOver from '../components/cart/CartSlideOver.vue'
import { useRestaurant } from '../composables/useRestaurant'

import { useRoute } from 'vue-router'
const route = useRoute()
const clusterId = route.params.clusterId
//const restaurantId = route.params.restaurantId // || ['636523d76f649cb57bb69269', '650b3ddf5569a4a803aa8378', '65611174d7e61f14f4d5eafa']
const catchAllParam = route.params.catchAll
const restaurantId = '636523d76f649cb57bb69269'

const restaurant = ref({})
const items = ref()

const {
  getRestaurants,
  kioskBool,
  restaurants,
  restaurantsObject,
  selectedRestaurant,
  itemHolder,
} = useRestaurant()

watch(selectedRestaurant, (newVal) => {
  loadRestaurant(newVal.id)
})

const loadRestaurant = async function (restaurantId) {
  await getRestaurants([restaurantId])
  restaurant.value = restaurantsObject[restaurantId]
  items.value = restaurantsObject[restaurantId].items

  const currentStyleElement = document.getElementById("custom_css")
  const styleElement = document.createElement('style');
  styleElement.id = "custom_css"
  styleElement.textContent = restaurantsObject[restaurantId].css
  if (catchAllParam === "kiosk") {
    console.log("🖥️ Kiosk Mode Enabled")
    kioskBool.value = true
  }
  if (currentStyleElement) {
    currentStyleElement.parentNode.replaceChild(styleElement, currentStyleElement)
  } else {
    document.head.appendChild(styleElement)
  }
}

loadRestaurant(restaurantId)
if (clusterId) {
  selectedRestaurant.value = restaurants.value.find(obj => obj.id === restaurantId)
}


const quickViewOpen = ref(false)
const toggleQuickView = function (product) {
  itemHolder.value = product
  quickViewOpen.value = true
}

const emitProduct = function (product) {
  toggleQuickView(product)
}

</script>

<style></style>

// EXAMPLE STYLING
// if (restaurantId == "636523d76f649cb57bb69269") { // Ixchel
// styleElement.textContent = `
// .bg-homepage
// {
// background-color: rgb(0, 0, 0);
// background-image: url('https://emporium.atitlan.io/background-image.svg');
// background-size: 500px 221px;
// }
// .text-icons { color: white}
// .bg-side-bar, .bg-top-bar {background-color: rgba(134,99,24,.75)}
// .bg-bottom-bar {background-color: rgba(134,99,24,.95)}
// .bg-category { background-color: rgba(0,0,0,.5) }
// .bg-ulist { background-color: rgba(0,0,0,1);}
// .text-menu-items { color: white;}
// .text-cat-color { color: white;}
// .text-subcat-color { color: white;}
// .text-item-color { color: white;}
// .text-price-color { color: white;}
// .text-drop-shadow { text-shadow: 0px 0px 1px yellow; }
// `
// } else if (restaurantId == "637f9e36e47d888550a34641") { // Vida
// styleElement.textContent = `
// .bg-homepage {background-color: rgb(244, 248, 255); background-image:
url('https://vida.atitlan.io/background-image.svg'); background-size: 1000px 442px;} .text-icons { color: black}
.bg-top-bar {background: rgba(244,248,244,.88);} .bg-side-bar, .bg-bottom-bar { background: rgba(244,248,244,.99);}
.bg-category { background-color: rgba(100,100,100,.5) } .bg-ulist { background-color: rgba(190,190,190,1);}
.text-menu-items { color: white;}
// `
// } else if (restaurantId == "650b3ddf5569a4a803aa8378") { // Buho
// styleElement.textContent = `
// .bg-homepage { background-color: rgb(151, 142, 137); background-position: center; background-image:
url('https://atitlan.io/restaurants/650b3ddf5569a4a803aa8378/background_image'); background-size: 256px 256px;}
.text-icons { color: white} .bg-side-bar, .bg-top-bar, .bg-bottom-bar {background: rgba(106, 85, 75, .8)} .bg-category {
background-color: rgba(197,180,163,.5) } .bg-ulist { background-color: rgba(211,204,200,.6);} .text-cat-color { color:
black;} .text-subcat-color { color: black;} .text-item-color { color: black;} .text-price-color { color: black;}
.text-drop-shadow { text-shadow: 0px 0px 1px yellow; }
// `
// }
