<template>
    <li class="relative flex py-1 sm:py-3">
        <!-- ############################## restaurant logo ##############################  -->
        <img class="absolute h-[35px] -translate-x-2 -translate-y-2 bg-white rounded-full p-[1px] shadow-md"
            :src="`https://atitlan.io/restaurants/${product.restaurant}/small_logo`" />
        <!-- NOTE: we don't pass this in as a prop because it is dependent on the product (maybe another way exists) -->
        <!-- ############################## restaurant logo ##############################  -->

        <!-- ############################## item pic ##############################  -->
        <div class="flex-shrink-0 w-24 h-24 overflow-hidden border border-gray-200 rounded-md">
            <img :src="product.imgSrc ? getImgURL(product.imgSrc) : missingPicture" :alt="product.imageAlt"
                class="object-cover object-center w-full h-full" />
        </div>
        <!-- ############################## item pic ##############################  -->

        <div class="flex flex-col flex-1 ml-4">
            <div class="flex flex-col justify-around h-full mb-2">
                <div class="flex justify-between text-base font-medium text-gray-900">
                    <h3>
                        <a>
                            {{ product.name }}
                        </a>
                        <a class="ml-5 text-sm font-light" v-if="product.addedOn" v-for="addOn in product.addedOn"
                            :key="addOn">
                            <br>
                            +{{ addOn }}
                        </a>
                    </h3>
                    <p class="ml-4">
                        {{ product.price }}Q
                    </p>
                </div>
                <div class="flex justify-between w-1/2 mx-auto">
                    <button @click="delFromCart(product)"><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <!-- <img src="icons/plus-button.svg"> -->
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg></button>
                    <button @click="addToCart(product)"><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg></button>
                </div>

            </div>
            <div class="flex items-end justify-around flex-1">
                <p class="text-xs font-light text-gray-600">Quantity: {{ product.quantity }}</p>
            </div>
        </div>
    </li>
</template>

<script setup>
import { computed } from 'vue'
import { useCartStore } from '../../stores/CartStore'
import { useSlideovers } from '../../composables/useSlideovers'
import missingPicture from '../../assets/missingPicture.webp'

const { closeCart } = useSlideovers()

const cartStore = useCartStore()
const props = defineProps(['product'])

function getImgURL(urlSuffix) {
    return new URL(urlSuffix, import.meta.env.VITE_BASE_URL)
}
function addToCart(product) {
    cartStore.addToCart(product)
}
function delFromCart(product) {
    cartStore.delFromCart(product)
    if (cartStore.cartQty === 0) {
        closeCart()
    }
}

function removeAllItemFromCart(product) {
    cartStore.delAllItemFromCart(product)
    // close the cart if it's empty
    if (cartStore.cartQty === 0) {
        closeCart()
    }
}

const description = computed(() => {
    return props.product.description.substring(0, 60) + '...'
})

const item_cost = computed(() => {
    return props.product.price * props.product.quantity
})

</script>
