<template>
  <HoursModal class="z-30" />
  <SuccessModal class="z-30">
    <div class="mt-2">
      <p class="text-3xl my-2">👾 🎉 🥗</p>
      <p class="text-sm text-gray-500 my-1">Pay to complete the trasaction,</p>
      <p class="text-sm text-gray-500 my-1">Thank you!</p>
    </div>
  </SuccessModal>
  <ErrorModal class="z-30" :errorModal="printerErrorModal" @closeErrorModal="closePrinterErrorModal">
    <div class="mt-2 text-center">
      <p class="text-5xl my-2">🤔</p>
      <p class="text-sm text-gray-500 my-1">Hmm something may have gone wrong,</p>
      <p class="text-sm text-gray-500 my-1">check to make sure the order was received!</p>
    </div>
  </ErrorModal>
  <QRPage :svg_d="svg_d" class="z-50" v-if="qrOpen" @close="closeAndClearQR" />
  <EmbeddedWebpage :visible="embeddedPageOpen" :webpageUrl="btcPayLink" />
  <!-- Preloaded Tailwind Utilities for dynamic class bindings-->
  <!-- bg-orange-50 bg-orange-200 bg-orange-300 bg-green-50 bg-green-200 bg-green-300 bg-fuchsia-50 bg-fuchsia-200 bg-fuchsia-300 hover:bg-indigo-100 hover:bg-indigo-200 hover:bg-indigo-300 hover:bg-indigo-100 hover:bg-indigo-200 hover:bg-indigo-300 -->

  <!-- <Modal class="z-30" :modalOpen="modalOpen" @closeModal="modalOpen = false" /> -->
  <TransitionRoot as="template" :show="cartOpen">
    <Dialog as="div" class="relative z-10" @close="closeCart">
      <TransitionChild as="template" enter="ease-in-out duration-500" enter-from="opacity-0" enter-to="opacity-100"
        leave="ease-in-out duration-500" leave-from="opacity-100" leave-to="opacity-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed inset-0 overflow-hidden">
        <div class="relative inset-0 overflow-hidden">
          <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
            <TransitionChild as="template" enter="transform transition ease-in-out duration-500 sm:duration-700"
              enter-from="translate-x-full" enter-to="translate-x-0"
              leave="transform transition ease-in-out duration-500 sm:duration-700" leave-from="translate-x-0"
              leave-to="translate-x-full">
              <DialogPanel class="pointer-events-auto relative w-screen max-w-md">
                <TransitionChild as="template" enter="ease-in-out duration-500" enter-from="opacity-0"
                  enter-to="opacity-100" leave="ease-in-out duration-500" leave-from="opacity-100" leave-to="opacity-0">
                  <div class="absolute bottom-0 left-0 -ml-8 flex pb-4 pr-2 sm:-ml-10 sm:pr-4">
                    <button type="button"
                      class="rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-white"
                      @click="closeCart">
                      <span class="sr-only">Close panel</span>
                      <XMarkIcon class="h-6 w-6" aria-hidden="true" />
                    </button>
                  </div>
                </TransitionChild>



                <div class="flex h-full flex-col overflow-y-hidden bg-white">
                  <!-- <div class="px-4 sm:px-6">
                    <DialogTitle class="text-lg font-medium text-gray-900">Panel title</DialogTitle>
                  </div> -->


                  <!-- ##############################  Cash Confirmation Screen ##############################  -->

                  <div v-if="confirm && cartStore.selectedPayMethod.title === 'Cash'"
                    class="absolute flex flex-col justify-between z-20 w-full h-full px-6 overflow-y-scroll text-center text-slate-600"
                    :class="`bg-${cartStore.selectedPayMethod.color}-50`">
                    <div class="mx-4 mt-4">
                      <p class="text-4xl sm:text-5xl font-extrabold mt-6 sm:mt-8">Attention!</p>
                    </div>
                    <div class="mx-2 flex flex-col">
                      <p class="px-1 sm:px-8 text-lg sm:text-2xl">Order <span class="text-red-400 font-bold"><i>not
                            started</i></span> until paid</p>
                      <div>
                        <p class="px-1 sm:px-8 text-xs">Our fresh and locally-sourced items are subject to
                          availability.</p>
                        <!-- <p class="px-6 sm:px-8 font-light text-xs sm:text-md">If change -->
                        <!--   (cambio;sencillo) is not available -->
                        <!--   the best we can offer is restaurant credit in the form of a card!</p> -->
                      </div>

                      <!-- ##############################  Factura Option Screen ##############################  -->
                      <form>
                        <div class="pt-2 grid grid-cols-1 gap-x-8 gap-y-4 border-b border-t border-gray-900/10 pb-6">
                          <div>
                            <h2 class="text-xl font-semibold leading-7 text-gray-900 mt-1"> Quieres Una Factura? 🧾</h2>
                          </div>

                          <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-4">
                            <div class="col-span-full">
                              <label for="full-name" class="block text-sm font-medium leading-6 text-gray-900">Full
                                name / Nombre Completo</label>
                              <div class="mt-2">
                                <input type="text" name="full-name" id="full-name" v-model="factura.name"
                                  class="block w-full rounded-md border-0 pl-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" />
                              </div>
                            </div>

                            <div class="col-span-full">
                              <label for="nit" class="block text-sm font-medium leading-6 text-gray-900">NIT</label>
                              <div class="mt-2">
                                <input type="text" name="nit" id="nit" v-model="factura.nit"
                                  class="block w-full rounded-md border-0 pl-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" />
                              </div>
                            </div>

                            <div class="col-span-full">
                              <label for="direccion"
                                class="block text-sm font-medium leading-6 text-gray-900">Address/Direccion</label>
                              <div class="mt-2">
                                <input type="text" name="direccion" id="direccion" v-model="factura.address"
                                  class="block w-full rounded-md border-0 pl-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                              </div>
                            </div>

                            <div class="col-span-full">
                              <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email /
                                Correo</label>
                              <div class="mt-2">
                                <input id="email" name="email" type="email" v-model="factura.email"
                                  class="block w-full rounded-md border-0 pl-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                              </div>
                            </div>

                          </div>
                        </div>
                      </form>
                      <!-- ##############################  End Factura Option Screen ##############################  -->

                      <!--                   <div class="bg-white p-2 mx-8 rounded-lg border border-slate-200 shadow-md"> -->
                      <!--                     <h3 class="text-md sm:text-lg mb-1 sm:mb-4">Tip suggestions:</h3> -->
                      <!--                     <table class="w-full"> -->
                      <!--                       <tr class="border-b border-slate-300 text-xs sm:text-base"> -->
                      <!--                         <th class="" v-for="percent in [10, 15, 20]">{{ percent }}%</th> -->
                      <!--                       </tr> -->
                      <!--                       <tr> -->
                      <!--                         <th class="text-xs sm:text-base" v-for="percent in [10, 15, 20]">{{ -->
                      <!-- roundToFive(cartSubTotal -->
                      <!--   * (percent / 100), -->
                      <!--   percent) }} Q</th> -->
                      <!--                       </tr> -->
                      <!--                     </table> -->
                      <!--                   </div> -->
                      <!-- ############################ Comment Box ################################## -->
                      <div>
                        <!-- <label for="comment" class="block text-sm font-medium text-gray-700">Add your comment <span v-if="comments.length > 0" @click="cartStore.comments=''" class="pl-1 text-xs font-light text-red-400"> (clear)</span></label> -->
                        <h2 class="mt-2 sm:mt-6 text-xl sm:text-2xl">Comments:</h2>
                        <div class="mt-1 border p-1 rounded-md">
                          <textarea v-model="cartStore.comments" rows="4" name="comment"
                            placeholder="Name and location help! e.g., &#13;&#10; Optimus Prime, abajo (downstairs) &#13;&#10; Catwoman, arriba (upstairs) &#13;&#10;"
                            id="comment"
                            class="block p-1 w-full text-xs sm:text-sm font-medium border-blue-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" />
                        </div>
                      </div>

                    </div>
                    <div class="flex items-center justify-around w-full mb-6 sm:mb-12">
                      <button v-if="!loading" type="button" @click="confirm = false"
                        class="px-3 shadow inline-flex justify-center text-center sm:px-3.5 py-2 text-lg sm:text-2xl font-bold rounded-lg text-amber-700 bg-amber-100 hover:bg-amber-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500">
                        <ArrowLeftCircleIcon class="h-6 w-6 my-auto mr-0.5" />
                        Back
                      </button>
                      <button type="button" @click="submitPayment"
                        class="px-3 shadow inline-flex justify-center items-center py-2 text-lg font-bold rounded-lg text-green-700 bg-green-100 hover:bg-green-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">Agree
                        & Order!</button>
                    </div>
                  </div>

                  <!-- ##############################  BTC and Card Confirmation Screen ##############################  -->
                  <div v-else-if="confirm"
                    class="absolute flex flex-col justify-between z-20 w-full h-full px-6 overflow-y-scroll text-center text-slate-600"
                    :class="`bg-${cartStore.selectedPayMethod.color}-50`">
                    <div class="mx-4 mt-2">
                      <p class="text-3xl font-extrabold mt-2">Additional Info...</p>
                      <br>
                    </div>
                    <!-- ############################ Comment Box ################################## -->
                    <div class="mx-1 mt-4 ">
                      <div>
                        <!-- <label for="comment" class="block text-sm font-medium text-gray-700">Add your comment <span v-if="comments.length > 0" @click="cartStore.comments=''" class="pl-1 text-xs font-light text-red-400"> (clear)</span></label> -->
                        <h2 class="-mt-6 text-2xl">Comments:</h2>
                        <div class="mt-1 border p-1 rounded-md">
                          <textarea v-model="cartStore.comments" rows="6" name="comment"
                            placeholder="Name and location help! e.g., &#13;&#10; Optimus Prime, abajo (downstairs) &#13;&#10; Catwoman, arriba (upstairs) &#13;&#10;"
                            id="comment"
                            class="block p-1 w-full text-xs font-medium border-blue-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" />
                        </div>
                      </div>
                    </div>

                    <div class="mx-4 space-y-4">
                      <div class="shadow mx-2 p-4 bg-white rounded-lg text-slate-600">
                        <p class="text-2xl sm:text-3xl font-extrabold mb-3">Payment Summary</p>
                        <!-- ######################### Cart Subtotal ############################### -->
                        <section class="mx-6 mb-2">
                          <div class="flex justify-between font-light text-md">
                            <p> Subtotal: </p>
                            <p>{{ cartSubTotal }} Q</p>
                          </div>
                          <!-- ######################### Tip Functionality ############################### -->
                          <div v-if="cartStore.tipPercent != null" class="flex justify-between text-sm font-light">
                            <p class="font-medium">Tip ({{ cartStore.tipPercent }}%) <a href="#"
                                @click.prevent="addTip(-1)" class="text-sm font-medium text-red-500">&nbsp; (clear tip)
                              </a></p>
                            <p>{{ tipAmount }} Q</p>
                          </div>
                          <div v-if="cartStore.selectedPayMethod.fixedFee > 0" class="flex justify-between text-sm">
                            <p class="font-medium"> Fixed Fee: </p>
                            <p> {{ cartStore.selectedPayMethod.fixedFee.toFixed(2) }} Q</p>
                          </div>
                          <div v-if="cartStore.selectedPayMethod.percentFee > 0" class="flex justify-between text-sm">
                            <p class="font-medium"> {{ cartStore.selectedPayMethod.percentFee.toFixed(2) }}% Fee: </p>
                            <p> {{ percentFeeAmount.toFixed(2) }} Q</p>
                          </div>
                          <!-- _______________________________________________________________________ -->
                        </section>
                      </div>
                      <!-- _______________________________________________________________________ -->
                    </div>
                    <!-- ############################ Add a tip! ################################## -->
                    <div class="">
                      <h2 class="text-xl sm:text-2xl mb-2">Choose a tip amount:</h2>

                      <div :class="chooseTipBool ? 'animate-wiggle' : ''"
                        class="flex flex-nowrap justify-center w-full">
                        <div class="shadow rounded-lg">
                          <button v-for=" (tipPercent, index) in [0, 10, 15, 20]" @click="addTip(tipPercent)"
                            type="button"
                            :class="[index === 0 ? 'rounded-l-lg bg-white' : `bg-green-${index * 100} hover:bg-indigo-${index * 100}`, index === 3 ? 'rounded-r-lg' : '']"
                            class="relative inline-flex items-center justify-center px-4 py-4 sm:py-5 text-sm font-medium text-slate-800 focus:z-10 focus:outline-none">
                            +{{ tipPercent }}%
                          </button>
                        </div>
                      </div>
                      <p class="text-sm font-light text-center mt-2">All tips go to the staff<span class="font-light"
                          v-if="cartStore.selectedPayMethod.title === 'BTC'">s' BTC wallets</span>!</p>
                    </div>

                    <!-- ########################### Error Dialog ################################ -->
                    <div v-if="cartStore.selectedPayMethod.title === 'BTC' && error" class="p-4 rounded-md bg-red-50">
                      <div class="flex">
                        <div class="flex-shrink-0">
                          <XCircleIcon class="w-5 h-5 text-red-400" aria-hidden="true" />
                        </div>
                        <div class="ml-3">
                          <h3 class="text-sm font-heavy text-red-800">
                            Request Timed out
                          </h3>
                          <div>
                            <p class="mt-2 text-sm text-red-700 font-light">
                              Either the Lightning node is syncing or down :( Please try again or bring your order
                              to the bar, thank you!
                            </p>
                            <button @click="error = false" class="text-blue-500 font-medium mt-2">Dismiss</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- _______________________________________________________________________ -->

                    <!-- ############################ Amount due: ################################## -->
                    <p class="text-2xl">Amount Due: <span class="text-emerald-500 drop-shadow">{{
    cartTotal
  }}Q</span><span v-if="cartTotal === 69"> 😏</span></p>

                    <!-- ######################### Pay/Back Buttons ############################### -->
                    <div v-if="!loading" class="flex items-center justify-around w-full mb-6 sm:mb-12">
                      <button type="button" @click="confirm = false"
                        class="px-6 shadow inline-flex justify-center items-center py-2 text-lg sm:text-2xl font-bold rounded-lg text-amber-700 bg-amber-100 hover:bg-amber-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500">
                        <ArrowLeftCircleIcon class="h-6 w-6 my-auto mr-0.5" />
                        Back
                      </button>
                      <button type="button" @click="submitPayment"
                        class="px-8 shadow inline-flex justify-center items-center py-2 text-lg sm:text-2xl font-bold rounded-lg text-green-700 bg-green-100 hover:bg-green-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                        Pay!
                      </button>
                    </div>
                    <!-- $$$$$$$$$$$$$$$$$$$ Loading SVG $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
                    <!-- $$$$$$$$$$ https://codepen.io/avstorm/full/RwNzPNN $$$$$$$$$$$ -->
                    <!-- _______________________________________________________________ -->
                    <svg v-else class="mx-auto tea mb-6 sm:mb-12" width="37" height="48" viewbox="0 0 37 48" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M27.0819 17H3.02508C1.91076 17 1.01376 17.9059 1.0485 19.0197C1.15761 22.5177 1.49703 29.7374 2.5 34C4.07125 40.6778 7.18553 44.8868 8.44856 46.3845C8.79051 46.79 9.29799 47 9.82843 47H20.0218C20.639 47 21.2193 46.7159 21.5659 46.2052C22.6765 44.5687 25.2312 40.4282 27.5 34C28.9757 29.8188 29.084 22.4043 29.0441 18.9156C29.0319 17.8436 28.1539 17 27.0819 17Z"
                        stroke="var(--secondary)" stroke-width="2"></path>
                      <path
                        d="M29 23.5C29 23.5 34.5 20.5 35.5 25.4999C36.0986 28.4926 34.2033 31.5383 32 32.8713C29.4555 34.4108 28 34 28 34"
                        stroke="var(--secondary)" stroke-width="2"></path>
                      <path id="teabag" fill="var(--secondary)" fill-rule="evenodd" clip-rule="evenodd"
                        d="M16 25V17H14V25H12C10.3431 25 9 26.3431 9 28V34C9 35.6569 10.3431 37 12 37H18C19.6569 37 21 35.6569 21 34V28C21 26.3431 19.6569 25 18 25H16ZM11 28C11 27.4477 11.4477 27 12 27H18C18.5523 27 19 27.4477 19 28V34C19 34.5523 18.5523 35 18 35H12C11.4477 35 11 34.5523 11 34V28Z">
                      </path>
                      <path id="steamL" d="M17 1C17 1 17 4.5 14 6.5C11 8.5 11 12 11 12" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" stroke="var(--secondary)"></path>
                      <path id="steamR" d="M21 6C21 6 21 8.22727 19 9.5C17 10.7727 17 13 17 13"
                        stroke="var(--secondary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      </path>
                    </svg>
                  </div>

                  <div class="flex flex-col h-full overflow-y-scroll bg-white shadow-xl">
                    <div class="flex p-4 items-baseline justify-between">
                      <DialogTitle class="text-lg lg:text-xl font-medium text-gray-900">
                        Shopping cart
                      </DialogTitle>

                      <!-- ############################ Stash/Restore Cart ################################## -->
                      <button v-if="cartTotal > 0" @click="stashCart" type="button"
                        class="inline-flex items-center text-xs px-3 py-2 md:text-base font-medium text-yellow-600 border-2 bg-yellow-100 border-yellow-300 hover:bg-yellow-50 rounded-lg focus:outline-none">
                        Stash Cart
                        <InboxStackIcon class="w-4 h-4 md:w-5 md:h-5 ml-3 -mr-1" aria-hidden="true" />
                      </button>
                      <button v-else-if="cartStore.stashed.cart.length > 0" @click="popCart" type="button"
                        class="inline-flex items-center px-3 py-2 text-xs md:text-base font-medium text-green-600 bg-green-100 border-2 border-green-300 rounded-md hover:bg-green-50 focus:outline-none">
                        Restore Cart
                        <ReceiptRefundIcon class="w-4 h-4 md:w-5 md:h-5 ml-3 -mr-1" aria-hidden="true" />
                      </button>
                      <!-- ############################ Stash/Restore Cart ################################## -->

                    </div>
                    <!-- ######################### unavailable items warning #########################  -->
                    <div v-if="cartUnavailableItems.length > 0"
                      class="flex w-90 py-1 mx-auto justify-center items-center rounded-md border-2 border-dotted"
                      :class="cartAvailableItems.length === 0 ? 'bg-red-200 border-red-700' : 'bg-yellow-200 border-yellow-700'">
                      <ExclamationTriangleIcon class="h-4 ml-2 text-yellow-700" />
                      <p v-if="cartAvailableItems.length === 0" class="text-xs font-light px-1 text-center">
                        Sorry everything is closed, see you soon!
                      </p>
                      <p v-else class="text-xs font-light px-1 text-center">Some restaurants are closed, available items
                        below
                      </p>
                    </div>
                    <!-- #############################################################################  -->

                    <div class="flex-1 px-4 py-1 md:py-2 overflow-y-auto sm:px-6">

                      <div class="">
                        <div class="flow-root">
                          <!-- ############################## available items ##############################  -->
                          <div v-if="cartAvailableItems.length > 0"
                            :class="cartUnavailableItems.length > 0 ? 'border-2 border-green-600 bg-green-50 border-dashed rounded-md px-2' : ''">
                            <ul role="list" class="divide-y divide-gray-200">
                              <p v-if="cartUnavailableItems.length > 0"
                                class="w-fit px-3 mx-auto text-sm bg-green-300 rounded-b-lg">available
                                items
                              </p>
                              <CartItemEntry v-for="item in cartAvailableItems" :key="item._id" :product="item"
                                :restaurantOpen="restaurantsObject[item.restaurant].open" />
                            </ul>
                          </div>
                          <!-- #############################################################################  -->

                          <!-- ############################# unavailable items #############################  -->
                          <div v-if="cartUnavailableItems.length > 0"
                            class="border-2 mt-2 border-red-600 bg-red-50 border-dashed rounded-md px-2">

                            <div class="w-fit flex py-0.5 px-3 mx-auto bg-red-300 rounded-b-lg items-center">
                              <ClockIcon class="h-5 pr-1" />
                              <p class="text-sm">currently unavailable items
                              </p>
                            </div>

                            <ul role="list" class="divide-y divide-gray-200">
                              <CartItemEntry v-for="item in cartUnavailableItems" :key="item._id" :product="item"
                                :restaurantOpen="restaurantsObject[item.restaurant].open" />
                            </ul>

                          </div>
                          <!-- #############################################################################  -->

                        </div>
                      </div>
                    </div>
                    <div class="px-4 my-1 sm:py-3 border-t border-gray-200 sm:px-6">
                      <div v-if="cartTotal > 0">
                        <!-- ######################### Cart Subtotal ############################### -->
                        <div class="flex flex-col items-center my-0 md:my-1 font-medium text-gray-900">

                          <p class="text-2xl">Subtotal: <span class="text-3xl text-emerald-500 ml-2 drop-shadow">{{
    cartSubTotal
  }}Q</span></p>

                          <!-- ########################### Cash Alert Dialog ################################ -->
                          <div v-if="cartStore.selectedPayMethod.title === 'Cash'" class="p-3 rounded-md bg-yellow-50">
                            <div class="flex items-center justify-center">
                              <div class="flex-shrink-0 ">
                                <ExclamationTriangleIcon class="w-5 h-5 text-yellow-600" aria-hidden="true" />
                              </div>
                              <div class="ml-3">
                                <h3 class="text-sm font-medium text-yellow-800 mb-1">
                                  <span class="text-sm font-light text-yellow-700"> Order not started until amount is
                                    paid </span>
                                </h3>
                              </div>
                            </div>
                          </div>
                          <!-- ########################### Fees Dialog ################################ -->
                          <div v-if="cartStore.selectedPayMethod.fixedFee || cartStore.selectedPayMethod.percentFee"
                            class="px-3 py-1 rounded-md bg-yellow-50">
                            <div class="flex items-center justify-center">
                              <div class="flex-shrink-0 ">
                                <ExclamationTriangleIcon class="w-5 h-5 text-yellow-500" aria-hidden="true" />
                              </div>
                              <div class="ml-3 text-center">
                                <h3 class="text-sm text-yellow-800 mb-1">

                                  <span v-if="cartStore.selectedPayMethod.fixedFee" class="text-sm text-yellow-700">
                                    Fees : {{
    cartStore.selectedPayMethod.fixedFee
  }} Q </span>

                                  <span v-if="cartStore.selectedPayMethod.percentFee"> <span
                                      v-if="cartStore.selectedPayMethod.fixedFee">+</span> {{
    cartStore.selectedPayMethod.percentFee
  }}%</span>

                                  <p class="text-xs font-light">(calculated on next page)</p>

                                </h3>
                              </div>
                            </div>
                          </div>
                          <div v-if="!lightningNodeHealth && cartStore.selectedPayMethod.title === 'BTC'"
                            class="p-3 rounded-md bg-red-50">
                            <div class="flex items-center justify-center">
                              <div class="flex-shrink-0 ">
                                <BoltSlashIcon class="w-5 h-5 text-red-400" aria-hidden="true" />
                              </div>
                              <div class="ml-3 text-center">
                                <h3 class="text-sm text-red-700 mb-1">
                                  The lightning node is offline or syncing!
                                </h3>
                                <h3 class="text-sm text-red-700 font-light mb-1">
                                  Please choose another payment option
                                </h3>
                              </div>
                            </div>
                          </div>
                          <div v-if="!thermalPrinterOnline && cartStore.selectedPayMethod.title != 'Cash'"
                            class="rounded-md bg-red-50 w-11/12 my-1 sm:my-2">
                            <div class="flex items-center justify-center py-3">
                              <div class="px-1">
                                <Battery50Icon class="w-6 h-6 sm:w-8 sm:h-6 text-red-500" aria-hidden="true" />
                              </div>
                              <div class="w-3/4 flex flex-col justify-center items-center text-center">
                                <h3 class="text-sm text-red-700 mb-1 w-fit">
                                  Restaurant may be out of power
                                </h3>
                                <p class="text-sm text-red-700 font-light mb-1 w-3/4">
                                  Verify items are available and pay on-location or try again soon! </p>
                              </div>
                            </div>
                          </div>
                          <p>Choose a payment method:</p>

                          <RadioGroup v-model="cartStore.selectedPayMethod">
                            <RadioGroupLabel class="text-lg font-medium text-gray-900">
                            </RadioGroupLabel>

                            <div class="space-x-2 flex justify-between w-fit mb-2 mx-auto">
                              <RadioGroupOption as="template" v-for="payMethod in payMethods" :key="payMethod.id"
                                :value="payMethod" v-slot="{ checked, active }">
                                <div class='w-20'
                                  :class="[checked ? `border-transparent bg-${payMethod.color}-200` : 'border-gray-300', 'relative flex cursor-pointer rounded-md border p-2 shadow-sm focus:outline-none']">
                                  <span class="flex flex-1 justify-center">
                                    <span class="flex flex-col text-center justify-center">
                                      <RadioGroupLabel as="span" class="block text-sm font-medium py-0.5 text-gray-900">
                                        {{
    payMethod.title
  }}</RadioGroupLabel>
                                      <RadioGroupDescription v-if="payMethod.percentFee > 0 || payMethod.fixedFee > 0"
                                        as="span" class="text-xs font-light text-slate-700">
                                      </RadioGroupDescription>
                                    </span>
                                  </span>
                                  <!-- <CheckCircleIcon v-if="checked" class="h-5 w-5 text-indigo-600" aria-hidden="true" /> -->
                                  <span
                                    :class="[active ? 'border' : 'border-2', checked ? 'border-indigo-500' : 'border-transparent', 'pointer-events-none absolute -inset-px rounded-md']"
                                    aria-hidden="true" />
                                </div>
                              </RadioGroupOption>
                            </div>
                          </RadioGroup>
                          <!-- _______________________________________________________________________ -->
                        </div>
                        <!-- ####################### Payment Button ################################## -->
                        <section class="relative inline-flex justify-center w-full rounded-lg"
                          :class="kioskBool ? '' : 'drop-shadow-sm'">
                          <!-- <p class="flex items-center mr-5 text-sm font-light"> Leave a tip: </p> -->
                          <button @click="confirm = true" :class="`bg-${cartStore.selectedPayMethod.color}-300`"
                            class="flex items-center font-bold rounded-lg text-gray-50 text-md focus:z-10 focus:outline-none">
                            <div v-if="!loading" class="font-md flex">
                              <div><img class="w-48 h-16" :src="cartStore.selectedPayMethod.img"></div>
                              <div class="w-2 bg-yellow-200"></div>
                              <div class="w-2 bg-yellow-300"></div>
                              <div class="flex rounded-r-lg items-center bg-blue-300">
                                <p class="px-3">next »
                                </p>
                              </div>
                            </div>
                          </button>
                        </section>
                        <!-- _______________________________________________________________________ -->
                      </div>
                      <div v-else class="text-center">
                        <p>There's nothing in your cart!</p>
                      </div>


                      <!-- <div class="mt-6">
                      <a href="#" @click="processPayment" class="flex items-center justify-center px-6 py-3 text-base font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700">Pay with Crypto</a>
                    </div> -->
                    </div>
                  </div>
                </div>

              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup>

import { ref, reactive, watch, computed } from 'vue'
import axios from 'axios'
import QRPage from './QRPage.vue'
import EmbeddedWebpage from '../EmbeddedWebpage.vue'
import ErrorModal from '../modals/ErrorModal.vue'
import SuccessModal from '../modals/SuccessModal.vue'
import HoursModal from '../modals/HoursModal.vue'
import CartItemEntry from './CartItemEntry.vue'
// import Modal from '../Modal.vue'
import NodeApi from '../../services/NodeApi'
import { useCartStore } from '../../stores/CartStore'
import { useRestaurant } from '../../composables/useRestaurant'
import { usePopups } from '../../composables/usePopups'
import { useSlideovers } from '../../composables/useSlideovers'
import { XMarkIcon, ReceiptRefundIcon, InboxStackIcon } from '@heroicons/vue/24/outline'
import { ExclamationTriangleIcon, Battery50Icon, ClockIcon, BoltSlashIcon, XCircleIcon, ArrowLeftCircleIcon } from '@heroicons/vue/24/outline'
import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot, RadioGroup, RadioGroupDescription, RadioGroupLabel, RadioGroupOption } from '@headlessui/vue'

const { restaurantsObject, btcpay_data, kioskBool, lightningNodeHealth, thermalPrinterOnline, payMethods, entitiesArray, someRestaurantOpen, checkRestaurantsOpen } = useRestaurant()
const { setLoading, unsetLoading, openHoursModal, openSuccessModal, printerErrorModal, openPrinterErrorModal, closePrinterErrorModal } = usePopups()
const { cartOpen, closeCart } = useSlideovers()


const cartStore = useCartStore()

const tipAmount = ref(0.0) // calcuated in addTip() function
const error = ref(false)
const loading = ref(false)
const chooseTipBool = ref(false)
const confirm = ref(false)

// const factura = reactive({
//   name: "",
//   nit: "",
//   address: "",
//   email: ""
// })

// Recurrente QR Scan Page
const qrOpen = ref(false)
const svg_d = ref('')

// BTCPay
const btcPayLink = ref("")
const embeddedPageOpen = ref(false)

function closeAndClearQR() {
  qrOpen.value = false
  svg_d.value = ''
}

const cartUnavailableItems = ref([])

const cartAvailableItems = computed(() => {
  cartUnavailableItems.value = []
  const availableItems = []
  for (const item of cartStore.cart) {
    if (restaurantsObject[item.restaurant] && restaurantsObject[item.restaurant].open) {
      availableItems.push(item)
    } else {
      cartUnavailableItems.value.push(item)
    }
  }
  return availableItems
})

// These are updating the cartStore... ?
const cartSubTotal = computed(() => {
  return cartAvailableItems.value.reduce((a, b) => a + (b.price * b.quantity), 0);
})

const comments = computed(() => {
  return cartStore.comments
})

const factura = computed(() => {
  return cartStore.factura
})

const percentFeeAmount = computed(() => {
  return Number((cartStore.selectedPayMethod.percentFee / 100 * cartSubTotal.value).toFixed(2))
})

// totalFeeAmount gets sent to the server
const totalFeeAmount = computed(() => {
  return Number((cartStore.selectedPayMethod.percentFee / 100 * cartSubTotal.value + cartStore.selectedPayMethod.fixedFee).toFixed(2))
})

// prob best to just keep the cartStore.cartSubTotal without any fees for the restore cart fct
const cartTotal = computed(() => {
  return Number((cartSubTotal.value + totalFeeAmount.value + tipAmount.value).toFixed(2))
})

const addTip = function (percent) {

  if (percent === - 1) {
    tipAmount.value = 0
    cartStore.tipPercent = null
    return null
  }

  if (percent == 0) {
    tipAmount.value = 0
    cartStore.tipPercent = 0
  } else if (cartStore.selectedPayMethod.title === 'Cash') {
    // do not pass tipAmount.value to roundToFive, otherwise it will keep going up each click
    tipAmount.value = roundToFive(Number((cartSubTotal.value * percent / 100).toFixed(2)), percent)
  } else {
    cartStore.tipPercent = percent
    tipAmount.value = Number((cartSubTotal.value * percent / 100).toFixed(2))
  }
}

watch(cartSubTotal, () => {
  return addTip(cartStore.tipPercent)
})

const whichItemsHaveOpenRestaurants = async function () {
  entitiesArray.value = []

  const uniqueEntityIds = new Set();

  cartStore.cart.forEach(item => {
    uniqueEntityIds.add(item.restaurant)
  });

  entitiesArray.value = Array.from(uniqueEntityIds)

  await checkRestaurantsOpen(entitiesArray.value)

}

watch(cartOpen, async (cartOpen) => {
  if (cartOpen === false) {
    confirm.value = false
  }
  await whichItemsHaveOpenRestaurants()
})

const emptyCart = function () {
  cartStore.emptyCart()
  closeCart()
}
// TODO stash comments, etc
const stashCart = function () {
  cartStore.stashCart({ cart: cartStore.cart, comments: comments.value, tipPercent: cartStore.tipPercent, selectedPayMethod: cartStore.selectedPayMethod, factura: cartStore.factura })
  emptyCart()
}
const popCart = function () {
  cartStore.popCart()
}

const submitPayment = async function () {
  const payMethod = cartStore.selectedPayMethod.title

  // final update to make sure only restaraunts with items are included in entitiesArray
  await whichItemsHaveOpenRestaurants()

  // Show loading icon to lock pay button
  setLoading()

  if (!someRestaurantOpen.value) {
    openHoursModal() // Show modal with dialog & restaurant hours
    loading.value = false
    unsetLoading()
    return null
  }


  // Build the payload
  const payload = {
    entityId: entitiesArray.value, // restaurant.value._id, this is the mongodb restaurant _idray, // restaurant.value._id, this is the mongodb restaurant _id
    payMethod: cartStore.selectedPayMethod.title,
    currency: 'GTQ',
    amount: cartTotal.value, // Number
    thermalPrinterAutoSSHPort: 3001, // Number
    // this gets stored in posData as well on the server for BTCPay
    metadata: {
      items: cartAvailableItems.value, // Array of objects
      tipAmount: tipAmount.value, // Number
      feeAmount: totalFeeAmount.value, // Number
      comments: cartStore.comments, // String
      factura: factura.value, // Object.values(factura.value).some(value => value !== "") ? factura : null
    },
    btcpay_data: payMethod === 'BTC' ? btcpay_data.value : {}, // Object
  }

  if (cartSubTotal.value > 0 && !loading.value) {
    loading.value = true

    // Make user choose tip
    if (payMethod != 'Cash' && cartStore.tipPercent === null) {
      chooseTipBool.value = true
      loading.value = false
      unsetLoading()
      setTimeout(() => {
        chooseTipBool.value = false
      }, 2000)
      return null
    } else {
      payload.cashPayment = true
    }


    // Send request to server 
    // If successful, go to invoice checkout Link, then request a Promise from nodejs server
    // which monitors webhooks to see if the payment is succesfully executed
    NodeApi.createInvoice(
      payload
    )
      .then((res) => {
        if (payMethod === 'Cash') {
          console.log('Cash payment sent to server for printing...')
          if (res.status === 200) {
            openSuccessModal()
          } else {
            openPrinterErrorModal()
          }
        } else if (payMethod === 'BTC') {
          btcPayLink.value = res.data.checkoutLink
          embeddedPageOpen.value = true
        } else if (payMethod === 'Card') {
          // retrieve QR code from recurrente checkout site
          if (kioskBool.value) {
            axios.get(res.data.storefront_link + '/qr')
              .then((result) => {
                const doc = (new DOMParser()).parseFromString(result.data, 'text/html')
                const qrCode = doc.getElementsByClassName('recurrente-qr-code')[0]
                svg_d.value = qrCode.innerHTML.split('"')[1]
                qrOpen.value = true
              });
          } else {
            window.location.href = res.data.storefront_link
          }
        }
        // Clean up cart on success
        stashCart()
        emptyCart()
      })
      // in case the Greenfield API call is unsuccessful
      .catch((err) => {
        error.value = true
        console.error(err)
      })
      .finally(() => {
        loading.value = false // TODO can these get encapsulated in emptyCart() ?
        confirm.value = false
        unsetLoading()
      })
  } else if (loading.value) {
    console.log('Your payment is being processed!')
  } else { alert("Your cart is empty!") }

}

const roundToFive = function (tipAmount, percent) {
  if (cartSubTotal.value == 0) {
    return 0
  } else if (cartSubTotal.value < 10) {
    return 1
  } else if (cartSubTotal.value < 50) {
    return Math.trunc(cartStore.cartSubTotal * percent / 100)
  } else if (cartSubTotal.value <= 75 && percent == 10) {
    return 5
  } else {
    let temp = tipAmount / 5
    // let roundedTip = ( temp % 1 <= 0.49 && temp % 1 != 0) ? Math.trunc(temp) * 5 : (Math.trunc(temp) + 1) * 5
    // let eps = 10 ** (-12)
    // is the remainder of the tipAmount / 5
    let rem = temp % 1
    // console.log('remainder: ' + rem)
    // if the remainder is less than .5 (but not 0) then round down, otherwise round up
    // can probably just put in the parent function equivalent of if tipAmount % 5 = 0, just use the same value
    let roundedTip = (rem < .5) ? Math.trunc(temp) * 5 : Math.trunc(temp + 1) * 5

    return roundedTip === 0 ? 1 : roundedTip
  }

}
</script>

<style type="text/css">
svg.tea {
  --secondary: #000;
  /* --secondary: #FED7AA; */
  /* --secondary: #BBF7D0; */
  /* --secondary: #9A3412; */
}

svg.tea #teabag {
  transform-origin: top center;
  transform: rotate(3deg);
  animation: swing 2s infinite;
}

svg.tea #steamL {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
  animation: steamLarge 2s infinite;
}

svg.tea #steamR {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  animation: steamSmall 2s infinite;
}

@-moz-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}

@-webkit-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}

@-o-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}

@keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}

@-moz-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }

  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@-webkit-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }

  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@-o-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }

  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }

  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@-moz-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }

  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }

  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

@-webkit-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }

  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }

  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

@-o-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }

  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }

  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }

  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }

  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
</style>
