<template>
  <div class="absolute bg-slate-900 inset-0 text-center w-full h-full flex flex-col justify-center items-center">
    <div @click="$emit('close')" class="cursor-pointer flex text-white text-2xl items-center mb-4">
      <ArrowLeftIcon class="h-6 mr-2" />
      <img class="mr-6 h-12" src="https://atitlan.io/restaurants/636523d76f649cb57bb69269/small_logo" />
      <h1 class="text-emerald-400">{{ restaurant.name }}</h1>
    </div>
    <h1 class="text-5xl my-8 text-slate-50">¡Escanéame!</h1>
    <div class="flex justify-center items-center bg-white p-12 rounded-lg">
      <QR />
    </div>
    <h1 class="text-5xl my-8 text-slate-50">Scan me!</h1>
    <div class="flex items-center font-medium text-orange-400">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 mr-2"
        style="margin-top: -2px;">
        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
        <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
      </svg>
      Transacción protegida por Recurrente
    </div>
  </div>
  <!-- EXAMPLE SVG CODE from Recurrente -->
  <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 495 495" shape-rendering="crispEdges" -->
  <!--   xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" -->
  <!--   class="h-64 recurrente-qr-code"> -->
  <!--   <path -->
  <!--     d="M0 0h7v7h-7zM9 0h2v1h-1v1h-1zM12 0h1v1h1v1h-1v1h-1zM16 0h1v1h1v-1h1v1h-1v1h-1v1h-1v-1h-1v-1h1zM20 0h3v1h-1v1h-1v-1h-1zM24 0h1v1h-1zM26 0h1v1h-1zM28 0h1v1h1v-1h1v2h-3v2h-1v3h-1v-2h-1v3h2v-1h1v-1h1v1h-1v1h2v-3h1v-1h1v1h-1v2h1v-2h1v-2h-1v-2h1v-1h1v2h-1v1h1v1h1v-3h1v-1h1v1h-1v2h1v2h-3v1h-1v1h-1v3h-1v1h-1v-1h-1v-1h-6v1h-1v1h-2v-2h-1v1h-2v-1h1v-1h-1v-1h-1v-1h-1v2h1v1h-2v-1h-1v1h-1v1h-1v2h-1v-1h-1v2h-1v-1h-1v-1h-2v1h-1v-2h1v-1h1v-1h2v-2h1v2h1v-2h1v1h1v-2h-1v-2h-1v-1h1v1h1v1h2v-2h1v2h2v-1h1v-1h1v-1h1v1h-1v1h-1v1h1v-1h1v-1h1v1h-1v1h2v-2h1v2h1v-2h1v-1h1v1h-1v2h1v-1h1v-2h1zM38 0h7v7h-7zM1 1v5h5v-5zM39 1v5h5v-5zM2 2h3v3h-3zM40 2h3v3h-3zM29 3h1v1h-1zM8 4h1v1h-1zM13 5v2h1v-2zM16 5v1h1v1h1v-1h1v-1zM21 5v3h3v-3zM19 6v2h1v-2zM22 6h1v1h-1zM34 6h1v1h1v-1h1v1h-1v1h-2v2h-1v-3h1zM2 8h2v1h-1v1h-1zM36 8h3v1h-2v1h-1v2h-1v-1h-1v-1h1v-1h1zM40 8h1v1h-1zM6 9v1h1v-1zM39 9h1v1h-1zM42 9h3v2h-2v-1h-1zM7 10v1h1v-1zM12 10h1v1h-1zM15 10h2v1h1v1h2v1h-3v1h-1v-1h-1v-1h-2v-1h2zM23 10h3v1h-1v1h3v-2h1v1h1v1h-1v1h1v1h2v-1h-1v-2h1v-1h1v1h1v1h1v1h-1v2h-1v-1h-1v1h-1v1h-1v-1h-2v-1h-2v1h1v1h1v1h-2v1h-1v-3h-2v-1h1v-1h-1v-1h-1v-1h1zM37 10h1v2h-1zM40 10h2v1h-2zM2 11h1v1h-1zM5 12h2v1h-2zM11 12h2v2h1v-1h1v2h2v-1h3v-1h1v-1h1v1h-1v1h1v2h-1v-1h-1v2h-1v3h-1v-1h-2v-2h-1v-1h-1v-1h-1v2h1v3h-1v1h-1v1h-1v1h-1v1h1v1h-2v2h1v-1h1v-1h1v1h1v-3h1v1h2v1h-2v3h-1v-1h-1v1h-1v-1h-1v3h-1v-2h-2v-1h-1v1h-3v-2h-1v-1h-1v2h1v1h-1v1h1v-1h1v1h-1v1h1v-1h2v1h-1v1h-2v1h-1v-2h-1v-6h1v-1h-1v-2h1v-1h1v1h-1v2h1v2h1v1h1v-3h-1v-1h1v-1h-1v-1h1v-1h-3v-1h1v-1h-2v-2h1v-2h3v4h-1v1h1v-1h1v-2h1v-1h1v-1h1v3h-1v-1h-1v1h1v1h-2v1h3v-1h1v2h1v2h1v-3h-1v-2h-1v-3h1v1h1v1h1v-2h-1zM32 12v1h1v-1zM41 12h1v1h1v1h-3v1h-2v-1h-1v-1h4zM44 12h1v1h-1zM35 13h1v2h1v2h-1v1h3v-2h1v-1h3v-1h1v3h1v1h-1v1h-3v2h1v-1h2v1h-2v1h-1v1h1v-1h2v-1h1v2h-1v1h-1v-1h-1v2h-2v1h2v1h1v-2h1v2h-1v2h2v1h-1v1h-2v-2h-1v1h-1v5h-1v1h1v-1h1v-4h1v1h2v1h-1v1h-1v4h1v-2h1v-1h-1v-1h1v-1h1v4h-1v1h-1v2h1v-1h1v1h-1v3h-1v-2h-1v-1h-1v1h-3v1h2v3h-2v-2h-1v1h-2v-2h-2v-1h-2v1h-1v-1h-1v-1h2v-1h-1v-2h4v1h-3v1h3v1h-1v1h1v-1h1v2h1v-4h-1v-1h1v-1h-5v-1h-2v3h-1v-2h-2v-1h-1v3h1v-1h1v4h-1v-1h-1v2h-1v2h1v-2h2v1h-1v1h3v1h-7v-1h-1v-1h-2v-1h-1v-2h-2v2h-1v1h1v-1h2v1h-2v1h2v1h-5v-1h1v-3h1v-2h-1v-1h-2v-1h-1v-1h-1v-1h-2v-1h2v1h1v1h1v-3h-3v-1h-1v-1h-2v1h-2v-1h1v-1h2v-1h-1v-1h1v1h1v2h2v1h2v-2h-1v-1h3v-1h1v-2h1v2h2v-2h1v-1h-1v-1h-1v-1h-1v-1h-2v-1h2v-1h1v1h2v-1h1v-1h2v1h2v-1h1v2h1v2h-1v1h1v1h1v1h-1v2h-1v-1h-1v1h-1v-1h-1v1h-2v1h-1v-1h-1v1h-1v2h1v-1h1v1h2v-1h1v1h-1v1h-2v1h-2v1h-1v1h-1v-2h-2v-1h-1v1h1v1h1v1h-1v1h1v-1h1v2h-1v1h2v1h2v-1h-1v-1h-1v-2h1v-1h1v1h-1v2h1v-1h1v1h1v-2h-1v-2h1v1h2v-3h1v-2h1v-1h1v2h1v-1h1v2h-1v2h1v-2h1v1h1v1h-1v1h1v-1h1v-2h-1v-1h-1v-2h-1v-2h1v-1h1v-1h-2v-2h1v1h1v-1h1v-2h-2v1h-1v-2h-1v-1h1v1h1v-1h2v2h1v-4h1v-1h1v1h1v-1h1zM2 14v2h1v-2zM11 16v2h1v-2zM16 16v1h2v-1zM34 16v1h1v-1zM40 16v2h-1v1h1v-1h1v-1h1v-1zM21 17h1v1h-1zM42 17v1h1v-1zM12 18v1h1v-1zM5 19v1h2v-1zM32 19v1h-1v2h-1v1h-1v1h1v2h-1v3h1v-1h1v-2h1v1h1v-1h1v1h-1v1h1v-1h1v-1h2v2h1v-1h1v-1h-1v-1h-2v-2h-1v2h-2v-2h-1v-1h3v-1h-2v-2zM34 19v1h1v1h1v-1h1v-1zM5 21v3h3v-3zM21 21v3h3v-3zM37 21v3h3v-3zM6 22h1v1h-1zM18 22v2h1v1h1v-2h-1v-1zM22 22h1v1h-1zM38 22h1v1h-1zM31 24h1v1h-1zM6 25v1h1v-1zM20 25v1h-1v1h2v-1h2v-1zM24 25v1h1v-1zM39 27v1h-1v1h-1v1h1v-1h1v-1h2v-1zM31 28v1h-1v2h1v-1h1v-2zM14 29v1h-1v2h2v1h1v-2h-1v-2zM35 29v2h-1v1h-1v-1h-1v1h-1v1h1v2h2v-1h1v-1h-1v-1h1v1h2v-1h-1v-3zM38 30v3h-1v1h-1v1h1v1h1v-2h1v-4zM23 31v3h-1v1h-1v1h2v-1h1v-2h1v-1h-1v-1zM6 32h1v1h-1zM1 33h2v1h-2zM4 33h2v1h-1v3h-2v-1h-2v-1h3zM6 34h1v1h-1zM26 34v1h1v-1zM0 36h1v1h-1zM6 36h4v1h-1v1h2v1h-3v-2h-2zM21 37v3h3v-3zM37 37v3h3v-3zM0 38h7v7h-7zM22 38h1v1h-1zM38 38h1v1h-1zM1 39v5h5v-5zM11 39h2v1h-2zM18 39v1h2v-1zM2 40h3v3h-3zM8 41h3v1h-1v1h-2zM12 41h1v2h-1v1h-1v-2h1zM19 41v1h2v-1zM22 42v2h1v-2zM28 42h2v1h-2zM41 42h1v2h-1zM30 43h2v2h-1v-1h-1zM33 43h1v2h-1zM44 43h1v1h-1zM10 44h1v1h-1zM42 44h1v1h-1z" -->
  <!--     style="fill:#000" transform="translate(0,0) scale(11)"></path> -->
  <!-- </svg> -->
</template>

<script setup>
import { defineComponent, h } from 'vue'
import { ArrowLeftIcon } from '@heroicons/vue/24/solid';
import { useRestaurant } from '../../composables/useRestaurant';

const { restaurants } = useRestaurant()
const restaurant = restaurants.value

const props = defineProps(['svg_d'])

const QR = defineComponent({
  render: () =>
    h('svg', {
      class: "w-80",
      style: "fill:#000",
      viewBox: '0 0 495 495',
      "shape-rendering": "crispEdges",
    }, [
      h('path', {
        'fill-rule': 'evenodd',
        d: props.svg_d,
        'clip-rule': 'evenodd',
        'transform': 'translate(0,0) scale(10)'
      }),
    ]),
})


</script>
