<template>
  <Listbox as="div" v-model="selected">
    <div class="rainbow-drop relative mt-2">
      <ListboxButton id="listBox"
        class="relative w-full mx-auto cursor-default rounded-md bg-transparent py-1 text-left text-gray-900 shadow-md border border-gray-400 border-opacity-40 sm:text-sm sm:leading-6">
        <span class="flex w-full items-center">
          <img class="h-20" :src="banner_logo" />
          <!-- <span :aria-label="selected.online ? 'Online' : 'Offline'" -->
          <!--   :class="[selected.online ? 'bg-green-400' : 'bg-gray-200', ' -ml-4 inline-block h-4 w-4 flex-shrink-0 rounded-full']" /> -->
        </span>
        <span
          class="pointer-events-none drop-shadow-[0_0_.5px_rgb(120,120,120)] absolute inset-y-0 right-0 flex items-center pr-2">
          <ChevronUpDownIcon class="rainbow-drop h-8 w-8 text-slate-200" aria-hidden="true" />
        </span>
      </ListboxButton>

      <transition leave-active-class="transition ease-in duration-100" leave-from-class="opacity-100"
        leave-to-class="opacity-0">
        <ListboxOptions
          class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
          <ListboxOption as="template" v-for="_restaurant in restaurants" :key="_restaurant.id" :value="_restaurant"
            v-slot="{ active, selected }">
            <li
              :class="[active ? 'bg-yellow-500 text-white' : 'text-gray-900', 'relative cursor-default select-none py-2 pl-3 pr-9']">
              <div class="flex items-center">
                <!-- <span -->
                <!--   :class="[_restaurant.online ? 'bg-green-400' : 'bg-gray-200', 'inline-block h-2 w-2 flex-shrink-0 rounded-full']" -->
                <!--   aria-hidden="true" /> -->
                <img class="h-6" :src="`${restaurantsObject[_restaurant.id].small_logo}`" />

                <span :class="[selected ? 'font-semibold' : 'font-normal', 'ml-3 block truncate']">
                  {{ _restaurant.name }}
                  <span class="sr-only"> is {{ _restaurant.online ? 'online' : 'offline' }}</span>
                </span>
              </div>

              <span v-if="selected"
                :class="[active ? 'text-white' : 'text-indigo-600', 'absolute inset-y-0 right-0 flex items-center pr-4']">
                <CheckIcon class="h-5 w-5" aria-hidden="true" />
              </span>
            </li>
          </ListboxOption>
        </ListboxOptions>
      </transition>
    </div>
  </Listbox>
</template>

<script setup>
import { watch } from 'vue'
import { useRestaurant } from '../../../composables/useRestaurant'
import { useRoute, useRouter } from 'vue-router'
import { Listbox, ListboxButton, ListboxLabel, ListboxOption, ListboxOptions } from '@headlessui/vue'
import { CheckIcon, ChevronUpDownIcon } from '@heroicons/vue/20/solid'

const router = useRouter()
const { restaurants, restaurantsObject, selectedRestaurant: selected } = useRestaurant()

const props = defineProps(['banner_logo'])

watch(selected, () => {
  router.push(`/c/636523d76f649cb57bb69269,650b3ddf5569a4a803aa8378/${selected.value.id}`)
})
</script>

<style scoped>
.rainbow-drop {
  --blur: 2px;
  /* Define the blur value as a variable */
  animation: rainbow-shadow 6s linear forwards;
  filter: drop-shadow(0 0 var(--blur) rgba(255, 0, 0, 1));
  /* Initial red drop shadow */
}

@keyframes rainbow-shadow {
  0% {
    filter: drop-shadow(0 0 var(--blur) rgba(255, 0, 0, 1));
    /* Red drop shadow */
  }

  14% {
    filter: drop-shadow(0 0 var(--blur) rgba(255, 0, 0, 1));
    /* Red drop shadow */
  }

  28% {
    filter: drop-shadow(0 0 var(--blur) rgba(255, 165, 0, 1));
    /* Orange drop shadow */
  }

  42% {
    filter: drop-shadow(0 0 var(--blur) rgba(255, 255, 0, 1));
    /* Yellow drop shadow */
  }

  57% {
    filter: drop-shadow(0 0 var(--blur) rgba(0, 128, 0, 1));
    /* Green drop shadow */
  }

  71% {
    filter: drop-shadow(0 0 var(--blur) rgba(0, 0, 255, 1));
    /* Blue drop shadow */
  }

  85% {
    filter: drop-shadow(0 0 var(--blur) rgba(75, 0, 130, 1));
    /* Indigo drop shadow */
  }

  99% {
    filter: drop-shadow(0 0 var(--blur) rgba(128, 0, 128, 1));
    /* Purple drop shadow */
  }

  100% {
    filter: none;
  }
}
</style>
