<template>
  <!-- NOTE 64 is the width of the AppShell Sidebar-->
  <header class="sticky top-0 text-center h-28 shadow-xl lg:ml-64">
    <section class="flex justify-between items-center h-full bg-top-bar">
      <div class="flex flex-col ml-4 space-y-2">
        <div class="flex items-center space-x-2">
          <PrinterIcon class="h-4 sm:h-5 text-icons" />
          <div v-if="thermalPrinterOnline" class="h-1.5 w-1.5 sm:h-2 sm:w-2 rounded-full bg-green-300">
          </div>
          <div v-else class="h-1.5 w-1.5 sm:h-2 sm:w-2 rounded-full bg-red-400"></div>
        </div>
        <div v-if="lightningNodeHealth" class="flex items-center space-x-2">
          <BoltIcon class="h-4 sm:h-5 text-yellow-300" />
          <div class="h-1.5 w-1.5 sm:h-2 sm:w-2 rounded-full bg-green-300"> </div>
        </div>
        <div v-else class="flex items-center space-x-2">
          <BoltSlashIcon class="h-4 sm:h-5 text-yellow-200" />
          <div class="h-1.5 w-1.5 sm:h-2 sm:w-2 rounded-full bg-red-400"> </div>
        </div>
      </div>
      <!-- ############################## START Banner Logo on Desktop ##############################  -->
      <div class="">
        <div v-if="Object.keys(restaurantsObject).length === 1" class="flex w-full items-center">
          <img class="h-20" :src="banner_logo" />
          <!-- <span :aria-label="selected.online ? 'Online' : 'Offline'" -->
          <!--   :class="[selected.online ? 'bg-green-400' : 'bg-gray-200', ' -ml-4 inline-block h-4 w-4 flex-shrink-0 rounded-full']" /> -->
        </div>
        <SelectMenu :banner_logo="banner_logo" v-else />
        <!-- <img class="mx-auto w-auto h-20 lg:h-20 lg:my-0 drop-shadow" :src="banner_logo" alt="Banner Logo" /> -->
      </div>
      <!-- ############################## END Banner Logo on Desktop ##############################  -->

      <!-- ############################## START Shopping Cart Icon ##############################  -->
      <div>
        <div class="relative hidden text-icons lg:block mr-4">
          <button @click="openCart" type="button" class="items-center justify-center p-1 mr-1" aria-expanded="false">
            <ShoppingBagIcon class="h-10" />
            <span class="sr-only">items in cart, view bag</span>
            <p class="absolute w-6 bottom-[24%] translate-x-[35%] text-xs font-medium group-hover:text-gray-200">
              {{ cartStore.cartQty }}</p>
          </button>
        </div>
      </div>
      <!-- ############################## END Shopping Cart Icon ##############################  -->
    </section>
  </header>
</template>

<script setup>
import { ShoppingBagIcon } from '@heroicons/vue/24/outline'
import { BoltIcon, BoltSlashIcon, PrinterIcon } from '@heroicons/vue/24/solid'
import SelectMenu from './SelectMenu.vue'
import { useCartStore } from '../../../stores/CartStore'
import { useRestaurant } from '../../../composables/useRestaurant'
import { useSlideovers } from '../../../composables/useSlideovers'

const { openCart } = useSlideovers()

const cartStore = useCartStore()

const { lightningNodeHealth, thermalPrinterOnline, restaurantsObject } = useRestaurant()

const props = defineProps(['banner_logo'])

</script>



