<template>
  <div class="flex justify-center items-center bg-alternate-background md:rounded-t-xl">
    <header class="text-3xl flex justify-center items-center pt-2  ">
      <img class="h-8 w-auto" src="aio-logo.svg" alt="logo" />
    </header>
  </div>
</template>
